In [1]:
import multiprocess as mp
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import math
from tqdm import tqdm
import requests
from urllib.parse import urlparse
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
import datetime
from sklearn.preprocessing import quantile_transform
pd.options.mode.chained_assignment = None  # default='warn'
import gc

In [2]:
def bonbubun_allocator(x):
    # x is a string
    try:
        if pd.isna(x) == True:
            return x
        else:
            return str(int(x))
    except:
        return np.nan

In [3]:
def buildinggroup_modifier(x):
    # x is a string
    
    try:
        return int(x)
    except:
        return x

In [4]:
def add_0(x):
    if pd.isnull(x) == False:
        splitted = x.split('-')
        if len(splitted) == 1:
            return x+'-0'
        else:
            return x
    else:
        return x

In [5]:
basedir = './좌표데이터4/'
filenames = [f for f in os.listdir(basedir) if (f.endswith('.txt'))&(f.startswith('entrc_seoul_202102'))]
filenames

['entrc_seoul_202102.txt']

In [6]:
colnames = ['시군구코드', '출입구일련번호', '법정동코드', '시도명', '시군구명', '읍면동명', '도로명코드', '도로명',
            '지하여부', '건물본번', '건물부번', '건물명', '우편번호', '건물용도분류', '건물군여부', '관할행정동',
            'X좌표', 'Y좌표'
           ]
coor_df = pd.read_csv(basedir + filenames[0], sep='|', header=None, names=colnames, encoding='ansi')
coor_df['도로명주소'] = coor_df['시도명'] + ' ' + coor_df['시군구명'] + ' ' + coor_df['도로명'] + ' '\
+ coor_df['건물본번'].apply(str) + '-' + coor_df['건물부번'].apply(str)
coor_df = coor_df[['도로명주소', 'X좌표', 'Y좌표']].drop_duplicates(subset=['도로명주소'])
print(coor_df.shape)
coor_df.head()

(546319, 3)

                 도로명주소            X좌표           Y좌표
0  서울특별시 종로구 자하문로 94-0  953241.683263  1.954023e+06
1  서울특별시 종로구 자하문로 96-0  953243.258151  1.954034e+06
2  서울특별시 종로구 자하문로 98-0  953240.877646  1.954055e+06
3  서울특별시 종로구 자하문로 99-3  953195.459364  1.954079e+06
4  서울특별시 종로구 자하문로 99-4  953193.346779  1.954097e+06

In [7]:
coor_df.to_csv('./prepped_data/coor_data_ver_1.csv', index=False)