In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import math
from tqdm import tqdm
import requests
from urllib.parse import urlparse
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
import datetime
from sklearn.preprocessing import quantile_transform
pd.options.mode.chained_assignment = None  # default='warn'

# Read Data

In [2]:
def file_reader(basedir, filename):
    if filename.endswith('.csv'):
        try:
            df = pd.read_csv(basedir + filename, header=15)
        except:
            df = pd.read_csv(basedir + filename, encoding='euc-kr', header=15)
    elif filename.endswith('.xlsx'):
        try:
            df = pd.read_excel(basedir + filename, header=16)
        except:
            df = pd.read_excel(basedir + filename, encoding='euc-kr', header=16)
    else:
        print('error')
    
    return df

In [3]:
def read_data():
    basedir = './국토교통부_실거래가_공개시스템/'
    filenames = os.listdir(basedir)
    
    apart_trade_files = [filename for filename in filenames if filename.startswith('아파트(매매)')]
    apart_lease_files = [filename for filename in filenames if filename.startswith('아파트(전월세)')]
    multiplex_trade_files = [filename for filename in filenames if filename.startswith('연립다세대(매매)')]
    multiplex_lease_files = [filename for filename in filenames if filename.startswith('연립다세대(전월세)')]
    officetel_trade_files = [filename for filename in filenames if filename.startswith('오피스텔(매매)')]
    officetel_lease_files = [filename for filename in filenames if filename.startswith('오피스텔(전월세)')]
    
    #
    apart_trade_dfs_list = []
    for filename in apart_trade_files:
        df = file_reader(basedir, filename)
        apart_trade_dfs_list.append(df)
    apart_trade_df = pd.concat(apart_trade_dfs_list).reset_index(drop=True)
    
    #
    apart_lease_dfs_list = []
    for filename in apart_lease_files:
        df = file_reader(basedir, filename)
        apart_lease_dfs_list.append(df)
    apart_lease_df = pd.concat(apart_lease_dfs_list).reset_index(drop=True)
    
    #
    multiplex_trade_dfs_list = []
    for filename in multiplex_trade_files:
        df = file_reader(basedir, filename)
        multiplex_trade_dfs_list.append(df)
    multiplex_trade_df = pd.concat(multiplex_trade_dfs_list).reset_index(drop=True)
    
    #
    multiplex_lease_dfs_list = []
    for filename in multiplex_lease_files:
        df = file_reader(basedir, filename)
        multiplex_lease_dfs_list.append(df)
    multiplex_lease_df = pd.concat(multiplex_lease_dfs_list).reset_index(drop=True)
    
    #
    officetel_trade_dfs_list = []
    for filename in officetel_trade_files:
        df = file_reader(basedir, filename)
        officetel_trade_dfs_list.append(df)
    officetel_trade_df = pd.concat(officetel_trade_dfs_list).reset_index(drop=True)
    
    #
    officetel_lease_dfs_list = []
    for filename in officetel_lease_files:
        df = file_reader(basedir, filename)
        officetel_lease_dfs_list.append(df)
    officetel_lease_df = pd.concat(officetel_lease_dfs_list).reset_index(drop=True)
    
    
    return apart_trade_df, apart_lease_df, multiplex_trade_df, multiplex_lease_df, officetel_trade_df, officetel_lease_df

In [4]:
%%time
apart_trade_df, apart_lease_df, multiplex_trade_df, multiplex_lease_df, officetel_trade_df, officetel_lease_df\
= read_data()

C:\Users\나\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:9: FutureWarning: Your version of xlrd is 1.2.0. In xlrd >= 2.0, only the xls format is supported. As a result, the openpyxl engine will be used if it is installed and the engine argument is not specified. Install openpyxl instead.
  if __name__ == '__main__':
C:\Users\나\AppData\Roaming\Python\Python37\site-packages\IPython\core\magics\execution.py:1321: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code, glob, local_ns)

Wall time: 4min 46s

# From previous EDA and Preprocessing

In [5]:
apart_lease_df.drop(apart_lease_df[apart_lease_df['전용면적(㎡)'].isna()].index, inplace=True)

In [6]:
multiplex_trade_df.loc[multiplex_trade_df[multiplex_trade_df['건축년도'].isna()].index, '건축년도'] = 1971
multiplex_lease_df.drop(multiplex_lease_df[multiplex_lease_df['층'].isna()].index, inplace=True)

In [7]:
# 모든 df 도로명 빈 칸 null 로 교체

def replace_empty_to_null(df):
    df = df.copy()
    
    empty_df = df[df['도로명'] == ' ']
    
    df.loc[empty_df.index, '도로명'] = np.nan
    
    return df

In [8]:
apart_trade_df = replace_empty_to_null(apart_trade_df)
apart_lease_df = replace_empty_to_null(apart_lease_df)
multiplex_trade_df = replace_empty_to_null(multiplex_trade_df)
multiplex_lease_df = replace_empty_to_null(multiplex_lease_df)
officetel_trade_df = replace_empty_to_null(officetel_trade_df)
officetel_lease_df = replace_empty_to_null(officetel_lease_df)

In [9]:
multiplex_lease_df.loc[multiplex_lease_df[multiplex_lease_df['건축년도'].isna()].index, '건축년도'] = 1971

In [10]:
# 건축년도가 null 인 row 들에 있는 주소들 중에서, 같은 주소지만 건축년도 값이 있는 주소는 null 을 채워넣고, 없는 주소는 df 에서 제거.
# 추가적으로, 한 주소지, 단지이름에 건축년도가 두 가지 이상 있는지도 조사함.

def bltyear_fill_and_remove_null(df):
    df = df.copy()
    
    df['temp_full_addr'] = df['시군구'] + df['번지'] + df['단지명']
    
    bltyear_null_df = df[df['건축년도'].isna()]
    
    unique_addrs = bltyear_null_df['temp_full_addr'].unique()
    
    concat_list = []
    for addr in unique_addrs:
        addr_df = df[df['temp_full_addr'] == addr]
        if addr_df['건축년도'].isna().sum() != addr_df.shape[0]:
            if addr_df['건축년도'].std() != 0:
                print('건축년도가 두 가지 이상인 주소가 있음.')
            
            addr_df['건축년도'].fillna(addr_df['건축년도'].mean(), inplace=True)
            
            concat_list.append(addr_df)
    
    df.drop(columns=['temp_full_addr'], inplace=True)
    
    if len(concat_list) > 0:
        concat_df = pd.concat(concat_list)
    else:
        return df
    
    #return concat_df
    
    df.loc[concat_df.index, '건축년도'] = concat_df['건축년도']
    
    bltyear_null_df = df[df['건축년도'].isna()]
    
    df.drop(bltyear_null_df.index, inplace=True)
        
    return df.reset_index(drop=True)

In [11]:
officetel_trade_df = bltyear_fill_and_remove_null(officetel_trade_df)
officetel_lease_df = bltyear_fill_and_remove_null(officetel_lease_df)

In [12]:
def trade_dfs_change_dtype(df):
    df = df.copy()
    
    df['거래금액(만원)'] = df['거래금액(만원)'].apply(str)
    df['거래금액(만원)'] = pd.to_numeric(df['거래금액(만원)'].str.replace(',', ''))
    df['층'] = df['층'].astype('int')
    df['건축년도'] = df['건축년도'].astype('int')
    
    return df

In [13]:
apart_trade_df = trade_dfs_change_dtype(apart_trade_df)
multiplex_trade_df = trade_dfs_change_dtype(multiplex_trade_df)
officetel_trade_df = trade_dfs_change_dtype(officetel_trade_df)

In [14]:
def lease_dfs_change_dtype(df):
    df = df.copy()
    
    df['보증금(만원)'] = df['보증금(만원)'].apply(str)
    df['월세(만원)'] = df['월세(만원)'].apply(str)
    df['보증금(만원)'] = pd.to_numeric(df['보증금(만원)'].str.replace(',', ''))
    df['월세(만원)'] = pd.to_numeric(df['월세(만원)'].str.replace(',', ''))
    df['층'] = df['층'].astype('int')
    df['건축년도'] = df['건축년도'].astype('int')
    
    return df

In [15]:
apart_lease_df = lease_dfs_change_dtype(apart_lease_df)
multiplex_lease_df = lease_dfs_change_dtype(multiplex_lease_df)
officetel_lease_df = lease_dfs_change_dtype(officetel_lease_df)

In [16]:
def price_per_area_and_year_month(df, mode='trade'):
    df = df.copy()
    
    if mode == 'trade':
        df['가격/면적'] = df['거래금액(만원)'] / df['전용면적(㎡)']
    elif mode == 'lease':
        df['가격/면적'] = df['보증금(만원)'] / df['전용면적(㎡)']
    
    df['year'] = pd.to_numeric(df['계약년월'].astype('str').str[:4])
    df['month'] = pd.to_numeric(df['계약년월'].astype('str').str[4:])
    
    return df

In [17]:
apart_trade_df = price_per_area_and_year_month(apart_trade_df)
multiplex_trade_df = price_per_area_and_year_month(multiplex_trade_df)
officetel_trade_df = price_per_area_and_year_month(officetel_trade_df)

In [18]:
apart_lease_df = price_per_area_and_year_month(apart_lease_df, mode='lease')
multiplex_lease_df = price_per_area_and_year_month(multiplex_lease_df, mode='lease')
officetel_lease_df = price_per_area_and_year_month(officetel_lease_df, mode='lease')

In [19]:
def si_gu(df):
    df = df.copy()
    
    df['시'] = df['시군구'].str.split(' ').apply(lambda x: x[0])
    df['구'] = df['시군구'].str.split(' ').apply(lambda x: x[1])
    
    return df

In [20]:
apart_trade_df = si_gu(apart_trade_df)
apart_lease_df = si_gu(apart_lease_df)
multiplex_trade_df = si_gu(multiplex_trade_df)
multiplex_lease_df = si_gu(multiplex_lease_df)
officetel_trade_df = si_gu(officetel_trade_df)
officetel_lease_df = si_gu(officetel_lease_df)

In [21]:
def remove_zero_price(df, mode='trade'):
    df = df.copy()
    
    if mode == 'trade':
        df = df[df['거래금액(만원)'] != 0].reset_index(drop=True)
    elif mode == 'lease':
        df = df[df['보증금(만원)'] != 0].reset_index(drop=True)
    
    return df

In [22]:
apart_trade_df = remove_zero_price(apart_trade_df)
apart_lease_df = remove_zero_price(apart_lease_df, mode='lease')
multiplex_trade_df = remove_zero_price(multiplex_trade_df)
multiplex_lease_df = remove_zero_price(multiplex_lease_df, mode='lease')
officetel_trade_df = remove_zero_price(officetel_trade_df)
officetel_lease_df = remove_zero_price(officetel_lease_df, mode='lease')

In [23]:
def remove_zero_area(df):
    df = df.copy()
    
    df = df[df['전용면적(㎡)'] != 0].reset_index(drop=True)
    
    return df

In [30]:
apart_trade_df = remove_zero_area(apart_trade_df)
apart_lease_df = remove_zero_area(apart_lease_df)
multiplex_trade_df = remove_zero_area(multiplex_trade_df)
multiplex_lease_df = remove_zero_area(multiplex_lease_df)
officetel_trade_df = remove_zero_area(officetel_trade_df)
officetel_lease_df = remove_zero_area(officetel_lease_df)

In [33]:
def correct_lease_type(df):
    df = df.copy()
    
    wrong_df = df[(df['전월세구분'] == '월세') & (df['월세(만원)'] == 0)]
    
    df.loc[wrong_df.index, '전월세구분'] = '전세'
    
    wrong_df2 = df[(df['전월세구분'] == '전세') & (df['월세(만원)'] != 0)]
    
    df.loc[wrong_df2.index, '전월세구분'] = '월세'
    
    return df

In [34]:
apart_lease_df = correct_lease_type(apart_lease_df)
multiplex_lease_df = correct_lease_type(multiplex_lease_df)
officetel_lease_df = correct_lease_type(officetel_lease_df)

In [ ]:
'''apart_lease_deposit_only_df = apart_lease_df[apart_lease_df['전월세구분'] == '전세'].reset_index(drop=True)
apart_lease_monthly_pay_df = apart_lease_df[apart_lease_df['전월세구분'] == '월세'].reset_index(drop=True)
multiplex_lease_deposit_only_df = multiplex_lease_df[multiplex_lease_df['전월세구분'] == '전세'].reset_index(drop=True)
multiplex_lease_monthly_pay_df = multiplex_lease_df[multiplex_lease_df['전월세구분'] == '월세'].reset_index(drop=True)
officetel_lease_deposit_only_df = officetel_lease_df[officetel_lease_df['전월세구분'] == '전세'].reset_index(drop=True)
officetel_lease_monthly_pay_df = officetel_lease_df[officetel_lease_df['전월세구분'] == '월세'].reset_index(drop=True)'''

# EDA & Preprocessing 11

In [35]:
dfs_list = [apart_lease_df, multiplex_lease_df, officetel_lease_df]
for df in dfs_list:
    wrong_df = df[(df['전월세구분'] == '전세') & (df['월세(만원)'] != 0)]
    print(wrong_df.shape)

(0, 19)
(0, 19)
(0, 19)

In [29]:
wrong_df

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,건축년도,도로명,가격/면적,year,month,시,구
5201,서울특별시 동대문구 장안동,373-6,373,6,황금오피스텔,전세,24.51,201110,25,4000,15,7,1997,장한로21길 11-11,163.198694,2011,10,서울특별시,동대문구
7183,서울특별시 송파구 잠실동,175-12,175,12,올림픽타워,전세,34.87,201102,21,10000,50,3,2004,올림픽로 88,286.779467,2011,2,서울특별시,송파구
51235,서울특별시 마포구 성산동,278-8,278,8,샬롬 오피스텔,전세,19.38,201403,8,7000,30,6,2003,성산로2길 31,361.197110,2014,3,서울특별시,마포구

# 이상치 제거 ver 2

In [36]:
apart_trade_df['target_log_transformed'] = apart_trade_df['거래금액(만원)'].apply(lambda x: np.log(x))
apart_lease_df['target_log_transformed'] = apart_lease_df['보증금(만원)'].apply(lambda x: np.log(x))
multiplex_trade_df['target_log_transformed'] = multiplex_trade_df['거래금액(만원)'].apply(lambda x: np.log(x))
multiplex_lease_df['target_log_transformed'] = multiplex_lease_df['보증금(만원)'].apply(lambda x: np.log(x))
officetel_trade_df['target_log_transformed'] = officetel_trade_df['거래금액(만원)'].apply(lambda x: np.log(x))
officetel_lease_df['target_log_transformed'] = officetel_lease_df['보증금(만원)'].apply(lambda x: np.log(x))

In [68]:
# Tukey의 기법을 사용하여 각 동 별 이상치 (outlier) 검색 후 제거 (가격)

def find_and_remove_Tukey_outliers_ver2_price_per_dong(df):
    df = df.copy()
    
    unique_dongs = df['시군구'].unique()
    
    count = 0
    dfs_list = []
    for dong in unique_dongs:
        dong_df = df[df['시군구'] == dong]
        
        year_val_c = dong_df['year'].value_counts()
        year_val_c_max = year_val_c.max()
        
        year_dfs_list = []
        for year in year_val_c.index:
            year_df = dong_df[dong_df['year'] == year]
            year_df_sample = year_df.sample(n=year_val_c_max, replace=True, random_state=42)
            year_dfs_list.append(year_df_sample)
            
        dong_concat_df = pd.concat(year_dfs_list)
    
        q1 = dong_concat_df['target_log_transformed'].quantile(0.25)
        q3 = dong_concat_df['target_log_transformed'].quantile(0.75)
        iqr = q3 - q1
        outlier_step = iqr * 1.5

        outlier_df = dong_df[(dong_df['target_log_transformed'] < q1 - outlier_step) | (dong_df['target_log_transformed'] > q3 + outlier_step)]

        dong_df.drop(outlier_df.index, inplace=True)
        
        dfs_list.append(dong_df)

        print('{}에서 {}개의 이상치를 찾아서 제거했습니다.'.format(dong, outlier_df.shape[0]))
        
        count += outlier_df.shape[0]
    
    print('총 {}개의 이상치를 찾아서 제거했습니다.'.format(count))
    
    concat_df = pd.concat(dfs_list).reset_index(drop=True)   
    
    return concat_df

In [69]:
prac_df = find_and_remove_Tukey_outliers_ver2_price_per_dong(apart_trade_df)

서울특별시 강남구 개포동에서 121개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 논현동에서 33개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 대치동에서 530개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 도곡동에서 300개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 삼성동에서 120개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 세곡동에서 3개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 수서동에서 11개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 신사동에서 53개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 압구정동에서 19개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 역삼동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 일원동에서 64개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 청담동에서 62개의 이상치를 찾아서 제거했습니다.
서울특별시 강동구 강일동에서 109개의 이상치를 찾아서 제거했습니다.
서울특별시 강동구 고덕동에서 142개의 이상치를 찾아서 제거했습니다.
서울특별시 강동구 길동에서 607개의 이상치를 찾아서 제거했습니다.
서울특별시 강동구 둔촌동에서 18개의 이상치를 찾아서 제거했습니다.
서울특별시 강동구 명일동에서 25개의 이상치를 찾아서 제거했습니다.
서울특별시 강동구 상일동에서 208개의 이상치를 찾아서 제거했습니다.
서울특별시 강동구 성내동에서 188개의 이상치를 찾아서 제거했습니다.
서울특별시 강동구 암사동에서 9개의 이상치를 찾아서 제거했습니다.
서울특별시 강동구 천호동에서 245개의 이상치를 찾아서 제거했습니다.
서울특별시 강북구 미아동에서 193개의 이상치를 찾아서 제거했습니다.
서울특별시 강북구 번동에서 165개의 이상치를 찾아서 제거했습니다.
서울특별시 강북구 수유동에서 216개의 이상치를 찾아서 제거했습니다.
서울특별시 강북구 우이동에서 8개의 이상치를 찾아서 제거했습니다.
서울특별시 강서구 가양동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 강서구 공항동에서 3개의 이상치를 찾아서 제거했습니다.
서울특별시 강서구 내발산동에서 5개의 이상치를 찾아서 제거했습니다.
서울특별시 강서구 등촌동에서 32개의 이상치를 찾아서 제거했습니다.
서울특별시 강서구 마곡동에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 강서구 방화동에서 25개의 이상치를 찾아서 제거했습니다.
서울특별시 강서구 염창동에서 67개의 이상치를 찾아서 제거했습니다.
서울특별시 강서구 화곡동에서 8개의 이상치를 찾아서 제거했습니다.
서울특별시 관악구 남현동에서 10개의 이상치를 찾아서 제거했습니다.
서울특별시 관악구 봉천동에서 560개의 이상치를 찾아서 제거했습니다.
서울특별시 관악구 신림동에서 106개의 이상치를 찾아서 제거했습니다.
서울특별시 광진구 광장동에서 39개의 이상치를 찾아서 제거했습니다.
서울특별시 광진구 구의동에서 177개의 이상치를 찾아서 제거했습니다.
서울특별시 광진구 군자동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 광진구 능동에서 2개의 이상치를 찾아서 제거했습니다.
서울특별시 광진구 자양동에서 35개의 이상치를 찾아서 제거했습니다.
서울특별시 광진구 중곡동에서 2개의 이상치를 찾아서 제거했습니다.
서울특별시 광진구 화양동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 구로구 가리봉동에서 3개의 이상치를 찾아서 제거했습니다.
서울특별시 구로구 개봉동에서 87개의 이상치를 찾아서 제거했습니다.
서울특별시 구로구 고척동에서 85개의 이상치를 찾아서 제거했습니다.
서울특별시 구로구 구로동에서 376개의 이상치를 찾아서 제거했습니다.
서울특별시 구로구 궁동에서 42개의 이상치를 찾아서 제거했습니다.
서울특별시 구로구 신도림동에서 57개의 이상치를 찾아서 제거했습니다.
서울특별시 구로구 오류동에서 160개의 이상치를 찾아서 제거했습니다.
서울특별시 구로구 온수동에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 구로구 천왕동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 구로구 항동에서 27개의 이상치를 찾아서 제거했습니다.
서울특별시 금천구 가산동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 금천구 독산동에서 388개의 이상치를 찾아서 제거했습니다.
서울특별시 금천구 시흥동에서 371개의 이상치를 찾아서 제거했습니다.
서울특별시 노원구 공릉동에서 278개의 이상치를 찾아서 제거했습니다.
서울특별시 노원구 상계동에서 724개의 이상치를 찾아서 제거했습니다.
서울특별시 노원구 월계동에서 280개의 이상치를 찾아서 제거했습니다.
서울특별시 노원구 중계동에서 6개의 이상치를 찾아서 제거했습니다.
서울특별시 노원구 하계동에서 41개의 이상치를 찾아서 제거했습니다.
서울특별시 도봉구 도봉동에서 255개의 이상치를 찾아서 제거했습니다.
서울특별시 도봉구 방학동에서 199개의 이상치를 찾아서 제거했습니다.
서울특별시 도봉구 쌍문동에서 317개의 이상치를 찾아서 제거했습니다.
서울특별시 도봉구 창동에서 68개의 이상치를 찾아서 제거했습니다.
서울특별시 동대문구 답십리동에서 338개의 이상치를 찾아서 제거했습니다.
서울특별시 동대문구 신설동에서 42개의 이상치를 찾아서 제거했습니다.
서울특별시 동대문구 용두동에서 2개의 이상치를 찾아서 제거했습니다.
서울특별시 동대문구 이문동에서 157개의 이상치를 찾아서 제거했습니다.
서울특별시 동대문구 장안동에서 570개의 이상치를 찾아서 제거했습니다.
서울특별시 동대문구 전농동에서 126개의 이상치를 찾아서 제거했습니다.
서울특별시 동대문구 제기동에서 67개의 이상치를 찾아서 제거했습니다.
서울특별시 동대문구 청량리동에서 24개의 이상치를 찾아서 제거했습니다.
서울특별시 동대문구 회기동에서 18개의 이상치를 찾아서 제거했습니다.
서울특별시 동대문구 휘경동에서 171개의 이상치를 찾아서 제거했습니다.
서울특별시 동작구 노량진동에서 2개의 이상치를 찾아서 제거했습니다.
서울특별시 동작구 대방동에서 52개의 이상치를 찾아서 제거했습니다.
서울특별시 동작구 동작동에서 3개의 이상치를 찾아서 제거했습니다.
서울특별시 동작구 본동에서 19개의 이상치를 찾아서 제거했습니다.
서울특별시 동작구 사당동에서 48개의 이상치를 찾아서 제거했습니다.
서울특별시 동작구 상도1동에서 9개의 이상치를 찾아서 제거했습니다.
서울특별시 동작구 상도동에서 211개의 이상치를 찾아서 제거했습니다.
서울특별시 동작구 신대방동에서 50개의 이상치를 찾아서 제거했습니다.
서울특별시 동작구 흑석동에서 41개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 공덕동에서 77개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 노고산동에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 대흥동에서 2개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 도화동에서 48개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 동교동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 마포동에서 13개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 망원동에서 52개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 상수동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 상암동에서 34개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 서교동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 성산동에서 120개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 신공덕동에서 7개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 신수동에서 53개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 신정동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 아현동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 연남동에서 4개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 염리동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 용강동에서 5개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 중동에서 14개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 창전동에서 82개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 토정동에서 6개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 하중동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 합정동에서 4개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 현석동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 남가좌동에서 25개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 냉천동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 대현동에서 5개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 미근동에서 2개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 북가좌동에서 11개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 북아현동에서 57개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 연희동에서 9개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 영천동에서 6개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 창천동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 천연동에서 14개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 충정로2가에서 7개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 충정로3가에서 5개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 합동에서 5개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 현저동에서 8개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 홍은동에서 111개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 홍제동에서 130개의 이상치를 찾아서 제거했습니다.
서울특별시 서초구 반포동에서 12개의 이상치를 찾아서 제거했습니다.
서울특별시 서초구 방배동에서 290개의 이상치를 찾아서 제거했습니다.
서울특별시 서초구 서초동에서 127개의 이상치를 찾아서 제거했습니다.
서울특별시 서초구 신원동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 서초구 양재동에서 180개의 이상치를 찾아서 제거했습니다.
서울특별시 서초구 우면동에서 7개의 이상치를 찾아서 제거했습니다.
서울특별시 서초구 잠원동에서 147개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 금호동1가에서 44개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 금호동2가에서 16개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 금호동3가에서 9개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 금호동4가에서 11개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 도선동에서 45개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 마장동에서 18개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 사근동에서 114개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 성수동1가에서 249개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 성수동2가에서 19개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 송정동에서 7개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 옥수동에서 8개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 용답동에서 5개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 응봉동에서 8개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 하왕십리동에서 452개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 행당동에서 52개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 홍익동에서 2개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 길음동에서 45개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 돈암동에서 89개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 동선동1가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 동선동3가에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 동선동4가에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 동소문동4가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 동소문동5가에서 20개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 동소문동7가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 보문동2가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 보문동3가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 보문동4가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 보문동6가에서 311개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 삼선동2가에서 3개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 삼선동3가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 삼선동4가에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 상월곡동에서 4개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 석관동에서 15개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 성북동에서 12개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 안암동1가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 안암동3가에서 2개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 안암동4가에서 11개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 장위동에서 69개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 정릉동에서 161개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 종암동에서 107개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 하월곡동에서 260개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 가락동에서 533개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 거여동에서 8개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 마천동에서 9개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 문정동에서 6개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 방이동에서 222개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 삼전동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 석촌동에서 3개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 송파동에서 29개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 신천동에서 34개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 오금동에서 30개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 잠실동에서 226개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 장지동에서 384개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 풍납동에서 120개의 이상치를 찾아서 제거했습니다.
서울특별시 양천구 목동에서 62개의 이상치를 찾아서 제거했습니다.
서울특별시 양천구 신월동에서 337개의 이상치를 찾아서 제거했습니다.
서울특별시 양천구 신정동에서 96개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 당산동에서 141개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 당산동1가에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 당산동2가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 당산동3가에서 9개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 당산동4가에서 7개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 당산동5가에서 19개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 당산동6가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 대림동에서 174개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 도림동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 문래동2가에서 18개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 문래동3가에서 33개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 문래동4가에서 10개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 문래동5가에서 48개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 문래동6가에서 33개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 신길동에서 505개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 양평동1가에서 12개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 양평동2가에서 16개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 양평동3가에서 59개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 양평동4가에서 13개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 양평동5가에서 10개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 양평동6가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 여의도동에서 40개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 영등포동에서 282개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 영등포동1가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 영등포동2가에서 5개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 영등포동4가에서 12개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 영등포동5가에서 21개의 이상치를 찾아서 제거했습니다.

서울특별시 영등포구 영등포동7가에서 274개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 영등포동8가에서 33개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 도원동에서 37개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 동빙고동에서 3개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 동자동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 문배동에서 140개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 보광동에서 23개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 산천동에서 2개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 서빙고동에서 3개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 신계동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 신창동에서 14개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 용문동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 용산동2가에서 2개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 용산동5가에서 2개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 원효로1가에서 6개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 원효로4가에서 7개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 이촌동에서 49개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 이태원동에서 28개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 청암동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 청파동1가에서 4개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 한강로1가에서 6개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 한강로2가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 한강로3가에서 2개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 한남동에서 291개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 효창동에서 14개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 후암동에서 26개의 이상치를 찾아서 제거했습니다.
서울특별시 은평구 갈현동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 은평구 구산동에서 65개의 이상치를 찾아서 제거했습니다.
서울특별시 은평구 녹번동에서 188개의 이상치를 찾아서 제거했습니다.
서울특별시 은평구 대조동에서 19개의 이상치를 찾아서 제거했습니다.
서울특별시 은평구 불광동에서 37개의 이상치를 찾아서 제거했습니다.
서울특별시 은평구 수색동에서 19개의 이상치를 찾아서 제거했습니다.
서울특별시 은평구 신사동에서 127개의 이상치를 찾아서 제거했습니다.
서울특별시 은평구 역촌동에서 55개의 이상치를 찾아서 제거했습니다.
서울특별시 은평구 응암동에서 42개의 이상치를 찾아서 제거했습니다.
서울특별시 은평구 증산동에서 106개의 이상치를 찾아서 제거했습니다.
서울특별시 은평구 진관동에서 16개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 교북동에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 구기동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 낙원동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 내수동에서 34개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 당주동에서 3개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 명륜1가에서 9개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 명륜2가에서 20개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 명륜3가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 무악동에서 26개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 사직동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 수송동에서 9개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 숭인동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 신교동에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 신영동에서 3개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 익선동에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 인의동에서 5개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 창신동에서 10개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 청운동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 통인동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 평창동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 필운동에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 혜화동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 남대문로5가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 남산동2가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 만리동1가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 만리동2가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 묵정동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 산림동에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 순화동에서 16개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 신당동에서 155개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 예장동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 을지로5가에서 5개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 인현동2가에서 7개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 장충동2가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 정동에서 4개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 중림동에서 26개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 충무로4가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 황학동에서 100개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 회현동1가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 회현동2가에서 4개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 흥인동에서 58개의 이상치를 찾아서 제거했습니다.
서울특별시 중랑구 망우동에서 150개의 이상치를 찾아서 제거했습니다.
서울특별시 중랑구 면목동에서 365개의 이상치를 찾아서 제거했습니다.
서울특별시 중랑구 묵동에서 6개의 이상치를 찾아서 제거했습니다.
서울특별시 중랑구 상봉동에서 203개의 이상치를 찾아서 제거했습니다.
서울특별시 중랑구 신내동에서 259개의 이상치를 찾아서 제거했습니다.
서울특별시 중랑구 중화동에서 96개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 율현동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 자곡동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 서초구 내곡동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 상왕십리동에서 3개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 삼선동5가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 성북동1가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 영등포동3가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 갈월동에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 원효로2가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 청파동3가에서 3개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 동숭동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 부암동에서 2개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 신문로1가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 연건동에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 옥인동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 이화동에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 충신동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 행촌동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 남창동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 오장동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 필동3가에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 동선동5가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 동소문동6가에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 원효로3가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 견지동에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 장충동1가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 충무로5가에서 7개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 필동1가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 구수동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 주성동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 교남동에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 홍파동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 효제동에서 2개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 누상동에서 6개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 평동에서 2개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 연지동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 원남동에서 1개의 이상치를 찾아서 제거했습니다.
총 20905개의 이상치를 찾아서 제거했습니다.

In [70]:
prac_df['거래금액(만원)'].describe()

count    1.147287e+06
mean     5.226836e+04
std      3.868994e+04
min      2.300000e+03
25%      2.860000e+04
50%      4.150000e+04
75%      6.278250e+04
max      5.700000e+05
Name: 거래금액(만원), dtype: float64

# 가격/면적 log

In [71]:
apart_trade_df['target/area_log_transformed'] = apart_trade_df['가격/면적'].apply(lambda x: np.log(x))
apart_lease_df['target/area_log_transformed'] = apart_lease_df['가격/면적'].apply(lambda x: np.log(x))
multiplex_trade_df['target/area_log_transformed'] = multiplex_trade_df['가격/면적'].apply(lambda x: np.log(x))
multiplex_lease_df['target/area_log_transformed'] = multiplex_lease_df['가격/면적'].apply(lambda x: np.log(x))
officetel_trade_df['target/area_log_transformed'] = officetel_trade_df['가격/면적'].apply(lambda x: np.log(x))
officetel_lease_df['target/area_log_transformed'] = officetel_lease_df['가격/면적'].apply(lambda x: np.log(x))

In [72]:
# Tukey의 기법을 사용하여 각 동 별 이상치 (outlier) 검색 후 제거 (가격)

def find_and_remove_Tukey_outliers_ver2_price_per_area_log_per_dong(df):
    df = df.copy()
    
    unique_dongs = df['시군구'].unique()
    
    count = 0
    dfs_list = []
    for dong in unique_dongs:
        dong_df = df[df['시군구'] == dong]
        
        year_val_c = dong_df['year'].value_counts()
        year_val_c_max = year_val_c.max()
        
        year_dfs_list = []
        for year in year_val_c.index:
            year_df = dong_df[dong_df['year'] == year]
            year_df_sample = year_df.sample(n=year_val_c_max, replace=True, random_state=42)
            year_dfs_list.append(year_df_sample)
            
        dong_concat_df = pd.concat(year_dfs_list)
    
        q1 = dong_concat_df['target/area_log_transformed'].quantile(0.25)
        q3 = dong_concat_df['target/area_log_transformed'].quantile(0.75)
        iqr = q3 - q1
        outlier_step = iqr * 1.5

        outlier_df = dong_df[(dong_df['target/area_log_transformed'] < q1 - outlier_step)\
                             | (dong_df['target/area_log_transformed'] > q3 + outlier_step)]

        dong_df.drop(outlier_df.index, inplace=True)
        
        dfs_list.append(dong_df)

        print('{}에서 {}개의 이상치를 찾아서 제거했습니다.'.format(dong, outlier_df.shape[0]))
        
        count += outlier_df.shape[0]
    
    print('총 {}개의 이상치를 찾아서 제거했습니다.'.format(count))
    
    concat_df = pd.concat(dfs_list).reset_index(drop=True)   
    
    return concat_df

In [73]:
prac_df = find_and_remove_Tukey_outliers_ver2_price_per_area_log_per_dong(apart_trade_df)

서울특별시 강남구 개포동에서 204개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 논현동에서 62개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 대치동에서 480개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 도곡동에서 123개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 삼성동에서 48개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 세곡동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 수서동에서 52개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 신사동에서 6개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 압구정동에서 48개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 역삼동에서 6개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 일원동에서 204개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 청담동에서 65개의 이상치를 찾아서 제거했습니다.
서울특별시 강동구 강일동에서 5개의 이상치를 찾아서 제거했습니다.
서울특별시 강동구 고덕동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 강동구 길동에서 171개의 이상치를 찾아서 제거했습니다.
서울특별시 강동구 둔촌동에서 46개의 이상치를 찾아서 제거했습니다.
서울특별시 강동구 명일동에서 241개의 이상치를 찾아서 제거했습니다.
서울특별시 강동구 상일동에서 89개의 이상치를 찾아서 제거했습니다.
서울특별시 강동구 성내동에서 177개의 이상치를 찾아서 제거했습니다.
서울특별시 강동구 암사동에서 516개의 이상치를 찾아서 제거했습니다.
서울특별시 강동구 천호동에서 459개의 이상치를 찾아서 제거했습니다.
서울특별시 강북구 미아동에서 552개의 이상치를 찾아서 제거했습니다.
서울특별시 강북구 번동에서 740개의 이상치를 찾아서 제거했습니다.
서울특별시 강북구 수유동에서 311개의 이상치를 찾아서 제거했습니다.
서울특별시 강북구 우이동에서 4개의 이상치를 찾아서 제거했습니다.
서울특별시 강서구 가양동에서 434개의 이상치를 찾아서 제거했습니다.
서울특별시 강서구 공항동에서 6개의 이상치를 찾아서 제거했습니다.
서울특별시 강서구 내발산동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 강서구 등촌동에서 437개의 이상치를 찾아서 제거했습니다.
서울특별시 강서구 마곡동에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 강서구 방화동에서 356개의 이상치를 찾아서 제거했습니다.
서울특별시 강서구 염창동에서 207개의 이상치를 찾아서 제거했습니다.
서울특별시 강서구 화곡동에서 25개의 이상치를 찾아서 제거했습니다.
서울특별시 관악구 남현동에서 32개의 이상치를 찾아서 제거했습니다.
서울특별시 관악구 봉천동에서 1055개의 이상치를 찾아서 제거했습니다.
서울특별시 관악구 신림동에서 496개의 이상치를 찾아서 제거했습니다.
서울특별시 광진구 광장동에서 284개의 이상치를 찾아서 제거했습니다.
서울특별시 광진구 구의동에서 400개의 이상치를 찾아서 제거했습니다.
서울특별시 광진구 군자동에서 79개의 이상치를 찾아서 제거했습니다.
서울특별시 광진구 능동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 광진구 자양동에서 266개의 이상치를 찾아서 제거했습니다.
서울특별시 광진구 중곡동에서 78개의 이상치를 찾아서 제거했습니다.
서울특별시 광진구 화양동에서 7개의 이상치를 찾아서 제거했습니다.
서울특별시 구로구 가리봉동에서 31개의 이상치를 찾아서 제거했습니다.
서울특별시 구로구 개봉동에서 374개의 이상치를 찾아서 제거했습니다.
서울특별시 구로구 고척동에서 158개의 이상치를 찾아서 제거했습니다.
서울특별시 구로구 구로동에서 548개의 이상치를 찾아서 제거했습니다.
서울특별시 구로구 궁동에서 26개의 이상치를 찾아서 제거했습니다.
서울특별시 구로구 신도림동에서 420개의 이상치를 찾아서 제거했습니다.
서울특별시 구로구 오류동에서 107개의 이상치를 찾아서 제거했습니다.
서울특별시 구로구 온수동에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 구로구 천왕동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 구로구 항동에서 23개의 이상치를 찾아서 제거했습니다.
서울특별시 금천구 가산동에서 3개의 이상치를 찾아서 제거했습니다.
서울특별시 금천구 독산동에서 466개의 이상치를 찾아서 제거했습니다.
서울특별시 금천구 시흥동에서 646개의 이상치를 찾아서 제거했습니다.
서울특별시 노원구 공릉동에서 1361개의 이상치를 찾아서 제거했습니다.
서울특별시 노원구 상계동에서 3425개의 이상치를 찾아서 제거했습니다.
서울특별시 노원구 월계동에서 1449개의 이상치를 찾아서 제거했습니다.
서울특별시 노원구 중계동에서 1806개의 이상치를 찾아서 제거했습니다.
서울특별시 노원구 하계동에서 1003개의 이상치를 찾아서 제거했습니다.
서울특별시 도봉구 도봉동에서 337개의 이상치를 찾아서 제거했습니다.
서울특별시 도봉구 방학동에서 864개의 이상치를 찾아서 제거했습니다.
서울특별시 도봉구 쌍문동에서 1278개의 이상치를 찾아서 제거했습니다.
서울특별시 도봉구 창동에서 1616개의 이상치를 찾아서 제거했습니다.
서울특별시 동대문구 답십리동에서 349개의 이상치를 찾아서 제거했습니다.
서울특별시 동대문구 신설동에서 16개의 이상치를 찾아서 제거했습니다.
서울특별시 동대문구 용두동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 동대문구 이문동에서 303개의 이상치를 찾아서 제거했습니다.
서울특별시 동대문구 장안동에서 128개의 이상치를 찾아서 제거했습니다.
서울특별시 동대문구 전농동에서 289개의 이상치를 찾아서 제거했습니다.
서울특별시 동대문구 제기동에서 210개의 이상치를 찾아서 제거했습니다.
서울특별시 동대문구 청량리동에서 144개의 이상치를 찾아서 제거했습니다.
서울특별시 동대문구 회기동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 동대문구 휘경동에서 374개의 이상치를 찾아서 제거했습니다.
서울특별시 동작구 노량진동에서 195개의 이상치를 찾아서 제거했습니다.
서울특별시 동작구 대방동에서 183개의 이상치를 찾아서 제거했습니다.
서울특별시 동작구 동작동에서 7개의 이상치를 찾아서 제거했습니다.
서울특별시 동작구 본동에서 70개의 이상치를 찾아서 제거했습니다.
서울특별시 동작구 사당동에서 492개의 이상치를 찾아서 제거했습니다.
서울특별시 동작구 상도1동에서 12개의 이상치를 찾아서 제거했습니다.
서울특별시 동작구 상도동에서 341개의 이상치를 찾아서 제거했습니다.
서울특별시 동작구 신대방동에서 271개의 이상치를 찾아서 제거했습니다.
서울특별시 동작구 흑석동에서 132개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 공덕동에서 243개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 노고산동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 대흥동에서 18개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 도화동에서 218개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 동교동에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 마포동에서 31개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 망원동에서 68개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 상수동에서 5개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 상암동에서 223개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 서교동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 성산동에서 236개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 신공덕동에서 180개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 신수동에서 122개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 신정동에서 47개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 아현동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 연남동에서 37개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 염리동에서 13개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 용강동에서 68개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 중동에서 69개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 창전동에서 124개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 토정동에서 74개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 하중동에서 12개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 합정동에서 98개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 현석동에서 78개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 남가좌동에서 200개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 냉천동에서 21개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 대현동에서 93개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 미근동에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 북가좌동에서 14개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 북아현동에서 81개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 연희동에서 29개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 영천동에서 64개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 창천동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 천연동에서 23개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 충정로2가에서 3개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 충정로3가에서 16개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 합동에서 12개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 현저동에서 73개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 홍은동에서 317개의 이상치를 찾아서 제거했습니다.
서울특별시 서대문구 홍제동에서 615개의 이상치를 찾아서 제거했습니다.
서울특별시 서초구 반포동에서 22개의 이상치를 찾아서 제거했습니다.
서울특별시 서초구 방배동에서 225개의 이상치를 찾아서 제거했습니다.
서울특별시 서초구 서초동에서 372개의 이상치를 찾아서 제거했습니다.
서울특별시 서초구 신원동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 서초구 양재동에서 120개의 이상치를 찾아서 제거했습니다.
서울특별시 서초구 우면동에서 157개의 이상치를 찾아서 제거했습니다.
서울특별시 서초구 잠원동에서 232개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 금호동1가에서 208개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 금호동2가에서 2개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 금호동3가에서 50개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 금호동4가에서 66개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 도선동에서 24개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 마장동에서 129개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 사근동에서 125개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 성수동1가에서 80개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 성수동2가에서 58개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 송정동에서 16개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 옥수동에서 67개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 용답동에서 6개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 응봉동에서 165개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 하왕십리동에서 625개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 행당동에서 555개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 홍익동에서 16개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 길음동에서 453개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 돈암동에서 347개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 동선동1가에서 6개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 동선동3가에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 동선동4가에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 동소문동4가에서 34개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 동소문동5가에서 25개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 동소문동7가에서 17개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 보문동2가에서 8개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 보문동3가에서 75개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 보문동4가에서 3개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 보문동6가에서 226개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 삼선동2가에서 67개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 삼선동3가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 삼선동4가에서 19개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 상월곡동에서 89개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 석관동에서 182개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 성북동에서 2개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 안암동1가에서 42개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 안암동3가에서 3개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 안암동4가에서 10개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 장위동에서 90개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 정릉동에서 423개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 종암동에서 285개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 하월곡동에서 240개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 가락동에서 28개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 거여동에서 334개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 마천동에서 114개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 문정동에서 147개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 방이동에서 82개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 삼전동에서 4개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 석촌동에서 85개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 송파동에서 155개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 신천동에서 925개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 오금동에서 206개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 잠실동에서 191개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 장지동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 송파구 풍납동에서 397개의 이상치를 찾아서 제거했습니다.
서울특별시 양천구 목동에서 197개의 이상치를 찾아서 제거했습니다.
서울특별시 양천구 신월동에서 490개의 이상치를 찾아서 제거했습니다.
서울특별시 양천구 신정동에서 130개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 당산동에서 109개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 당산동1가에서 28개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 당산동2가에서 97개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 당산동3가에서 9개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 당산동4가에서 33개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 당산동5가에서 121개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 당산동6가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 대림동에서 244개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 도림동에서 15개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 문래동2가에서 14개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 문래동3가에서 68개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 문래동4가에서 38개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 문래동5가에서 100개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 문래동6가에서 137개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 신길동에서 690개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 양평동1가에서 12개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 양평동2가에서 60개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 양평동3가에서 125개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 양평동4가에서 48개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 양평동5가에서 98개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 양평동6가에서 40개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 여의도동에서 163개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 영등포동에서 419개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 영등포동1가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 영등포동2가에서 1개의 이상치를 찾아서 제거했습니다.

서울특별시 영등포구 영등포동4가에서 12개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 영등포동5가에서 23개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 영등포동7가에서 114개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 영등포동8가에서 24개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 도원동에서 179개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 동빙고동에서 3개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 동자동에서 12개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 문배동에서 119개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 보광동에서 23개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 산천동에서 121개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 서빙고동에서 53개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 신계동에서 4개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 신창동에서 25개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 용문동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 용산동2가에서 3개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 용산동5가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 원효로1가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 원효로4가에서 14개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 이촌동에서 414개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 이태원동에서 31개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 청암동에서 2개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 청파동1가에서 6개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 한강로1가에서 36개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 한강로2가에서 30개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 한강로3가에서 28개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 한남동에서 11개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 효창동에서 10개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 후암동에서 27개의 이상치를 찾아서 제거했습니다.
서울특별시 은평구 갈현동에서 197개의 이상치를 찾아서 제거했습니다.
서울특별시 은평구 구산동에서 71개의 이상치를 찾아서 제거했습니다.
서울특별시 은평구 녹번동에서 210개의 이상치를 찾아서 제거했습니다.
서울특별시 은평구 대조동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 은평구 불광동에서 62개의 이상치를 찾아서 제거했습니다.
서울특별시 은평구 수색동에서 88개의 이상치를 찾아서 제거했습니다.
서울특별시 은평구 신사동에서 203개의 이상치를 찾아서 제거했습니다.
서울특별시 은평구 역촌동에서 48개의 이상치를 찾아서 제거했습니다.
서울특별시 은평구 응암동에서 79개의 이상치를 찾아서 제거했습니다.
서울특별시 은평구 증산동에서 50개의 이상치를 찾아서 제거했습니다.
서울특별시 은평구 진관동에서 212개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 교북동에서 18개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 구기동에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 낙원동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 내수동에서 13개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 당주동에서 3개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 명륜1가에서 3개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 명륜2가에서 9개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 명륜3가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 무악동에서 53개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 사직동에서 21개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 수송동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 숭인동에서 7개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 신교동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 신영동에서 2개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 익선동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 인의동에서 9개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 창신동에서 54개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 청운동에서 10개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 통인동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 평창동에서 3개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 필운동에서 10개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 혜화동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 남대문로5가에서 7개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 남산동2가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 만리동1가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 만리동2가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 묵정동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 산림동에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 순화동에서 23개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 신당동에서 536개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 예장동에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 을지로5가에서 5개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 인현동2가에서 4개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 장충동2가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 정동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 중림동에서 89개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 충무로4가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 황학동에서 111개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 회현동1가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 회현동2가에서 6개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 흥인동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중랑구 망우동에서 89개의 이상치를 찾아서 제거했습니다.
서울특별시 중랑구 면목동에서 590개의 이상치를 찾아서 제거했습니다.
서울특별시 중랑구 묵동에서 366개의 이상치를 찾아서 제거했습니다.
서울특별시 중랑구 상봉동에서 277개의 이상치를 찾아서 제거했습니다.
서울특별시 중랑구 신내동에서 654개의 이상치를 찾아서 제거했습니다.
서울특별시 중랑구 중화동에서 140개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 율현동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 강남구 자곡동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 서초구 내곡동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 성동구 상왕십리동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 삼선동5가에서 7개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 성북동1가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 영등포구 영등포동3가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 갈월동에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 원효로2가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 청파동3가에서 4개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 동숭동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 부암동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 신문로1가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 연건동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 옥인동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 이화동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 충신동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 행촌동에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 남창동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 오장동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 필동3가에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 동선동5가에서 2개의 이상치를 찾아서 제거했습니다.
서울특별시 성북구 동소문동6가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 원효로3가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 견지동에서 1개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 장충동1가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 충무로5가에서 34개의 이상치를 찾아서 제거했습니다.
서울특별시 중구 필동1가에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 마포구 구수동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 용산구 주성동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 교남동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 홍파동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 효제동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 누상동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 평동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 연지동에서 0개의 이상치를 찾아서 제거했습니다.
서울특별시 종로구 원남동에서 0개의 이상치를 찾아서 제거했습니다.
총 49589개의 이상치를 찾아서 제거했습니다.

In [74]:
prac_df['거래금액(만원)'].describe()

count    1.118603e+06
mean     5.208338e+04
std      3.965031e+04
min      3.400000e+03
25%      2.850000e+04
50%      4.100000e+04
75%      6.180000e+04
max      8.400000e+05
Name: 거래금액(만원), dtype: float64