In [1]:
import multiprocess as mp
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import math
from tqdm import tqdm
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
import datetime
from sklearn.preprocessing import quantile_transform
pd.options.mode.chained_assignment = None  # default='warn'
import gc

In [2]:
def read_data():
    basedir = './prepped_data/'
    
    main_data_df = pd.read_csv(basedir + 'main_data_ver_2.4.csv')
    print(1)
    coor_df = pd.read_csv(basedir + 'coor_data_ver_1.csv')
    print(2)
    land_prices_df = pd.read_csv(basedir + 'land_prices_ver_1.csv')
    print(3)
    land_specs_df = pd.read_csv(basedir + 'land_specs_ver_2.csv')
    print(4)
    land_plans_df = pd.read_csv(basedir + 'land_plans_ver_2.csv')
    print(5)
    
    return main_data_df, coor_df, land_prices_df, land_specs_df, land_plans_df

In [3]:
%%time
main_data_df, coor_df, land_prices_df, land_specs_df, land_plans_df = read_data()

1

c:\users\max6296\ml\lib\site-packages\IPython\core\magic.py:187: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  call = lambda f, *a, **k: f(*a, **k)

2
3
4
5
Wall time: 17.6 s

In [4]:
print(main_data_df.shape)
main_data_df.head()

(4559866, 16)

,지번주소,도로명주소,대장구분명,대장구분코드,trade_type,전용면적(㎡),금액(만원),월세(만원),가격/면적,층,년,월,건축년도,건물나이,target_log_transformed,target/area_log_transformed
0,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,일반,1,아파트_매매,77.75,57000,0,733.118971,2,2013,9,1988,25,10.950807,6.597308
1,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,일반,1,아파트_매매,77.75,57000,0,733.118971,2,2013,12,1988,25,10.950807,6.597308
2,서울특별시 강남구 개포동 658-1,서울특별시 강남구 언주로 3-0,일반,1,아파트_매매,67.28,55000,0,817.479191,5,2013,2,1987,26,10.915088,6.706225
3,서울특별시 강남구 개포동 658-1,서울특별시 강남구 언주로 3-0,일반,1,아파트_매매,67.28,58250,0,865.784780,4,2013,2,1987,26,10.972499,6.763636
4,서울특별시 강남구 개포동 658-1,서울특별시 강남구 언주로 3-0,일반,1,아파트_매매,67.28,60000,0,891.795482,5,2013,5,1987,26,11.002100,6.793237

In [5]:
merge1_df = main_data_df.merge(land_prices_df, on=['지번주소', '년'])
print(merge1_df.shape)
merge1_df.head()

(4405464, 19)

,지번주소,도로명주소,대장구분명,대장구분코드,trade_type,전용면적(㎡),금액(만원),월세(만원),가격/면적,층,년,월,건축년도,건물나이,target_log_transformed,target/area_log_transformed,특수지구분명,공시지가,표준지여부
0,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,일반,1,아파트_매매,77.75,57000,0,733.118971,2,2013,9,1988,25,10.950807,6.597308,일반,9210000,N
1,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,일반,1,아파트_매매,77.75,57000,0,733.118971,2,2013,12,1988,25,10.950807,6.597308,일반,9210000,N
2,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,일반,1,아파트_전세,77.75,35000,0,450.160772,4,2013,1,1988,25,10.463103,6.109605,일반,9210000,N
3,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,일반,1,아파트_전세,77.75,32000,0,411.575563,9,2013,3,1988,25,10.373491,6.019993,일반,9210000,N
4,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,일반,1,아파트_전세,77.75,37000,0,475.884244,1,2013,9,1988,25,10.518673,6.165175,일반,9210000,N

In [8]:
land_specs_df = land_specs_df[land_specs_df['대장구분코드'] == 1].reset_index(drop=True)

In [9]:
merge1_df.drop(columns=['대장구분명', '대장구분코드'], inplace=True)

In [10]:
land_specs_df.drop(columns=['Unnamed: 0', '대장구분코드'], inplace=True)

In [11]:
merge2_df = merge1_df.merge(land_specs_df, on=['지번주소', '년'])
print(merge2_df.shape)
merge2_df.head()

(4397723, 24)

,지번주소,도로명주소,trade_type,전용면적(㎡),금액(만원),월세(만원),가격/면적,층,년,월,건축년도,건물나이,target_log_transformed,target/area_log_transformed,특수지구분명,공시지가,표준지여부,지목코드,토지면적,용도지역코드1,용도지역코드2,지형높이코드,지형형상코드,도로접면코드
0,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,아파트_매매,77.75,57000,0,733.118971,2,2013,9,1988,25,10.950807,6.597308,일반,9210000,N,8,1168.3,15,0,2,3,3
1,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,아파트_매매,77.75,57000,0,733.118971,2,2013,12,1988,25,10.950807,6.597308,일반,9210000,N,8,1168.3,15,0,2,3,3
2,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,아파트_전세,77.75,35000,0,450.160772,4,2013,1,1988,25,10.463103,6.109605,일반,9210000,N,8,1168.3,15,0,2,3,3
3,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,아파트_전세,77.75,32000,0,411.575563,9,2013,3,1988,25,10.373491,6.019993,일반,9210000,N,8,1168.3,15,0,2,3,3
4,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,아파트_전세,77.75,37000,0,475.884244,1,2013,9,1988,25,10.518673,6.165175,일반,9210000,N,8,1168.3,15,0,2,3,3

In [12]:
basedir = './feature_maps/'
trade_type_map_df = pd.read_csv(basedir + 'trade_type_map.csv')
special_land_map_df = pd.read_csv(basedir + 'special_land_map.csv')
standard_land_map_df = pd.read_csv(basedir + 'standard_land_map.csv')

In [13]:
trade_type_map = trade_type_map_df.to_dict(orient='records')[0]
special_land_map = special_land_map_df.to_dict(orient='records')[0]
standard_land_map = standard_land_map_df.to_dict(orient='records')[0]

In [14]:
merge2_df['trade_type'] = merge2_df['trade_type'].map(trade_type_map)
merge2_df['특수지구분명'] = merge2_df['특수지구분명'].map(special_land_map)
merge2_df['표준지여부'] = merge2_df['표준지여부'].map(standard_land_map)

In [15]:
merge2_df.drop(columns=['건축년도'], inplace=True)
merge2_df.head()

,지번주소,도로명주소,trade_type,전용면적(㎡),금액(만원),월세(만원),가격/면적,층,년,월,건물나이,target_log_transformed,target/area_log_transformed,특수지구분명,공시지가,표준지여부,지목코드,토지면적,용도지역코드1,용도지역코드2,지형높이코드,지형형상코드,도로접면코드
0,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,0,77.75,57000,0,733.118971,2,2013,9,25,10.950807,6.597308,1,9210000,0,8,1168.3,15,0,2,3,3
1,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,0,77.75,57000,0,733.118971,2,2013,12,25,10.950807,6.597308,1,9210000,0,8,1168.3,15,0,2,3,3
2,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,1,77.75,35000,0,450.160772,4,2013,1,25,10.463103,6.109605,1,9210000,0,8,1168.3,15,0,2,3,3
3,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,1,77.75,32000,0,411.575563,9,2013,3,25,10.373491,6.019993,1,9210000,0,8,1168.3,15,0,2,3,3
4,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,1,77.75,37000,0,475.884244,1,2013,9,25,10.518673,6.165175,1,9210000,0,8,1168.3,15,0,2,3,3

In [16]:
merge2_df['year_linear'] = (merge2_df['년'] - merge2_df['년'].min()) + ((merge2_df['월']-1)/12)

In [17]:
def month_circular_sine_func(x):
    return math.sin(2*math.pi*((x-1)/12))

def month_circular_cosine_func(x):
    return math.cos(2*math.pi*((x-1)/12))

In [18]:
merge2_df['month_sin'] = merge2_df['월'].apply(month_circular_sine_func)
merge2_df['month_cos'] = merge2_df['월'].apply(month_circular_cosine_func)

In [19]:
merge2_df.drop(columns=['년', '월'], inplace=True)

In [20]:
merge2_df = merge2_df[merge2_df['건물나이'] >= 0]
merge2_df.shape

(4395795, 24)

In [21]:
coor_df.head()

  지번주소                   도로명주소            x좌표           y좌표
0  NaN  서울특별시 관악구 난곡로24가길 18-0  948851.369529  1.941318e+06
1  NaN  서울특별시 종로구 성균관로15길 33-0  955591.635372  1.954533e+06
2  NaN    서울특별시 성북구 인촌로7길 70-0  957563.072605  1.954475e+06
3  NaN   서울특별시 서초구 강남대로91길 5-0  957617.535913  1.945960e+06
4  NaN  서울특별시 서초구 바우뫼로11길 54-0  958121.727726  1.941641e+06

In [25]:
landnum_df = coor_df[['지번주소', 'x좌표', 'y좌표']].dropna()
roadname_df = coor_df[['도로명주소', 'x좌표', 'y좌표']].drop(landnum_df.index).reset_index(drop=True)
landnum_df.reset_index(drop=True, inplace=True)

In [26]:
merge3_df = merge2_df.merge(roadname_df, on=['도로명주소'], how='left')
print(merge3_df.shape)
merge3_df.head()

(4405464, 17)

,지번주소,도로명주소,trade_type,전용면적(㎡),금액(만원),월세(만원),가격/면적,층,건물나이,target_log_transformed,target/area_log_transformed,특수지구분명,공시지가,표준지여부,지목코드,토지면적,용도지역코드1,용도지역코드2,지형높이코드,지형형상코드,도로접면코드,year_linear,month_sin,month_cos,x좌표,y좌표
0,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,0,77.75,57000,0,733.118971,2,25,10.950807,6.597308,1,9210000,0,8,1168.3,15,0,2,3,3,7.666667,-0.866025,-0.500000,960471.903756,1.942550e+06
1,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,0,77.75,57000,0,733.118971,2,25,10.950807,6.597308,1,9210000,0,8,1168.3,15,0,2,3,3,7.916667,-0.500000,0.866025,960471.903756,1.942550e+06
2,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,1,77.75,35000,0,450.160772,4,25,10.463103,6.109605,1,9210000,0,8,1168.3,15,0,2,3,3,7.000000,0.000000,1.000000,960471.903756,1.942550e+06
3,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,1,77.75,32000,0,411.575563,9,25,10.373491,6.019993,1,9210000,0,8,1168.3,15,0,2,3,3,7.166667,0.866025,0.500000,960471.903756,1.942550e+06
4,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,1,77.75,37000,0,475.884244,1,25,10.518673,6.165175,1,9210000,0,8,1168.3,15,0,2,3,3,7.666667,-0.866025,-0.500000,960471.903756,1.942550e+06

In [59]:
merge4_df = merge3_df.merge(landnum_df, on=['지번주소'], how='left')
print(merge4_df.shape)
merge4_df.head()

(4395795, 28)

,지번주소,도로명주소,trade_type,전용면적(㎡),금액(만원),월세(만원),가격/면적,층,건물나이,target_log_transformed,target/area_log_transformed,특수지구분명,공시지가,표준지여부,지목코드,토지면적,용도지역코드1,용도지역코드2,지형높이코드,지형형상코드,도로접면코드,year_linear,month_sin,month_cos,x좌표_x,y좌표_x,x좌표_y,y좌표_y
0,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,0,77.75,57000,0,733.118971,2,25,10.950807,6.597308,1,9210000,0,8,1168.3,15,0,2,3,3,7.666667,-0.866025,-0.500000,960471.903756,1.942550e+06,960471.903756,1.942550e+06
1,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,0,77.75,57000,0,733.118971,2,25,10.950807,6.597308,1,9210000,0,8,1168.3,15,0,2,3,3,7.916667,-0.500000,0.866025,960471.903756,1.942550e+06,960471.903756,1.942550e+06
2,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,1,77.75,35000,0,450.160772,4,25,10.463103,6.109605,1,9210000,0,8,1168.3,15,0,2,3,3,7.000000,0.000000,1.000000,960471.903756,1.942550e+06,960471.903756,1.942550e+06
3,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,1,77.75,32000,0,411.575563,9,25,10.373491,6.019993,1,9210000,0,8,1168.3,15,0,2,3,3,7.166667,0.866025,0.500000,960471.903756,1.942550e+06,960471.903756,1.942550e+06
4,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,1,77.75,37000,0,475.884244,1,25,10.518673,6.165175,1,9210000,0,8,1168.3,15,0,2,3,3,7.666667,-0.866025,-0.500000,960471.903756,1.942550e+06,960471.903756,1.942550e+06

In [60]:
merge4_df['x좌표'] = merge4_df['x좌표_x'].fillna(merge4_df['x좌표_y'])
merge4_df['y좌표'] = merge4_df['y좌표_x'].fillna(merge4_df['y좌표_y'])
merge4_df.dropna(subset=['x좌표', 'y좌표'], inplace=True)

In [61]:
merge4_df.drop(columns=['x좌표_x', 'y좌표_x', 'x좌표_y', 'y좌표_y'], inplace=True)
merge4_df.head()

,지번주소,도로명주소,trade_type,전용면적(㎡),금액(만원),월세(만원),가격/면적,층,건물나이,target_log_transformed,target/area_log_transformed,특수지구분명,공시지가,표준지여부,지목코드,토지면적,용도지역코드1,용도지역코드2,지형높이코드,지형형상코드,도로접면코드,year_linear,month_sin,month_cos,x좌표,y좌표
0,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,0,77.75,57000,0,733.118971,2,25,10.950807,6.597308,1,9210000,0,8,1168.3,15,0,2,3,3,7.666667,-0.866025,-0.500000,960471.903756,1.942550e+06
1,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,0,77.75,57000,0,733.118971,2,25,10.950807,6.597308,1,9210000,0,8,1168.3,15,0,2,3,3,7.916667,-0.500000,0.866025,960471.903756,1.942550e+06
2,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,1,77.75,35000,0,450.160772,4,25,10.463103,6.109605,1,9210000,0,8,1168.3,15,0,2,3,3,7.000000,0.000000,1.000000,960471.903756,1.942550e+06
3,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,1,77.75,32000,0,411.575563,9,25,10.373491,6.019993,1,9210000,0,8,1168.3,15,0,2,3,3,7.166667,0.866025,0.500000,960471.903756,1.942550e+06
4,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,1,77.75,37000,0,475.884244,1,25,10.518673,6.165175,1,9210000,0,8,1168.3,15,0,2,3,3,7.666667,-0.866025,-0.500000,960471.903756,1.942550e+06

In [32]:
merge4_df['trade_type'].unique()

array([0, 1, 2, 6, 7, 8, 4, 5, 3], dtype=int64)

In [33]:
trade_type_map_df.head()

,아파트_매매,아파트_전세,아파트_월세,다세대연립_매매,다세대연립_전세,다세대연립_월세,오피스텔_매매,오피스텔_전세,오피스텔_월세
0,0,1,2,3,4,5,6,7,8

In [62]:
merge4_df['공시지가'] = merge4_df['공시지가'] / 10000
merge4_df.rename(columns={'공시지가':'공시지가(만원)'}, inplace=True)
merge4_df['토지면적'] = merge4_df['토지면적'].apply(np.log)
merge4_df = merge4_df[(merge4_df['trade_type']!=2)&(merge4_df['trade_type']!=5)&(merge4_df['trade_type']!=8)]
merge4_df.shape

(3569918, 26)

In [36]:
x_y_min_max = pd.read_csv('./feature_maps/x_y_min_max.csv')
x_y_min_max.head()

           x_min          x_max         y_min         y_max
0  938046.302665  971817.352783  1.937377e+06  1.965841e+06

In [64]:
merge4_df['x_norm'] = (merge4_df['x좌표'] - x_y_min_max['x_min'][0]) - ((x_y_min_max['x_max'][0] - x_y_min_max['x_min'][0])/2)
merge4_df['y_norm'] = (merge4_df['y좌표'] - x_y_min_max['y_min'][0]) - ((x_y_min_max['y_max'][0] - x_y_min_max['y_min'][0])/2)

,지번주소,도로명주소,trade_type,전용면적(㎡),금액(만원),월세(만원),가격/면적,층,건물나이,target_log_transformed,target/area_log_transformed,특수지구분명,공시지가(만원),표준지여부,지목코드,토지면적,용도지역코드1,용도지역코드2,지형높이코드,지형형상코드,도로접면코드,year_linear,month_sin,month_cos,x좌표,y좌표,x_norm,y_norm
0,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,0,77.75,57000,0,733.118971,2,25,10.950807,6.597308,1,921.0,0,8,7.063305,15,0,2,3,3,7.666667,-0.866025,-0.500000,960471.903756,1.942550e+06,5540.076032,-9058.615505
1,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,0,77.75,57000,0,733.118971,2,25,10.950807,6.597308,1,921.0,0,8,7.063305,15,0,2,3,3,7.916667,-0.500000,0.866025,960471.903756,1.942550e+06,5540.076032,-9058.615505
2,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,1,77.75,35000,0,450.160772,4,25,10.463103,6.109605,1,921.0,0,8,7.063305,15,0,2,3,3,7.000000,0.000000,1.000000,960471.903756,1.942550e+06,5540.076032,-9058.615505
3,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,1,77.75,32000,0,411.575563,9,25,10.373491,6.019993,1,921.0,0,8,7.063305,15,0,2,3,3,7.166667,0.866025,0.500000,960471.903756,1.942550e+06,5540.076032,-9058.615505
4,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,1,77.75,37000,0,475.884244,1,25,10.518673,6.165175,1,921.0,0,8,7.063305,15,0,2,3,3,7.666667,-0.866025,-0.500000,960471.903756,1.942550e+06,5540.076032,-9058.615505

In [65]:
merge4_df.drop(columns=['x좌표', 'y좌표'], inplace=True)
merge4_df['x_2nd'] = merge4_df['x_norm'] ** 2
merge4_df['y_2nd'] = merge4_df['y_norm'] ** 2
merge4_df['x*y'] = merge4_df['x_norm']*merge4_df['y_norm']
merge4_df['x_sin'] = np.sin(merge4_df['x_norm'])
merge4_df['y_sin'] = np.sin(merge4_df['y_norm'])
merge4_df['x_cos'] = np.cos(merge4_df['x_norm'])
merge4_df['y_cos'] = np.cos(merge4_df['y_norm'])

In [66]:
merge4_df.head()

,지번주소,도로명주소,trade_type,전용면적(㎡),금액(만원),월세(만원),가격/면적,층,건물나이,target_log_transformed,target/area_log_transformed,특수지구분명,공시지가(만원),표준지여부,지목코드,토지면적,용도지역코드1,용도지역코드2,지형높이코드,지형형상코드,도로접면코드,year_linear,month_sin,month_cos,x_norm,y_norm,x_2nd,y_2nd,x*y,x_sin,y_sin,x_cos,y_cos
0,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,0,77.75,57000,0,733.118971,2,25,10.950807,6.597308,1,921.0,0,8,7.063305,15,0,2,3,3,7.666667,-0.866025,-0.500000,5540.076032,-9058.615505,3.069244e+07,8.205851e+07,-5.018542e+07,-0.992492,0.986102,-0.122306,-0.166138
1,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,0,77.75,57000,0,733.118971,2,25,10.950807,6.597308,1,921.0,0,8,7.063305,15,0,2,3,3,7.916667,-0.500000,0.866025,5540.076032,-9058.615505,3.069244e+07,8.205851e+07,-5.018542e+07,-0.992492,0.986102,-0.122306,-0.166138
2,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,1,77.75,35000,0,450.160772,4,25,10.463103,6.109605,1,921.0,0,8,7.063305,15,0,2,3,3,7.000000,0.000000,1.000000,5540.076032,-9058.615505,3.069244e+07,8.205851e+07,-5.018542e+07,-0.992492,0.986102,-0.122306,-0.166138
3,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,1,77.75,32000,0,411.575563,9,25,10.373491,6.019993,1,921.0,0,8,7.063305,15,0,2,3,3,7.166667,0.866025,0.500000,5540.076032,-9058.615505,3.069244e+07,8.205851e+07,-5.018542e+07,-0.992492,0.986102,-0.122306,-0.166138
4,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,1,77.75,37000,0,475.884244,1,25,10.518673,6.165175,1,921.0,0,8,7.063305,15,0,2,3,3,7.666667,-0.866025,-0.500000,5540.076032,-9058.615505,3.069244e+07,8.205851e+07,-5.018542e+07,-0.992492,0.986102,-0.122306,-0.166138

In [67]:
merge4_df.drop(columns=['월세(만원)'], inplace=True)
merge4_df.rename(columns={'토지면적':'토지면적_log'}, inplace=True)

In [68]:
merge4_df.head()

,지번주소,도로명주소,trade_type,전용면적(㎡),금액(만원),가격/면적,층,건물나이,target_log_transformed,target/area_log_transformed,특수지구분명,공시지가(만원),표준지여부,지목코드,토지면적_log,용도지역코드1,용도지역코드2,지형높이코드,지형형상코드,도로접면코드,year_linear,month_sin,month_cos,x_norm,y_norm,x_2nd,y_2nd,x*y,x_sin,y_sin,x_cos,y_cos
0,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,0,77.75,57000,733.118971,2,25,10.950807,6.597308,1,921.0,0,8,7.063305,15,0,2,3,3,7.666667,-0.866025,-0.500000,5540.076032,-9058.615505,3.069244e+07,8.205851e+07,-5.018542e+07,-0.992492,0.986102,-0.122306,-0.166138
1,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,0,77.75,57000,733.118971,2,25,10.950807,6.597308,1,921.0,0,8,7.063305,15,0,2,3,3,7.916667,-0.500000,0.866025,5540.076032,-9058.615505,3.069244e+07,8.205851e+07,-5.018542e+07,-0.992492,0.986102,-0.122306,-0.166138
2,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,1,77.75,35000,450.160772,4,25,10.463103,6.109605,1,921.0,0,8,7.063305,15,0,2,3,3,7.000000,0.000000,1.000000,5540.076032,-9058.615505,3.069244e+07,8.205851e+07,-5.018542e+07,-0.992492,0.986102,-0.122306,-0.166138
3,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,1,77.75,32000,411.575563,9,25,10.373491,6.019993,1,921.0,0,8,7.063305,15,0,2,3,3,7.166667,0.866025,0.500000,5540.076032,-9058.615505,3.069244e+07,8.205851e+07,-5.018542e+07,-0.992492,0.986102,-0.122306,-0.166138
4,서울특별시 강남구 개포동 655-2,서울특별시 강남구 언주로 103-0,1,77.75,37000,475.884244,1,25,10.518673,6.165175,1,921.0,0,8,7.063305,15,0,2,3,3,7.666667,-0.866025,-0.500000,5540.076032,-9058.615505,3.069244e+07,8.205851e+07,-5.018542e+07,-0.992492,0.986102,-0.122306,-0.166138

In [70]:
merge4_df.to_csv('training_data_ver_5.csv', index=False)