In [1]:
import pandas as pd
import os

In [2]:
basedir = './국토교통부_실거래가_공개시스템/땅값분석/'
filenames = [f for f in os.listdir(basedir) if f.endswith('.csv')]
filenames

['단독다가구(매매)_실거래가_20200101_20201231.csv',
 '단독다가구(매매)_실거래가_20210101_20210331.csv',
 '연립다세대(매매)__실거래가_20200101_20201231.csv',
 '연립다세대(매매)__실거래가_20210101_20210331.csv',
 '오피스텔(매매)__실거래가_20200101_20201231.csv',
 '오피스텔(매매)__실거래가_20210101_20210331.csv',
 '토지(매매)__실거래가_20200101_20201231.csv',
 '토지(매매)__실거래가_20210101_20210331.csv']

In [9]:
for f in filenames:
    if '토지' in f:
        df = pd.read_csv(basedir + f, header=14, encoding='euc-kr')
    else:
        df = pd.read_csv(basedir + f, header=15, encoding='euc-kr')
    print(f)
    print(df.shape)
    display(df.head(1))

단독다가구(매매)_실거래가_20200101_20201231.csv
(12234, 12)

,시군구,번지,주택유형,도로조건,연면적(㎡),대지면적(㎡),계약년월,계약일,거래금액(만원),건축년도,도로명,해제사유발생일
0,서울특별시 강남구 개포동,1***,다가구,8m미만,415.33,180.0,202003,13,"260,000",1991.0,논현로18길,NaN

단독다가구(매매)_실거래가_20210101_20210331.csv
(1611, 12)

,시군구,번지,주택유형,도로조건,연면적(㎡),대지면적(㎡),계약년월,계약일,거래금액(만원),건축년도,도로명,해제사유발생일
0,서울특별시 강남구 개포동,1***,단독,8m미만,498.42,540.1,202101,7,"820,000",1997.0,개포로31길,NaN

연립다세대(매매)__실거래가_20200101_20201231.csv
(61984, 14)

,시군구,번지,본번,부번,건물명,전용면적(㎡),대지권면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일
0,서울특별시 강남구 개포동,1164-27,1164,27,(1164-27),51.78,38.86,202004,10,"57,000",5,2016.0,논현로2길 66,NaN

연립다세대(매매)__실거래가_20210101_20210331.csv
(10930, 14)

,시군구,번지,본번,부번,건물명,전용면적(㎡),대지권면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일
0,서울특별시 강남구 개포동,162-6,162,6,(162-6),41.38,16.56,202102,17,"19,000",-1,1987,선릉로10길 22-7,NaN

오피스텔(매매)__실거래가_20200101_20201231.csv
(15202, 13)

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일
0,서울특별시 강남구 개포동,13-3,13,3,대청타워,31.91,202001,14,"22,000",9,1997.0,개포로 623,NaN

오피스텔(매매)__실거래가_20210101_20210331.csv
(3333, 13)

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일
0,서울특별시 강남구 개포동,13-3,13,3,대청타워,31.91,202101,13,"23,500",14,1997.0,개포로 623,NaN

토지(매매)__실거래가_20200101_20201231.csv
(7178, 11)

,시군구,번지,지목,용도지역,도로조건,계약년월,계약일,계약면적(㎡),거래금액(만원),지분구분,해제사유발생일
0,서울특별시 동작구 상도동,1**,잡종지,제2종일반주거지역,8m미만,202001,2,4.67,"1,400",지분,NaN

토지(매매)__실거래가_20210101_20210331.csv
(1115, 11)

,시군구,번지,지목,용도지역,도로조건,계약년월,계약일,계약면적(㎡),거래금액(만원),지분구분,해제사유발생일
0,서울특별시 동작구 노량진동,2**,도로,제3종일반주거지역,-,202101,2,50.0,"50,000",,NaN

In [5]:
first_df = pd.read_csv(basedir + filenames[0], header=15, encoding='euc-kr')
print(first_df.shape)
first_df.head()

(12234, 12)

,시군구,번지,주택유형,도로조건,연면적(㎡),대지면적(㎡),계약년월,계약일,거래금액(만원),건축년도,도로명,해제사유발생일
0,서울특별시 강남구 개포동,1***,다가구,8m미만,415.33,180.0,202003,13,"260,000",1991.0,논현로18길,NaN
1,서울특별시 강남구 개포동,1***,다가구,12m미만,477.74,219.6,202011,21,"385,000",2003.0,논현로8길,NaN
2,서울특별시 강남구 개포동,1***,단독,8m미만,435.09,168.8,202007,16,"265,000",1991.0,논현로6길,NaN
3,서울특별시 강남구 개포동,1***,단독,12m미만,467.38,168.9,202007,10,"250,000",1990.0,논현로4길,NaN
4,서울특별시 강남구 개포동,1***,단독,12m미만,395.12,184.9,202001,17,"245,000",1988.0,개포로20길,NaN

In [10]:
gaepo_df = first_df[first_df['시군구'].str.contains('개포동')]
print(gaepo_df.shape)

(15, 12)

In [11]:
gaepo_df['번지'].unique()

array(['1***', '1**'], dtype=object)

In [12]:
first_df['번지'].unique()

array(['1***', '1**', '7*', '5*', '*', '2**', '1*', '8*', '6*', '2*',
       '9**', '8**', '5**', '4*', '9*', '4**', '7**', '6**', '3*', '3**',
       '산1**', '산7*', '산*', '6***', '2***', '산2*', '4***', '3***', '산1*'],
      dtype=object)

In [14]:
land_specs_df = pd.read_csv('./토지특성정보/land_specs_production_ver_1.csv')
print(land_specs_df.shape)
land_specs_df.head()

(983625, 9)

  지목명    토지면적  용도지역명1  용도지역명2 토지이동상황 지형높이 지형형상 도로접면                 지번주소
0   전   876.0  자연녹지지역  지정되지않음      전  완경사  부정형   맹지  서울특별시 강남구 개포동 100-0
1   전   641.0  자연녹지지역  지정되지않음      전   평지  부정형   맹지  서울특별시 강남구 개포동 101-0
2   전   509.0  자연녹지지역  지정되지않음      전   평지  부정형   맹지  서울특별시 강남구 개포동 102-0
3   전    48.7  자연녹지지역  개발제한구역      전   평지  부정형   맹지  서울특별시 강남구 개포동 103-0
4   전  2995.0  개발제한구역  자연녹지지역      전  완경사  부정형   맹지  서울특별시 강남구 개포동 104-1

In [15]:
land_specs_df['토지이동상황'].unique()

array(['전', '답', '주거기타', '도로등', '전기타', '자연림', '토지임야', '하천등', '상업용',
       '상업나지', '상업기타', '업무용', '아파트', '연립', '다세대', '단독', '주거나지', '주상용',
       '주상기타', '공원등', '답기타', '주차장등', '임야기타', '유해.혐오시설', '위험시설', '주상나지',
       '기타', '공업용', '공업기타', '공업나지', '운동장등', nan, '과수원', '콘도미니엄', '공항',
       '조림', '특수기타', '골프장 대중제', '여객자동차터미널', '발전소', '고속도로휴게소', '유원지'],
      dtype=object)

In [17]:
land_specs_df['용도지역명1'].unique()

array(['자연녹지지역', '개발제한구역', '제3종일반주거지역', '제2종일반주거지역', '제1종일반주거지역', '준주거지역',
       '일반상업지역', '제1종전용주거지역', '생산녹지지역', '근린상업지역', '준공업지역', '유통상업지역',
       '제2종전용주거지역', '중심상업지역', '보전녹지지역'], dtype=object)

In [18]:
land_specs_df['용도지역명2'].unique()

array(['지정되지않음', '개발제한구역', '자연녹지지역', '제3종일반주거지역', '제2종일반주거지역', '준주거지역',
       '제1종일반주거지역', '일반상업지역', '제1종전용주거지역', '생산녹지지역', '근린상업지역', '준공업지역',
       '제2종전용주거지역', '유통상업지역', '보전녹지지역', '중심상업지역'], dtype=object)

In [19]:
land_specs_df['본번'] = land_specs_df['지번주소'].apply(lambda x: x.split(' ')[3].split('-')[0])

In [20]:
gaepo_df = land_specs_df[land_specs_df['지번주소'].str.contains('개포동')]

In [21]:
gaepo_1000_df = gaepo_df[(gaepo_df['본번'].apply(int) >= 1000) & (gaepo_df['본번'].apply(int) < 2000)]

In [22]:
gaepo_1000_df.shape

(1300, 10)

In [23]:
gaepo_1000_df.head()

,지목명,토지면적,용도지역명1,용도지역명2,토지이동상황,지형높이,지형형상,도로접면,지번주소,본번
8,답,502.0,자연녹지지역,지정되지않음,전,완경사,삼각형,광대로한면,서울특별시 강남구 개포동 1042-15,1042
10,대,3017.0,자연녹지지역,지정되지않음,주거기타,완경사,사다리형,광대로한면,서울특별시 강남구 개포동 1055-0,1055
11,도로,170.0,자연녹지지역,지정되지않음,도로등,지정되지않음,지정되지않음,지정되지않음,서울특별시 강남구 개포동 1055-11,1055
12,잡종지,897.0,개발제한구역,자연녹지지역,전기타,완경사,부정형,맹지,서울특별시 강남구 개포동 1055-12,1055
13,전,416.0,개발제한구역,자연녹지지역,전기타,완경사,사다리형,맹지,서울특별시 강남구 개포동 1055-14,1055

In [24]:
gaepo_1000_df['용도지역명1'].unique()

array(['자연녹지지역', '개발제한구역', '제3종일반주거지역', '제2종일반주거지역', '제1종일반주거지역', '준주거지역'],
      dtype=object)

In [25]:
gaepo_1000_df['토지이동상황'].unique()

array(['전', '주거기타', '도로등', '전기타', '자연림', '토지임야', '하천등', '상업용', '상업나지',
       '상업기타', '업무용', '아파트', '연립', '다세대', '단독', '주거나지', '주상용', '주상기타',
       '공원등'], dtype=object)

In [26]:
dandok_df = gaepo_1000_df[gaepo_1000_df['토지이동상황'] == '단독']
dandok_df.shape

(146, 10)

In [27]:
dandok_df['용도지역명1'].unique()

array(['제2종일반주거지역'], dtype=object)

In [28]:
yunrip_filenames = [f for f in filenames if '연립' in f]
yunrip_filenames

['연립다세대(매매)__실거래가_20200101_20201231.csv',
 '연립다세대(매매)__실거래가_20210101_20210331.csv']

In [29]:
yunrip_dfs_list = []
for f in yunrip_filenames:
    df = pd.read_csv(basedir + f, header=15, encoding='euc-kr')
    yunrip_dfs_list.append(df)

In [30]:
yunrip_df = pd.concat(yunrip_dfs_list).reset_index(drop=True)
print(yunrip_df.shape)
yunrip_df.head()

(72914, 14)

,시군구,번지,본번,부번,건물명,전용면적(㎡),대지권면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일
0,서울특별시 강남구 개포동,1164-27,1164,27,(1164-27),51.78,38.86,202004,10,"57,000",5,2016.0,논현로2길 66,NaN
1,서울특별시 강남구 개포동,1172-2,1172,2,(1172-2),42.15,24.69,202007,21,"30,700",3,2012.0,논현로6길 22-6,NaN
2,서울특별시 강남구 개포동,1216-4,1216,4,(1216-4),36.52,23.44,202001,11,"27,500",3,2012.0,개포로26길 16,NaN
3,서울특별시 강남구 개포동,170-18,170,18,(170-18),54.63,44.19,202010,16,"65,000",2,1988.0,선릉로12길 17,NaN
4,서울특별시 강남구 개포동,170-18,170,18,(170-18),26.60,21.53,202012,23,"31,000",1,1988.0,선릉로12길 17,NaN

In [31]:
officetel_filenames = [f for f in filenames if '오피' in f]
officetel_filenames

['오피스텔(매매)__실거래가_20200101_20201231.csv',
 '오피스텔(매매)__실거래가_20210101_20210331.csv']

In [32]:
officetel_dfs_list = []
for f in officetel_filenames:
    df = pd.read_csv(basedir + f, header=15, encoding='euc-kr')
    officetel_dfs_list.append(df)

In [33]:
officetel_df = pd.concat(officetel_dfs_list).reset_index(drop=True)
print(officetel_df.shape)
officetel_df.head()

(18535, 13)

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일
0,서울특별시 강남구 개포동,13-3,13,3,대청타워,31.91,202001,14,"22,000",9,1997.0,개포로 623,NaN
1,서울특별시 강남구 개포동,13-3,13,3,대청타워,32.44,202002,12,"20,000",18,1997.0,개포로 623,NaN
2,서울특별시 강남구 개포동,13-3,13,3,대청타워,32.44,202002,14,"23,000",11,1997.0,개포로 623,NaN
3,서울특별시 강남구 개포동,13-3,13,3,대청타워,32.86,202002,18,"20,500",6,1997.0,개포로 623,NaN
4,서울특별시 강남구 개포동,13-3,13,3,대청타워,32.44,202002,26,"22,000",19,1997.0,개포로 623,NaN

In [34]:
yunrip_df['해제사유발생일'].value_counts()

20210104.0    63
20200831.0    39
20201112.0    32
20200925.0    31
20200513.0    31
              ..
20201024.0     1
20210130.0     1
20200312.0     1
20210103.0     1
20200613.0     1
Name: 해제사유발생일, Length: 333, dtype: int64