In [1]:
import pandas as pd
import numpy as np
import os
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
from tqdm import tqdm
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
matplotlib.rcParams['axes.unicode_minus'] = False
pd.options.mode.chained_assignment = None  # default='warn'
plt.rcParams['font.family'] = 'Malgun Gothic'
import datetime

In [2]:
basedir = './prepped_data/'
yunrip_df = pd.read_csv(basedir + '연립다세대_메인_20060101_20210409.csv', index_col=[0])
print(yunrip_df.shape)
yunrip_df.head()

(688816, 12)

,지번주소,도로명,건물명,전용면적(㎡),대지권면적(㎡),거래금액(만원),층,건축년도,계약날짜기준_건물연식,계약날짜,해제사유발생일,부동산유형
0,서울특별시 강남구 개포동 1264-3,개포로31길 23-7,(1264-3),53.28,29.23,11500.0,-1,1992.0,14.0,2006-08-29,NaN,연립다세대
1,서울특별시 강남구 개포동 171-13,선릉로14길 11,(171-13),68.08,56.10,56500.0,2,1988.0,18.0,2006-12-20,NaN,연립다세대
2,서울특별시 강남구 개포동 1239-7,개포로15길 25,강남빌라 가동,52.59,45.00,40500.0,2,1988.0,18.0,2006-12-09,NaN,연립다세대
3,서울특별시 강남구 개포동 1239-7,개포로15길 25,강남빌라 가동,52.59,45.00,42000.0,1,1988.0,18.0,2006-12-19,NaN,연립다세대
4,서울특별시 강남구 개포동 1239-6,개포로15길 27,강남빌라 나동,52.75,44.68,22000.0,2,1988.0,18.0,2006-11-02,NaN,연립다세대

In [3]:
apart_df = pd.read_csv(basedir + '아파트_메인_20060101_20210409.csv', index_col=[0])
print(apart_df.shape)
apart_df.head()

(1193184, 11)

c:\users\max6296\ml\lib\site-packages\numpy\lib\arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,지번주소,도로명,단지명,전용면적(㎡),거래금액(만원),층,건축년도,계약날짜기준_건물연식,계약날짜,해제사유발생일,부동산유형
0,서울특별시 강남구 개포동 655-2,언주로 103,개포2차현대아파트(220),77.75,59500.0,7,1988,18,2006-03-10,NaN,아파트
1,서울특별시 강남구 개포동 655-2,언주로 103,개포2차현대아파트(220),77.75,60000.0,6,1988,18,2006-03-29,NaN,아파트
2,서울특별시 강남구 개포동 655-2,언주로 103,개포2차현대아파트(220),77.75,67000.0,9,1988,18,2006-04-29,NaN,아파트
3,서울특별시 강남구 개포동 655-2,언주로 103,개포2차현대아파트(220),77.75,60000.0,4,1988,18,2006-06-01,NaN,아파트
4,서울특별시 강남구 개포동 655-2,언주로 103,개포2차현대아파트(220),77.75,72250.0,5,1988,18,2006-10-20,NaN,아파트

In [4]:
officetel_df = pd.read_csv(basedir + '오피스텔_메인_20060101_20210409.csv', index_col=[0])
print(officetel_df.shape)
officetel_df.head()

(178580, 11)

,지번주소,도로명,단지명,전용면적(㎡),거래금액(만원),층,건축년도,계약날짜기준_건물연식,계약날짜,해제사유발생일,부동산유형
0,서울특별시 강남구 개포동 13-3,개포로 623,대청타워,32.44,6400.0,8,1997.0,9.0,2006-01-10,NaN,오피스텔
1,서울특별시 강남구 개포동 13-3,개포로 623,대청타워,32.44,7100.0,7,1997.0,9.0,2006-01-10,NaN,오피스텔
2,서울특별시 강남구 개포동 13-3,개포로 623,대청타워,32.44,7300.0,11,1997.0,9.0,2006-01-11,NaN,오피스텔
3,서울특별시 강남구 개포동 13-3,개포로 623,대청타워,31.91,7500.0,10,1997.0,9.0,2006-01-18,NaN,오피스텔
4,서울특별시 강남구 개포동 13-3,개포로 623,대청타워,32.44,7400.0,15,1997.0,9.0,2006-01-19,NaN,오피스텔

In [5]:
yunrip_df.drop(columns=['대지권면적(㎡)'], inplace=True)

In [6]:
yunrip_df.rename(columns={'건물명':'건물(단지)명'}, inplace=True)
apart_df.rename(columns={'단지명':'건물(단지)명'}, inplace=True)
officetel_df.rename(columns={'단지명':'건물(단지)명'}, inplace=True)

In [7]:
print(apart_df.columns == yunrip_df.columns)

[ True  True  True  True  True  True  True  True  True  True  True]

In [8]:
print(officetel_df.columns == yunrip_df.columns)

[ True  True  True  True  True  True  True  True  True  True  True]

In [9]:
concat_df = pd.concat([yunrip_df, apart_df, officetel_df]).reset_index(drop=True)
print(concat_df.shape)
concat_df.head()

(2060580, 11)

,지번주소,도로명,건물(단지)명,전용면적(㎡),거래금액(만원),층,건축년도,계약날짜기준_건물연식,계약날짜,해제사유발생일,부동산유형
0,서울특별시 강남구 개포동 1264-3,개포로31길 23-7,(1264-3),53.28,11500.0,-1,1992.0,14.0,2006-08-29,NaN,연립다세대
1,서울특별시 강남구 개포동 171-13,선릉로14길 11,(171-13),68.08,56500.0,2,1988.0,18.0,2006-12-20,NaN,연립다세대
2,서울특별시 강남구 개포동 1239-7,개포로15길 25,강남빌라 가동,52.59,40500.0,2,1988.0,18.0,2006-12-09,NaN,연립다세대
3,서울특별시 강남구 개포동 1239-7,개포로15길 25,강남빌라 가동,52.59,42000.0,1,1988.0,18.0,2006-12-19,NaN,연립다세대
4,서울특별시 강남구 개포동 1239-6,개포로15길 27,강남빌라 나동,52.75,22000.0,2,1988.0,18.0,2006-11-02,NaN,연립다세대

In [10]:
concat_df['도로명'].unique()[:100]

array(['개포로31길 23-7', '선릉로14길 11', '개포로15길 25', '개포로15길 27', '논현로6길 36-8',
       '개포로20길 35', '개포로25길 27', '개포로22길 41-6', '논현로18길 10-13',
       '개포로25길 17-4', '논현로6길 10-12', '개포로25길 21-7', '개포로31길 9-6',
       '논현로20길 4-27', '논현로2길 59', '논현로6길 18-10', '개포로30길 22', '개포로20길 21',
       '개포로20길 39', '개포로20길 43', '개포로21길 25', '개포로31길 16', '논현로2길 9',
       '논현로8길 66-9', '개포로31길 13', '논현로8길 39', '논현로8길 29', '논현로6길 36-9',
       '논현로8길 18', '논현로18길 18-21', '개포로22길 45-15', '논현로8길 32-16',
       '개포로15길 30', '개포로22길 50', '개포로31길 9-4', '개포로35길 9', '개포로32길 21',
       '개포로31길 9-13', '개포로20길 57', '논현로16길 14-12', '논현로16길 10-13',
       '논현로12길 9-13', '개포로34길 18', '개포로17길 12', '개포로15길 28-4',
       '개포로22길 42', '개포로32길 10', '개포로31길 29-3', '논현로2길 63', '개포로35길 7',
       '논현로2길 35', '개포로24길 23', '선릉로12길 22', '선릉로10길 22-5', '논현로2길 15',
       '개포로22길 49-11', '논현로16길 20-9', '논현로16길 20-7', '개포로25길 28',
       '개포로28길 24-5', '논현로8길 54-6', '논현로8길 58-5', '개포로26길 9', '논현로2길 45',
       '논현로2길 43', '개포로30길 24', '논현로8길 62-5', '개포로35길 15', '개포로25길 13-10',
       '논현로8길 54-7', '개포로36길 18', '개포로31길 15-10', '논현로20길 4-19',
       '개포로28길 36', '개포로31길 29', '논현로2길 21', '개포로25길 3-10', '개포로25길 3-12',
       '개포로25길 3-8', '개포로32길 15', '개포로32길 13', '개포로34길 12', '개포로34길 14',
       '개포로26길 25', '논현로8길 46-8', '개포로22길 45-10', '개포로15길 11',
       '논현로18길 18-11', '개포로20길 37', '개포로32길 16', '개포로17길 9-4',
       '선릉로10길 14-4', '논현로16길 10-12', '개포로26길 27', '논현로16길 20-3',
       '선릉로8길 21', '선릉로8길 25', '개포로15길 32-3', '논현로12길 10', '개포로36길 15'],
      dtype=object)

In [11]:
(concat_df[concat_df['도로명'].str.endswith('외')].shape)

(0, 11)

In [12]:
def landnum_modifier(x):
    # x is a string
    
    if pd.isna(x) == True:
        return x
    else:
        x = str(x)        
        splitted = x.split('-')
        if len(splitted) == 1:
            return x + '-0'
        else:
            return x

In [13]:
concat_df['도로명'] = concat_df['도로명'].apply(landnum_modifier)

In [14]:
concat_df['도로명'].unique()[:100]

array(['개포로31길 23-7', '선릉로14길 11-0', '개포로15길 25-0', '개포로15길 27-0',
       '논현로6길 36-8', '개포로20길 35-0', '개포로25길 27-0', '개포로22길 41-6',
       '논현로18길 10-13', '개포로25길 17-4', '논현로6길 10-12', '개포로25길 21-7',
       '개포로31길 9-6', '논현로20길 4-27', '논현로2길 59-0', '논현로6길 18-10',
       '개포로30길 22-0', '개포로20길 21-0', '개포로20길 39-0', '개포로20길 43-0',
       '개포로21길 25-0', '개포로31길 16-0', '논현로2길 9-0', '논현로8길 66-9',
       '개포로31길 13-0', '논현로8길 39-0', '논현로8길 29-0', '논현로6길 36-9',
       '논현로8길 18-0', '논현로18길 18-21', '개포로22길 45-15', '논현로8길 32-16',
       '개포로15길 30-0', '개포로22길 50-0', '개포로31길 9-4', '개포로35길 9-0',
       '개포로32길 21-0', '개포로31길 9-13', '개포로20길 57-0', '논현로16길 14-12',
       '논현로16길 10-13', '논현로12길 9-13', '개포로34길 18-0', '개포로17길 12-0',
       '개포로15길 28-4', '개포로22길 42-0', '개포로32길 10-0', '개포로31길 29-3',
       '논현로2길 63-0', '개포로35길 7-0', '논현로2길 35-0', '개포로24길 23-0',
       '선릉로12길 22-0', '선릉로10길 22-5', '논현로2길 15-0', '개포로22길 49-11',
       '논현로16길 20-9', '논현로16길 20-7', '개포로25길 28-0', '개포로28길 24-5',
       '논현로8길 54-6', '논현로8길 58-5', '개포로26길 9-0', '논현로2길 45-0',
       '논현로2길 43-0', '개포로30길 24-0', '논현로8길 62-5', '개포로35길 15-0',
       '개포로25길 13-10', '논현로8길 54-7', '개포로36길 18-0', '개포로31길 15-10',
       '논현로20길 4-19', '개포로28길 36-0', '개포로31길 29-0', '논현로2길 21-0',
       '개포로25길 3-10', '개포로25길 3-12', '개포로25길 3-8', '개포로32길 15-0',
       '개포로32길 13-0', '개포로34길 12-0', '개포로34길 14-0', '개포로26길 25-0',
       '논현로8길 46-8', '개포로22길 45-10', '개포로15길 11-0', '논현로18길 18-11',
       '개포로20길 37-0', '개포로32길 16-0', '개포로17길 9-4', '선릉로10길 14-4',
       '논현로16길 10-12', '개포로26길 27-0', '논현로16길 20-3', '선릉로8길 21-0',
       '선릉로8길 25-0', '개포로15길 32-3', '논현로12길 10-0', '개포로36길 15-0'],
      dtype=object)

In [15]:
%%time
concat_df.to_csv(basedir + '메인_데이터_20060101_20210409.csv', index=False)

Wall time: 6.67 s