In [1]:
import pandas as pd
import numpy as np
import os
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
from tqdm import tqdm
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
matplotlib.rcParams['axes.unicode_minus'] = False
pd.options.mode.chained_assignment = None  # default='warn'
plt.rcParams['font.family'] = 'Malgun Gothic'
import datetime

In [2]:
%%time
main_data_df = pd.read_csv('./prepped_data/메인_데이터_20060101_20210416_ver_2.csv')
print(main_data_df.shape)
main_data_df.head()

(2054275, 14)
Wall time: 3.68 s

,지번주소,도로명,건물(단지)명,전용면적(㎡),거래금액(만원),층,건축년도,계약날짜기준_건물연식,계약날짜,건물연식,부동산유형,전용면적_classes,가격_면적,가격_면적_classes
0,서울특별시 강남구 개포동 1264-3,개포로31길 23-7,(1264-3),53.28,11500,-1,1992.0,14.0,2006-08-29,29.0,연립다세대,50~55,215.840841,210~220
1,서울특별시 강남구 개포동 171-13,선릉로14길 11,(171-13),68.08,56500,2,1988.0,18.0,2006-12-20,33.0,연립다세대,65~70,829.905993,820~830
2,서울특별시 강남구 개포동 1239-7,개포로15길 25,강남빌라 가동,52.59,40500,2,1988.0,18.0,2006-12-09,33.0,연립다세대,50~55,770.108386,770~780
3,서울특별시 강남구 개포동 1239-7,개포로15길 25,강남빌라 가동,52.59,42000,1,1988.0,18.0,2006-12-19,33.0,연립다세대,50~55,798.630918,790~800
4,서울특별시 강남구 개포동 1239-6,개포로15길 27,강남빌라 나동,52.75,22000,2,1988.0,18.0,2006-11-02,33.0,연립다세대,50~55,417.061611,410~420

In [3]:
coor_df = pd.read_csv('./prepped_data/addr_coor_data_ver_1.csv')
print(coor_df.shape)
coor_df.head()

(626610, 4)

                  지번주소                    도로명주소            X좌표           Y좌표
0    서울특별시 종로구 청운동 1-0  서울특별시 종로구 자하문로36길 16-14  953042.185946  1.954799e+06
1    서울특별시 종로구 청운동 3-0  서울특별시 종로구 자하문로36길 16-11  953033.999264  1.954773e+06
2  서울특별시 종로구 청운동 3-150   서울특별시 종로구 자하문로36길 16-5  953028.717755  1.954717e+06
3    서울특별시 종로구 청운동 4-1   서울특별시 종로구 자하문로36길 28-0  952962.680291  1.954697e+06
4   서울특별시 종로구 청운동 3-94   서울특별시 종로구 자하문로36길 28-0  952962.680291  1.954697e+06

In [5]:
main_data_df.isna().sum()

지번주소                0
도로명                 0
건물(단지)명             0
전용면적(㎡)             0
거래금액(만원)            0
층                   0
건축년도             1535
계약날짜기준_건물연식      1535
계약날짜                0
건물연식             1535
부동산유형               0
전용면적_classes        0
가격_면적               0
가격_면적_classes       0
dtype: int64

In [8]:
doro_nan_df = main_data_df[main_data_df['도로명'] == ' ']
print(doro_nan_df.shape)
doro_nan_df.head()

(7504, 14)

,지번주소,도로명,건물(단지)명,전용면적(㎡),거래금액(만원),층,건축년도,계약날짜기준_건물연식,계약날짜,건물연식,부동산유형,전용면적_classes,가격_면적,가격_면적_classes
4964,서울특별시 강북구 미아동 163-20,,장안맨숀,84.84,19000,1,1982.0,24.0,2006-11-05,39.0,연립다세대,80~85,223.950967,220~230
9042,서울특별시 강서구 염창동 244-14,,(244-14),40.91,14000,1,1977.0,29.0,2006-10-30,44.0,연립다세대,40~45,342.214617,340~350
9082,서울특별시 강서구 염창동 244-18,,동아,40.89,10300,2,1977.0,29.0,2006-08-25,44.0,연립다세대,40~45,251.895329,250~260
9083,서울특별시 강서구 염창동 244-18,,동아,40.89,13500,1,1977.0,29.0,2006-10-26,44.0,연립다세대,40~45,330.154072,330~340
21146,서울특별시 구로구 개봉동 367-16,,(367-16),76.03,7550,1,1982.0,24.0,2006-03-28,39.0,연립다세대,75~80,99.302907,90~100

In [9]:
main_data_df.loc[doro_nan_df.index, '도로명'] = np.nan

In [11]:
main_data_df = main_data_df.dropna(subset=['도로명']).reset_index(drop=True)
print(main_data_df.shape)

(2046771, 14)

In [12]:
main_data_df.isna().sum()

지번주소               0
도로명                0
건물(단지)명            0
전용면적(㎡)            0
거래금액(만원)           0
층                  0
건축년도             516
계약날짜기준_건물연식      516
계약날짜               0
건물연식             516
부동산유형              0
전용면적_classes       0
가격_면적              0
가격_면적_classes      0
dtype: int64

In [15]:
def landnum_modifier(x):
    # x is a string
    
    if pd.isna(x) == True:
        return x
    else:
        x = str(x)        
        splitted = x.split('-')
        if len(splitted) == 1:
            return x + '-0'
        else:
            return x

In [16]:
main_data_df['도로명'] = main_data_df['도로명'].apply(landnum_modifier)

In [19]:
main_data_df['도로명'] = main_data_df['지번주소'].apply(lambda x: x.split(' ')[0]) + ' '\
+ main_data_df['지번주소'].apply(lambda x: x.split(' ')[1]) + ' ' + main_data_df['도로명']

In [25]:
main_data_df.rename(columns={'도로명': '도로명주소'}, inplace=True)

In [26]:
main_data_df.head()

,지번주소,도로명주소,건물(단지)명,전용면적(㎡),거래금액(만원),층,건축년도,계약날짜기준_건물연식,계약날짜,건물연식,부동산유형,전용면적_classes,가격_면적,가격_면적_classes
0,서울특별시 강남구 개포동 1264-3,서울특별시 강남구 개포로31길 23-7,(1264-3),53.28,11500,-1,1992.0,14.0,2006-08-29,29.0,연립다세대,50~55,215.840841,210~220
1,서울특별시 강남구 개포동 171-13,서울특별시 강남구 선릉로14길 11-0,(171-13),68.08,56500,2,1988.0,18.0,2006-12-20,33.0,연립다세대,65~70,829.905993,820~830
2,서울특별시 강남구 개포동 1239-7,서울특별시 강남구 개포로15길 25-0,강남빌라 가동,52.59,40500,2,1988.0,18.0,2006-12-09,33.0,연립다세대,50~55,770.108386,770~780
3,서울특별시 강남구 개포동 1239-7,서울특별시 강남구 개포로15길 25-0,강남빌라 가동,52.59,42000,1,1988.0,18.0,2006-12-19,33.0,연립다세대,50~55,798.630918,790~800
4,서울특별시 강남구 개포동 1239-6,서울특별시 강남구 개포로15길 27-0,강남빌라 나동,52.75,22000,2,1988.0,18.0,2006-11-02,33.0,연립다세대,50~55,417.061611,410~420

In [27]:
temp_coor_df = coor_df.drop(columns=['지번주소']).drop_duplicates(subset=['도로명주소'])
print(temp_coor_df.shape)
temp_coor_df.head()

(541117, 3)

                     도로명주소            X좌표           Y좌표
0  서울특별시 종로구 자하문로36길 16-14  953042.185946  1.954799e+06
1  서울특별시 종로구 자하문로36길 16-11  953033.999264  1.954773e+06
2   서울특별시 종로구 자하문로36길 16-5  953028.717755  1.954717e+06
3   서울특별시 종로구 자하문로36길 28-0  952962.680291  1.954697e+06
9   서울특별시 종로구 자하문로36길 21-0  953003.226021  1.954652e+06

In [28]:
merge_df = main_data_df.merge(temp_coor_df, on=['도로명주소'])
print(merge_df.shape)
merge_df.head()

(1903435, 16)

,지번주소,도로명주소,건물(단지)명,전용면적(㎡),거래금액(만원),층,건축년도,계약날짜기준_건물연식,계약날짜,건물연식,부동산유형,전용면적_classes,가격_면적,가격_면적_classes,X좌표,Y좌표
0,서울특별시 강남구 개포동 1264-3,서울특별시 강남구 개포로31길 23-7,(1264-3),53.28,11500,-1,1992.0,14.0,2006-08-29,29.0,연립다세대,50~55,215.840841,210~220,960076.154238,1.942459e+06
1,서울특별시 강남구 개포동 171-13,서울특별시 강남구 선릉로14길 11-0,(171-13),68.08,56500,2,1988.0,18.0,2006-12-20,33.0,연립다세대,65~70,829.905993,820~830,961145.462320,1.942843e+06
2,서울특별시 강남구 개포동 171-13,서울특별시 강남구 선릉로14길 11-0,(171-13),44.80,23300,-1,1988.0,28.0,2016-01-16,33.0,연립다세대,40~45,520.089286,520~530,961145.462320,1.942843e+06
3,서울특별시 강남구 개포동 171-13,서울특별시 강남구 선릉로14길 11-0,(171-13),44.80,24500,-1,1988.0,28.0,2016-04-09,33.0,연립다세대,40~45,546.875000,540~550,961145.462320,1.942843e+06
4,서울특별시 강남구 개포동 171-13,서울특별시 강남구 선릉로14길 11-0,(171-13),68.08,60000,2,1988.0,31.0,2019-10-23,33.0,연립다세대,65~70,881.316099,880~890,961145.462320,1.942843e+06

In [30]:
merge_df['구'] = merge_df['지번주소'].apply(lambda x: x.split(' ')[1])
merge_df['동'] = merge_df['지번주소'].apply(lambda x: x.split(' ')[2])

In [31]:
merge_df.head()

,지번주소,도로명주소,건물(단지)명,전용면적(㎡),거래금액(만원),층,건축년도,계약날짜기준_건물연식,계약날짜,건물연식,부동산유형,전용면적_classes,가격_면적,가격_면적_classes,X좌표,Y좌표,구,동
0,서울특별시 강남구 개포동 1264-3,서울특별시 강남구 개포로31길 23-7,(1264-3),53.28,11500,-1,1992.0,14.0,2006-08-29,29.0,연립다세대,50~55,215.840841,210~220,960076.154238,1.942459e+06,강남구,개포동
1,서울특별시 강남구 개포동 171-13,서울특별시 강남구 선릉로14길 11-0,(171-13),68.08,56500,2,1988.0,18.0,2006-12-20,33.0,연립다세대,65~70,829.905993,820~830,961145.462320,1.942843e+06,강남구,개포동
2,서울특별시 강남구 개포동 171-13,서울특별시 강남구 선릉로14길 11-0,(171-13),44.80,23300,-1,1988.0,28.0,2016-01-16,33.0,연립다세대,40~45,520.089286,520~530,961145.462320,1.942843e+06,강남구,개포동
3,서울특별시 강남구 개포동 171-13,서울특별시 강남구 선릉로14길 11-0,(171-13),44.80,24500,-1,1988.0,28.0,2016-04-09,33.0,연립다세대,40~45,546.875000,540~550,961145.462320,1.942843e+06,강남구,개포동
4,서울특별시 강남구 개포동 171-13,서울특별시 강남구 선릉로14길 11-0,(171-13),68.08,60000,2,1988.0,31.0,2019-10-23,33.0,연립다세대,65~70,881.316099,880~890,961145.462320,1.942843e+06,강남구,개포동

In [32]:
%%time
merge_df.to_csv('./prepped_data/메인_데이터_20060101_20210416_ver_3.csv', index=False)

Wall time: 11 s