In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
basedir = './국토교통부_실거래가_공개시스템/아파트/original/'
filenames = [f for f in os.listdir(basedir) if (f.endswith('.csv'))]#&('실거래가' in f)]
filenames

['아파트(매매)__실거래가_20130101_20131231.csv',
 '아파트(매매)__실거래가_20140101_20141231.csv',
 '아파트(매매)__실거래가_20150101_20151231.csv',
 '아파트(매매)__실거래가_20160101_20161231.csv',
 '아파트(매매)__실거래가_20170101_20171231.csv',
 '아파트(매매)__실거래가_20180101_20181231.csv',
 '아파트(매매)__실거래가_20190101_20191231.csv',
 '아파트(매매)__실거래가_20200101_20201231.csv',
 '아파트(매매)__실거래가_20210101_20210324.csv']

In [4]:
for i, f in enumerate(filenames):
    print(i)
    chunk = pd.read_csv(basedir + f, chunksize=1, encoding='euc-kr', header=15)
    df = next(chunk)
    if '해제사유발생일' in df.columns.tolist():
        df = df.drop(columns=['해제사유발생일'])
        
    print(df.shape)
    display(df.head())
    
    if i == 0:
        first_cols = df.columns
    else:
        print(sum(df.columns == first_cols))

0
(1, 12)

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명
0,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,201309,8,"57,000",2,1988,언주로 103

1
(1, 12)

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명
0,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,201401,29,"55,000",7,1988,언주로 103

12
2
(1, 12)

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명
0,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,201501,11,"60,000",5,1988,언주로 103

12
3
(1, 12)

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명
0,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,201603,28,"75,000",5,1988,언주로 103

12
4
(1, 12)

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명
0,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,201703,15,"80,000",7,1988,언주로 103

12
5
(1, 12)

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명
0,서울특별시 강남구 개포동,658-1,658,1,개포6차우성아파트1동~8동,79.97,201801,3,"130,000",4,1987,언주로 3

12
6
(1, 12)

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명
0,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,201906,18,"134,500",4,1988,언주로 103

12
7
(1, 12)

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명
0,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,202006,23,"149,500",4,1988,언주로 103

12
8
(1, 12)

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명
0,서울특별시 강남구 개포동,652,652,0,개포우성3차,104.43,202101,5,"220,000",3,1984,개포로 307

12

In [5]:
dfs_list = []
for i, f in tqdm(enumerate(filenames)):
    df = pd.read_csv(basedir + f, encoding='euc-kr', header=15)
    if '해제사유발생일' in df.columns.tolist():
        df = df.drop(columns=['해제사유발생일'])
    
    dfs_list.append(df)

9it [00:01,  7.65it/s]

In [6]:
concat_df = pd.concat(dfs_list).reset_index(drop=True)
print(concat_df.shape)
concat_df.head()

(740236, 12)

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201309,8,"57,000",2,1988,언주로 103
1,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201312,16,"57,000",2,1988,언주로 103
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,67.28,201302,11,"55,000",5,1987,언주로 3
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,67.28,201302,22,"58,250",4,1987,언주로 3
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,67.28,201305,10,"60,000",5,1987,언주로 3

In [7]:
concat_df.rename(columns={'전용면적(㎡)':'전용면적'}, inplace=True)

In [8]:
%%time
concat_df.to_csv(basedir + '아파트_매매_20130101_20210324.csv', index=False)

Wall time: 2.02 s