In [1]:
import pandas as pd
import numpy as np
import os
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
from tqdm import tqdm
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
matplotlib.rcParams['axes.unicode_minus'] = False
pd.options.mode.chained_assignment = None  # default='warn'
plt.rcParams['font.family'] = 'Malgun Gothic'
font = {'size': 16}
matplotlib.rc('font', **font)

In [2]:
coor_df = pd.read_csv('./prepped_data/coor_data_ver_2.csv')
print(coor_df.shape)
coor_df.head()

(567335, 3)

                 도로명주소            X좌표           Y좌표
0  서울특별시 종로구 자하문로 94-0  953241.683263  1.954023e+06
1  서울특별시 종로구 자하문로 96-0  953243.258151  1.954034e+06
2  서울특별시 종로구 자하문로 98-0  953240.877646  1.954055e+06
3  서울특별시 종로구 자하문로 99-3  953195.459364  1.954079e+06
4  서울특별시 종로구 자하문로 99-4  953193.346779  1.954097e+06

In [4]:
inv_df = coor_df[coor_df['도로명주소'] == '서울특별시 중구 세종대로']
print(inv_df.shape)
inv_df.head()

(0, 3)

Empty DataFrame
Columns: [도로명주소, X좌표, Y좌표]
Index: []