In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
addr1_df = pd.read_csv('./prepped_data/addr_data_ver_1.csv')
print(addr1_df.shape)
addr1_df.head()

(572321, 2)

                   지번주소                도로명주소
0   서울특별시 종로구 청운동 144-3  서울특별시 종로구 자하문로 94-0
1  서울특별시 종로구 청운동 108-14  서울특별시 종로구 자하문로 96-0
2  서울특별시 종로구 청운동 108-13  서울특별시 종로구 자하문로 98-0
3   서울특별시 종로구 청운동 134-2  서울특별시 종로구 자하문로 99-3
4   서울특별시 종로구 청운동 130-2  서울특별시 종로구 자하문로 99-4

In [3]:
addr2_df = pd.read_csv('./prepped_data/additional_addr_1.csv')
print(addr2_df.shape)
addr2_df.head()

(33720, 2)

                    지번주소                 도로명주소
0   서울특별시 강남구 청담동 129-16  서울특별시 강남구 압구정로79길 72
1     서울특별시 강서구 공항동 49-1   서울특별시 강서구 공항대로 18-1
2   서울특별시 노원구 상계동 341-15      서울특별시 노원구 상계로 90
3   서울특별시 동대문구 용두동 236-4     서울특별시 동대문구 왕산로 52
4  서울특별시 영등포구 당산동2가 15-2   서울특별시 영등포구 영등포로 112

In [5]:
concat_df = pd.concat([addr1_df, addr2_df]).drop_duplicates(subset=['지번주소']).reset_index(drop=True)
print(concat_df.shape)
concat_df.head()

(606041, 2)

                   지번주소                도로명주소
0   서울특별시 종로구 청운동 144-3  서울특별시 종로구 자하문로 94-0
1  서울특별시 종로구 청운동 108-14  서울특별시 종로구 자하문로 96-0
2  서울특별시 종로구 청운동 108-13  서울특별시 종로구 자하문로 98-0
3   서울특별시 종로구 청운동 134-2  서울특별시 종로구 자하문로 99-3
4   서울특별시 종로구 청운동 130-2  서울특별시 종로구 자하문로 99-4

In [7]:
concat_df.to_csv('./prepped_data/addr_data_ver_2.csv', index=False)