In [1]:
import numpy as np
import pandas as pd

In [2]:
subway_df = pd.read_excel('./지하철역/지하철역.xlsx')
print(subway_df.shape)
subway_df.head()

(744, 4)

       철도역                 영문 철도역        소재지 이용 가능한 노선
0       가능                Ganeung   경기도 의정부시       1호선
1     가락시장           Garak Market  서울특별시 송파구       3호선
2      NaN                    NaN        NaN       8호선
3  가산디지털단지  Gasan Digital Complex  서울특별시 금천구       1호선
4      NaN                    NaN        NaN       7호선

In [12]:
seoul_subway_df = subway_df.drop(columns=['이용 가능한 노선']).reset_index(drop=True)
#seoul_subway_df = seoul_subway_df[seoul_subway_df['소재지'].str.contains('서울특별시')]
print(seoul_subway_df.shape)
seoul_subway_df.head()

(744, 3)

       철도역                 영문 철도역        소재지
0       가능                Ganeung   경기도 의정부시
1     가락시장           Garak Market  서울특별시 송파구
2      NaN                    NaN        NaN
3  가산디지털단지  Gasan Digital Complex  서울특별시 금천구
4      NaN                    NaN        NaN

In [13]:
seoul_subway_df.isna().sum()

철도역       120
영문 철도역    120
소재지       113
dtype: int64

In [14]:
seoul_subway_df.fillna(0, inplace=True)

In [15]:
seoul_subway_df.head()

       철도역                 영문 철도역        소재지
0       가능                Ganeung   경기도 의정부시
1     가락시장           Garak Market  서울특별시 송파구
2        0                      0          0
3  가산디지털단지  Gasan Digital Complex  서울특별시 금천구
4        0                      0          0

In [16]:
seoul_subway_df = seoul_subway_df[seoul_subway_df['철도역'] != 0]
print(seoul_subway_df.shape)

(624, 3)

In [17]:
seoul_subway_df = seoul_subway_df[seoul_subway_df['소재지'] != 0]
print(seoul_subway_df.shape)

(624, 3)

In [18]:
seoul_subway_df.head()

       철도역                 영문 철도역        소재지
0       가능                Ganeung   경기도 의정부시
1     가락시장           Garak Market  서울특별시 송파구
3  가산디지털단지  Gasan Digital Complex  서울특별시 금천구
5       가양                 Gayang  서울특별시 강서구
6      가오리                  Gaori  서울특별시 강북구

In [19]:
seoul_subway_df['소재지'].unique()

array(['경기도\xa0의정부시', '서울특별시\xa0송파구', '서울특별시\xa0금천구', '서울특별시\xa0강서구',
       '서울특별시\xa0강북구', '인천광역시\xa0서구', '서울특별시\xa0서대문구', '경기도\xa0성남시',
       '경기도\xa0가평군', '인천광역시\xa0남동구', '경기도\xa0구리시', '인천광역시\xa0부평구',
       '서울특별시\xa0강남구', '경기도\xa0용인시', '서울특별시\xa0강동구', '경기도\xa0고양시',
       '서울특별시\xa0광진구', '강원도\xa0춘천시', '서울특별시\xa0구로구', '경기도\xa0김포시',
       '경기도\xa0광주시', '경기도\xa0과천시', '서울특별시\xa0종로구', '인천광역시\xa0계양구',
       '서울특별시\xa0성북구', '경기도\xa0수원시', '서울특별시\xa0서초구', '경기도\xa0안산시',
       '서울특별시\xa0마포구', '서울특별시\xa0노원구', '인천광역시\xa0중구', '경기도\xa0안양시',
       '경기도\xa0광명시', '서울특별시\xa0은평구', '경기도\xa0양평군', '인천광역시\xa0연수구',
       '서울특별시\xa0영등포구', '경기도\xa0군포시', '경기도\xa0남양주시', '경기도\xa0파주시',
       '서울특별시\xa0성동구', '경기도\xa0부천시', '서울특별시\xa0관악구', '서울특별시\xa0동작구',
       '서울특별시\xa0용산구', '경기도\xa0시흥시', '서울특별시\xa0동대문구', '경기도\xa0양주시',
       '서울특별시\xa0도봉구', '인천광역시\xa0동구', '인천광역시\xa0미추홀구', '서울특별시\xa0중구',
       '경기도\xa0동두천시', '충청남도\xa0천안시', '서울특별시\xa0양천구', '서울특별시\xa0중랑구',
       '경기도\xa0하남시', '충청남도\xa0아산시', '경기도\xa0화성시', '경기도\xa0이천시',
       '경기도\xa0오산시', '경기도\xa0평택시', '경기도\xa0여주시', '경기도\xa0의왕시'],
      dtype=object)

In [20]:
seoul_subway_df = seoul_subway_df[seoul_subway_df['소재지'].str.contains('서울특별시')]
print(seoul_subway_df.shape)

(298, 3)

In [21]:
seoul_subway_df.head()

        철도역                 영문 철도역         소재지
1      가락시장           Garak Market   서울특별시 송파구
3   가산디지털단지  Gasan Digital Complex   서울특별시 금천구
5        가양                 Gayang   서울특별시 강서구
6       가오리                  Gaori   서울특별시 강북구
10       가좌                  Gajwa  서울특별시 서대문구

In [22]:
inv_df = seoul_subway_df[seoul_subway_df['철도역'].str.contains('양재')]
print(inv_df.shape)
inv_df

(2, 3)

        철도역                    영문 철도역        소재지
485      양재                   Yangjae  서울특별시 서초구
487  양재시민의숲  Yangjae Citizen's Forest  서울특별시 서초구