In [1]:
import pandas as pd
import numpy as np
import os
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
from tqdm import tqdm
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
matplotlib.rcParams['axes.unicode_minus'] = False
pd.options.mode.chained_assignment = None  # default='warn'
plt.rcParams['font.family'] = 'Malgun Gothic'
import datetime

In [14]:
date_today = pd.to_datetime(datetime.datetime.now().strftime('%Y-%m-%d'), format='%Y-%m-%d')

In [2]:
def day_modifier(x):
    # x is a number
    
    if pd.isna(x) == True:
        return x
    else:
        x = str(x)
        if len(x) == 1:
            return '0' + x
        else:
            return x

In [3]:
def landnum_modifier(x):
    # x is a string
    
    if pd.isna(x) == True:
        return x
    else:
        x = str(x).replace('외', '').replace(' ','')
        splitted = x.split('-')
        if len(splitted) == 1:
            return x + '-0'
        else:
            return x

In [4]:
def data_prep(bdtype, tradetype):
    # bdtype is a string: one of 아파트, 연립다세대 or 오피스텔
    # tradetype is a string: one of 매매 or 전월세
    
    basedir = './국토교통부_실거래가_공개시스템/{}/{}/'.format(bdtype, tradetype)
    filenames = [f for f in os.listdir(basedir) if (f.endswith('.csv'))&('(' in f)]
    
    dfs_list = []
    for i, f in tqdm(enumerate(filenames)):
        df = pd.read_csv(basedir + f, encoding='euc-kr', header=15)
        if '해제사유발생일' in df.columns.tolist():
            df = df[df['해제사유발생일'].isna()]
            df = df.drop(columns=['해제사유발생일'])

        dfs_list.append(df)
    
    concat_df = pd.concat(dfs_list).reset_index(drop=True)
        
    concat_df['번지'] = concat_df['번지'].apply(landnum_modifier)
    
    concat_df['계약년월'] = concat_df['계약년월'].apply(str)
    concat_df['계약일'] = concat_df['계약일'].apply(str)
    
    concat_df['계약날짜기준_건물연식'] = concat_df['계약년월'].apply(lambda x: int(x[:4])) - concat_df['건축년도']
    
    concat_df['계약일'] = concat_df['계약일'].apply(day_modifier)
    
    concat_df['계약날짜'] = concat_df['계약년월'].apply(lambda x: x[:4]) + '-' + concat_df['계약년월'].apply(lambda x: x[-2:])\
    + '-' + concat_df['계약일']
    
    concat_df['계약날짜'] = pd.to_datetime(concat_df['계약날짜'], format='%Y-%m-%d')
    
    concat_df['거래금액(만원)'] = concat_df['거래금액(만원)'].apply(lambda x: int(x.replace(',','')))
    concat_df['단가(㎡)'] = concat_df['거래금액(만원)'] / concat_df['전용면적(㎡)']
    
    concat_df['지번주소'] = concat_df['시군구'] + ' ' + concat_df['번지']
        
    cols_to_drop = ['시군구', '번지', '본번', '부번', '지번주소', '계약년월', '계약일', '도로명']
        
    concat_df = concat_df[['지번주소', '도로명'] + [col for col in concat_df.columns if col not in cols_to_drop]]
    
    date_today = pd.to_datetime(datetime.datetime.now().strftime('%Y-%m-%d'), format='%Y-%m-%d')
    concat_df['건물연식'] = date_today.year - concat_df['건축년도']
    
    concat_df = concat_df.dropna(subset=['지번주소'])
    
    concat_df = concat_df.reset_index(drop=True)
    
    return concat_df

In [5]:
yunrip_df = data_prep('연립다세대', '매매')
print(yunrip_df.shape)
yunrip_df.head()

16it [00:01, 11.20it/s]

(686453, 12)

,지번주소,도로명,건물명,전용면적(㎡),대지권면적(㎡),거래금액(만원),층,건축년도,계약날짜기준_건물연식,계약날짜,단가(㎡),건물연식
0,서울특별시 강남구 개포동 1264-3,개포로31길 23-7,(1264-3),53.28,29.23,11500,-1,1992.0,14.0,2006-08-29,215.840841,29.0
1,서울특별시 강남구 개포동 171-13,선릉로14길 11,(171-13),68.08,56.10,56500,2,1988.0,18.0,2006-12-20,829.905993,33.0
2,서울특별시 강남구 개포동 1239-7,개포로15길 25,강남빌라 가동,52.59,45.00,40500,2,1988.0,18.0,2006-12-09,770.108386,33.0
3,서울특별시 강남구 개포동 1239-7,개포로15길 25,강남빌라 가동,52.59,45.00,42000,1,1988.0,18.0,2006-12-19,798.630918,33.0
4,서울특별시 강남구 개포동 1239-6,개포로15길 27,강남빌라 나동,52.75,44.68,22000,2,1988.0,18.0,2006-11-02,417.061611,33.0

In [6]:
officetel_df = data_prep('오피스텔', '매매')
print(officetel_df.shape)
officetel_df.head()

16it [00:00, 44.94it/s]

(177944, 11)

,지번주소,도로명,단지명,전용면적(㎡),거래금액(만원),층,건축년도,계약날짜기준_건물연식,계약날짜,단가(㎡),건물연식
0,서울특별시 강남구 개포동 13-3,개포로 623,대청타워,32.44,6400,8,1997.0,9.0,2006-01-10,197.287300,24.0
1,서울특별시 강남구 개포동 13-3,개포로 623,대청타워,32.44,7100,7,1997.0,9.0,2006-01-10,218.865598,24.0
2,서울특별시 강남구 개포동 13-3,개포로 623,대청타워,32.44,7300,11,1997.0,9.0,2006-01-11,225.030826,24.0
3,서울특별시 강남구 개포동 13-3,개포로 623,대청타워,31.91,7500,10,1997.0,9.0,2006-01-18,235.036039,24.0
4,서울특별시 강남구 개포동 13-3,개포로 623,대청타워,32.44,7400,15,1997.0,9.0,2006-01-19,228.113440,24.0

In [7]:
def land_shape2(x):
    # x is a string
    
    if pd.isna(x) == True:
        return x
    else:
        if '사다리' in x:
            return '사다리형'
        elif '장방' in x:
            return '장방형'
        elif '정방' in x:
            return '정방형'
        elif '부정' in x:
            return '부정형'
        elif '않음' in x:
            return '지정되지않음'
        elif '자루' in x:
            return '자루형'
        elif '삼각' in x:
            return '삼각형'
        else:
            return '기타'

In [8]:
land_specs_df = pd.read_csv('./prepped_data/land_specs_ver_4.csv')
land_specs_df['지형형상2'] = land_specs_df['지형형상'].apply(land_shape2)
print(land_specs_df.shape)
land_specs_df.head()

(8706295, 12)

,지번주소,년,지목명,토지면적,용도지역명1,용도지역명2,토지이동상황,지형높이,지형형상,도로접면,공시지가,지형형상2
0,서울특별시 강남구 개포동 100-0,2013,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,325000.0,부정형
1,서울특별시 강남구 개포동 100-0,2014,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,330000.0,부정형
2,서울특별시 강남구 개포동 100-0,2015,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,335000.0,부정형
3,서울특별시 강남구 개포동 100-0,2016,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,345000.0,부정형
4,서울특별시 강남구 개포동 100-0,2017,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,355000.0,부정형

In [9]:
last_df = land_specs_df.drop_duplicates(subset=['지번주소'], keep='last').drop(columns=['년', '공시지가']).reset_index(drop=True)
print(last_df.shape)
last_df.head()

(981464, 10)

                  지번주소 지목명    토지면적  용도지역명1  용도지역명2 토지이동상황 지형높이 지형형상 도로접면 지형형상2
0  서울특별시 강남구 개포동 100-0   전   876.0  자연녹지지역  지정되지않음      전  완경사  부정형   맹지   부정형
1  서울특별시 강남구 개포동 101-0   전   641.0  자연녹지지역  지정되지않음      전   평지  부정형   맹지   부정형
2  서울특별시 강남구 개포동 102-0   전   509.0  자연녹지지역  지정되지않음      전   평지  부정형   맹지   부정형
3  서울특별시 강남구 개포동 103-0   전    48.7  자연녹지지역  개발제한구역      전   평지  부정형   맹지   부정형
4  서울특별시 강남구 개포동 104-1   전  2995.0  개발제한구역  자연녹지지역      전  완경사  부정형   맹지   부정형

In [10]:
yunrip_merge_df = yunrip_df.merge(last_df, on=['지번주소']).reset_index(drop=True)

In [11]:
yunrip_df['구'] = yunrip_df['지번주소'].apply(lambda x: x.split(' ')[1])
yunrip_df['동'] = yunrip_df['지번주소'].apply(lambda x: x.split(' ')[2])
yunrip_merge_df['구'] = yunrip_merge_df['지번주소'].apply(lambda x: x.split(' ')[1])
yunrip_merge_df['동'] = yunrip_merge_df['지번주소'].apply(lambda x: x.split(' ')[2])

In [12]:
target_gu = '영등포구'
target_dong = '영등포동8가'
target_purpose = '준공업'

In [15]:
target_df = yunrip_merge_df[
    (yunrip_merge_df['구'] == target_gu)
    &(yunrip_merge_df['동'] == target_dong)
    &(yunrip_merge_df['계약날짜'] >= (date_today - pd.DateOffset(years=1)))
    #&(yunrip_merge_df['건물연식'] <= 10)
    #&(yunrip_merge_df['용도지역명1'].str.contains(target_purpose))
]
print(target_df.shape)
target_df.head()

(2, 23)

,지번주소,도로명,건물명,전용면적(㎡),대지권면적(㎡),거래금액(만원),층,건축년도,계약날짜기준_건물연식,계약날짜,단가(㎡),건물연식,지목명,토지면적,용도지역명1,용도지역명2,토지이동상황,지형높이,지형형상,도로접면,지형형상2,구,동
679361,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,14.76,5.02,11000,7,2014.0,6.0,2020-07-07,745.257453,7.0,대,501.2,준주거지역,일반상업지역,주상기타,평지,부정형,세로한면(가),부정형,영등포구,영등포동8가
679362,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,14.78,5.02,13000,9,2014.0,6.0,2020-09-17,879.566982,7.0,대,501.2,준주거지역,일반상업지역,주상기타,평지,부정형,세로한면(가),부정형,영등포구,영등포동8가

In [16]:
inv_df = officetel_df[officetel_df['지번주소'] == target_df['지번주소'].iloc[0]]
print(inv_df.shape)
inv_df.head()

(23, 11)

,지번주소,도로명,단지명,전용면적(㎡),거래금액(만원),층,건축년도,계약날짜기준_건물연식,계약날짜,단가(㎡),건물연식
98995,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,18.15,11592,6,2014.0,0.0,2014-06-18,638.677686,7.0
98996,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,18.15,11592,6,2014.0,0.0,2014-06-18,638.677686,7.0
98997,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,19.86,11900,6,2014.0,0.0,2014-10-19,599.194361,7.0
98998,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,19.86,11300,2,2014.0,0.0,2014-10-19,568.982880,7.0
111236,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,18.68,11000,4,2014.0,1.0,2015-09-21,588.865096,7.0

In [17]:
inv_df

,지번주소,도로명,단지명,전용면적(㎡),거래금액(만원),층,건축년도,계약날짜기준_건물연식,계약날짜,단가(㎡),건물연식
98995,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,18.15,11592,6,2014.0,0.0,2014-06-18,638.677686,7.0
98996,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,18.15,11592,6,2014.0,0.0,2014-06-18,638.677686,7.0
98997,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,19.86,11900,6,2014.0,0.0,2014-10-19,599.194361,7.0
98998,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,19.86,11300,2,2014.0,0.0,2014-10-19,568.982880,7.0
111236,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,18.68,11000,4,2014.0,1.0,2015-09-21,588.865096,7.0
111237,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,18.66,11000,4,2014.0,1.0,2015-09-21,589.496249,7.0
111238,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,18.68,11500,6,2014.0,1.0,2015-10-02,615.631692,7.0
123664,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,18.66,11000,2,2014.0,2.0,2016-05-22,589.496249,7.0
123665,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,18.68,10500,5,2014.0,2.0,2016-10-06,562.098501,7.0
145903,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,18.66,11600,5,2014.0,4.0,2018-06-01,621.650589,7.0
145904,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,18.66,12000,2,2014.0,4.0,2018-06-25,643.086817,7.0
171360,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,18.68,11000,5,2014.0,6.0,2020-08-10,588.865096,7.0
171361,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,19.86,13700,4,2014.0,6.0,2020-10-27,689.828802,7.0
177445,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,18.15,11200,6,2014.0,7.0,2021-01-06,617.079890,7.0
177446,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,18.15,15000,3,2014.0,7.0,2021-01-16,826.446281,7.0
177447,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,19.86,11000,3,2014.0,7.0,2021-01-26,553.877140,7.0
177448,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,19.88,10500,2,2014.0,7.0,2021-01-26,528.169014,7.0
177449,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,18.66,15500,2,2014.0,7.0,2021-02-23,830.653805,7.0
177450,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,18.15,15500,5,2014.0,7.0,2021-02-28,853.994490,7.0
177451,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,19.88,15000,5,2014.0,7.0,2021-03-28,754.527163,7.0
177452,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,18.15,10500,2,2014.0,7.0,2021-04-05,578.512397,7.0
177453,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,18.66,10500,3,2014.0,7.0,2021-04-05,562.700965,7.0
177454,서울특별시 영등포구 영등포동8가 45-8,영중로 114-8,리안펠리체,19.86,15000,2,2014.0,7.0,2021-04-06,755.287009,7.0

In [ ]:
font = {'size': 16}
matplotlib.rc('font', **font)
f, ax = plt.subplots(figsize=(20,10))
plt.title('최근 3년 {} {} 건물연식 3년이하 연립/다세대 매매 실거래 {}건의 전용면적 단가'.format(target_gu, target_dong, target_df.shape[0]))
plt.grid(True)
ax.xaxis.update_units(target_df['계약날짜'])
sns.regplot(x=ax.xaxis.convert_units(target_df['계약날짜']), y=target_df['전용면적단가(만원/㎡)'], order=3)
plt.savefig('./국토교통부_실거래가_공개시스템/집값분석/{}_연립다세대/산포도.png'.format(target))

In [ ]:
concat_df = pd.concat([target_df])

In [ ]:
concat_df['단가평균'] = concat_df[['지번주소', '건축년도', '전용면적단가(만원/㎡)']].groupby(['지번주소', '건축년도']).transform('mean')['전용면적단가(만원/㎡)']

In [ ]:
selected_df = concat_df[['지번주소', '건물명', '건축년도', '단가평균', '용도지역명1']].drop_duplicates()
selected_df = selected_df.sort_values(['지번주소']).reset_index(drop=True)
print(selected_df.shape)
selected_df.head()

In [ ]:
font = {'size': 13}
matplotlib.rc('font', **font)
plt.grid(True)
plt.ylabel('수')
plt.title('최근 3년 {} 건물연식 3년이하 연립/다세대 매매 실거래 {}곳의 전용면적 단가 평균'.format(target, selected_df.shape[0]))
sns.histplot(selected_df['단가평균'], kde=True)
plt.savefig('./국토교통부_실거래가_공개시스템/집값분석/{}_연립다세대/분포도.png'.format(target))
plt.show()
plt.clf()

In [ ]:
selected_df = selected_df.sort_values(['지번주소']).reset_index(drop=True)

In [ ]:
selected_df.to_excel('./국토교통부_실거래가_공개시스템/집값분석/{}_연립다세대/실거래가.xlsx'.format(target), index=False)