In [1]:
import multiprocess as mp
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import math
from tqdm import tqdm
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
import datetime
from sklearn.preprocessing import quantile_transform
pd.options.mode.chained_assignment = None  # default='warn'
import gc
import requests
from urllib.parse import urlparse

In [2]:
basedir = './국토교통부_실거래가_공개시스템/토지/'
filenames = [f for f in os.listdir(basedir) if ('토지' in f) & ('.csv' in f)]
filenames

['토지(매매)__실거래가_20060101_20061231.csv',
 '토지(매매)__실거래가_20070101_20071231.csv',
 '토지(매매)__실거래가_20080101_20081231.csv',
 '토지(매매)__실거래가_20090101_20091231.csv',
 '토지(매매)__실거래가_20100101_20101231.csv',
 '토지(매매)__실거래가_20110101_20111231.csv',
 '토지(매매)__실거래가_20120101_20121231.csv',
 '토지(매매)__실거래가_20130101_20131231.csv',
 '토지(매매)__실거래가_20140101_20141231.csv',
 '토지(매매)__실거래가_20150101_20151231.csv',
 '토지(매매)__실거래가_20160101_20161231.csv',
 '토지(매매)__실거래가_20170101_20171231.csv',
 '토지(매매)__실거래가_20180101_20181231.csv',
 '토지(매매)__실거래가_20190101_20191231.csv',
 '토지(매매)__실거래가_20200101_20201231.csv',
 '토지(매매)__실거래가_20210101_20210331.csv']

In [8]:
for f in filenames:
    df = pd.read_csv(basedir + f, encoding='euc-kr', header=14)
    display(df.head())
    year = str(df['계약년월'].iloc[0])[:4]
    print(year)
    df.to_csv(basedir + '토지(매매)__실거래가_{}0101_{}1231.csv'.format(year, year), index=False)

,시군구,번지,지목,용도지역,도로조건,계약년월,계약일,계약면적(㎡),거래금액(만원),지분구분
0,서울특별시 구로구 오류동,2*,대,제2종일반주거지역,8m미만,200601,1,23.14,"1,890",
1,서울특별시 관악구 신림동,산9*,임야,제3종일반주거지역,25m미만,200601,2,26.00,"1,432",지분
2,서울특별시 강남구 역삼동,7**,대,제3종일반주거지역,8m미만,200601,2,393.30,"267,750",
3,서울특별시 서초구 신원동,3**,전,개발제한구역,8m미만,200601,2,684.00,"53,820",
4,서울특별시 관악구 신림동,산1**,임야,제3종일반주거지역,25m미만,200601,3,24.00,"1,325",지분

2006

,시군구,번지,지목,용도지역,도로조건,계약년월,계약일,계약면적(㎡),거래금액(만원),지분구분
0,서울특별시 강북구 미아동,7**,대,제2종일반주거지역,8m미만,200701,2,82.00,"10,900",
1,서울특별시 강북구 미아동,7**,도로,제2종일반주거지역,8m미만,200701,2,2.00,100,
2,서울특별시 용산구 원효로4가,8*,대,제2종일반주거지역,8m미만,200701,2,433.80,"165,000",
3,서울특별시 동대문구 용두동,6**,대,준주거지역,12m미만,200701,2,11.00,"2,000",지분
4,서울특별시 노원구 중계동,1*,대,개발제한구역,8m미만,200701,2,99.18,"24,000",

2007

               시군구   번지  지목    용도지역   도로조건    계약년월  계약일  계약면적(㎡) 거래금액(만원) 지분구분
0   서울특별시 서대문구 홍은동   산*  임야  개발제한구역      -  200801    1  1521.00    1,000
1   서울특별시 용산구 이태원동   5*   대   준주거지역   8m미만  200801    2     2.67    1,050   지분
2  서울특별시 종로구 신문로2가  1**   대  일반상업지역      -  200801    2     4.00    1,311
3   서울특별시 용산구 이태원동   6*   대   준주거지역  25m이상  200801    2     1.67    1,500   지분
4  서울특별시 종로구 신문로2가   9*   대  일반상업지역   8m미만  200801    2    12.20   11,220

2008

,시군구,번지,지목,용도지역,도로조건,계약년월,계약일,계약면적(㎡),거래금액(만원),지분구분
0,서울특별시 영등포구 영등포동5가,2*,대,일반상업지역,-,200901,1,1.67,"1,200",지분
1,서울특별시 영등포구 영등포동5가,2*,대,준주거지역,-,200901,1,3.53,"1,860",지분
2,서울특별시 영등포구 영등포동5가,2*,대,준주거지역,-,200901,1,1.33,640,지분
3,서울특별시 강서구 마곡동,*,대,준공업지역,-,200901,2,73.00,"15,000",
4,서울특별시 성북구 삼선동2가,4**,대,제3종일반주거지역,25m미만,200901,2,66.70,"17,250",

2009

             시군구   번지  지목       용도지역  도로조건    계약년월  계약일  계약면적(㎡) 거래금액(만원) 지분구분
0  서울특별시 도봉구 도봉동  산6*  임야     개발제한구역  8m미만  201001    3   1268.0   23,500
1  서울특별시 도봉구 도봉동  산6*  임야     개발제한구역  8m미만  201001    3   1323.0   28,000
2  서울특별시 구로구 고척동   4*  도로  제2종일반주거지역     -  201001    4    238.0   11,000
3  서울특별시 동작구 사당동  1**  도로  제2종일반주거지역     -  201001    4     89.0   14,268
4  서울특별시 동작구 사당동  1**  도로  제2종일반주거지역     -  201001    4     96.0   15,391

2010

,시군구,번지,지목,용도지역,도로조건,계약년월,계약일,계약면적(㎡),거래금액(만원),지분구분
0,서울특별시 관악구 남현동,1***,대,제2종일반주거지역,8m미만,201101,2,16.39,"6,000",지분
1,서울특별시 동작구 흑석동,9*,도로,제2종일반주거지역,-,201101,3,7.00,"1,000",
2,서울특별시 마포구 아현동,3**,대,제2종일반주거지역,12m미만,201101,3,1.66,"1,126",
3,서울특별시 마포구 아현동,3**,대,제2종일반주거지역,12m미만,201101,3,1.96,"1,981",
4,서울특별시 마포구 아현동,3**,대,제2종일반주거지역,12m미만,201101,3,13.77,"10,712",

2011

             시군구   번지  지목       용도지역  도로조건    계약년월  계약일  계약면적(㎡) 거래금액(만원) 지분구분
0  서울특별시 성동구 행당동  1**   대  제2종일반주거지역  8m미만  201201    2    17.00    1,000
1  서울특별시 은평구 진관동  3**   전     개발제한구역  8m미만  201201    2    43.00    5,000   지분
2  서울특별시 관악구 봉천동  1**   대  제3종일반주거지역  8m미만  201201    3    41.75   13,500   지분
3  서울특별시 종로구 평창동  4**   대  제1종전용주거지역  8m미만  201201    3   392.33   27,000
4  서울특별시 중랑구 상봉동  2**  도로  제2종일반주거지역  8m미만  201201    3   136.00    3,000

2012

,시군구,번지,지목,용도지역,도로조건,계약년월,계약일,계약면적(㎡),거래금액(만원),지분구분
0,서울특별시 노원구 상계동,1**,종교용지,제2종일반주거지역,12m미만,201301,1,45.0,"14,027",
1,서울특별시 노원구 상계동,1**,종교용지,제2종일반주거지역,12m미만,201301,1,9.0,"2,805",
2,서울특별시 은평구 불광동,2**,도로,제2종일반주거지역,-,201301,2,50.0,"12,245",지분
3,서울특별시 강북구 수유동,5**,대,제2종일반주거지역,8m미만,201301,2,66.0,"13,266",
4,서울특별시 마포구 염리동,2*,대,제2종일반주거지역,12m미만,201301,2,4.0,"2,000",

2013

,시군구,번지,지목,용도지역,도로조건,계약년월,계약일,계약면적(㎡),거래금액(만원),지분구분
0,서울특별시 강서구 화곡동,3**,대,제2종일반주거지역,8m미만,201401,2,351.00,"153,500",
1,서울특별시 성동구 옥수동,5**,대,제2종일반주거지역,8m미만,201401,2,16.53,"19,999",지분
2,서울특별시 종로구 숭인동,2**,대,일반상업지역,8m미만,201401,2,46.70,"22,916",
3,서울특별시 노원구 상계동,산1**,임야,개발제한구역,8m미만,201401,2,200.00,500,
4,서울특별시 성북구 정릉동,2**,대,제2종일반주거지역,12m미만,201401,3,3.00,"1,200",

2014

,시군구,번지,지목,용도지역,도로조건,계약년월,계약일,계약면적(㎡),거래금액(만원),지분구분
0,서울특별시 종로구 부암동,산1*,임야,개발제한구역,-,201501,1,1388.00,"11,000",
1,서울특별시 은평구 녹번동,5*,대,제2종일반주거지역,8m미만,201501,1,11.00,"2,500",
2,서울특별시 중구 장충동1가,3*,대,제2종일반주거지역,-,201501,2,4.50,"1,000",
3,서울특별시 노원구 월계동,산1**,임야,자연녹지지역,12m미만,201501,2,82.18,"1,753",지분
4,서울특별시 용산구 한남동,*,대,제1종일반주거지역,8m미만,201501,2,28.00,"17,374",

2015

,시군구,번지,지목,용도지역,도로조건,계약년월,계약일,계약면적(㎡),거래금액(만원),지분구분
0,서울특별시 강북구 수유동,산1**,임야,제1종일반주거지역,-,201601,4,17.0,"1,387",지분
1,서울특별시 영등포구 신길동,1**,대,제2종일반주거지역,8m미만,201601,4,3.0,"1,416",
2,서울특별시 강북구 수유동,산1**,임야,제1종일반주거지역,-,201601,4,24.0,"1,941",지분
3,서울특별시 송파구 가락동,1**,대,제2종일반주거지역,8m미만,201601,4,179.2,"119,000",
4,서울특별시 송파구 가락동,1**,대,제2종일반주거지역,8m미만,201601,4,179.2,"119,000",

2016

,시군구,번지,지목,용도지역,도로조건,계약년월,계약일,계약면적(㎡),거래금액(만원),지분구분
0,서울특별시 은평구 진관동,산1*,임야,개발제한구역,-,201701,1,155.00,"1,551",지분
1,서울특별시 노원구 중계동,산1**,임야,제2종일반주거지역,8m미만,201701,1,101.15,"17,300",지분
2,서울특별시 은평구 진관동,산1*,임야,개발제한구역,-,201701,1,330.00,"3,234",지분
3,서울특별시 은평구 진관동,산1*,임야,개발제한구역,-,201701,1,330.00,"3,267",지분
4,서울특별시 은평구 진관동,산1*,임야,개발제한구역,-,201701,1,330.00,"3,267",지분

2017

,시군구,번지,지목,용도지역,도로조건,계약년월,계약일,계약면적(㎡),거래금액(만원),지분구분
0,서울특별시 동대문구 전농동,1**,대,제3종일반주거지역,8m미만,201801,2,13.33,"10,100",지분
1,서울특별시 동작구 상도동,2**,대,제2종일반주거지역,-,201801,2,102.00,"12,000",
2,서울특별시 성동구 행당동,2**,대,제2종일반주거지역,-,201801,2,20.00,"12,770",
3,서울특별시 종로구 신영동,8*,임야,제1종일반주거지역,-,201801,2,19.00,"2,880",지분
4,서울특별시 은평구 응암동,6**,대,제3종일반주거지역,12m미만,201801,2,76.00,"48,359",

2018

,시군구,번지,지목,용도지역,도로조건,계약년월,계약일,계약면적(㎡),거래금액(만원),지분구분
0,서울특별시 성북구 정릉동,8**,잡종지,개발제한구역,8m미만,201901,2,8.45,1,지분
1,서울특별시 성동구 옥수동,3**,대,제2종일반주거지역,8m미만,201901,2,2.48,"1,000",지분
2,서울특별시 강남구 삼성동,9*,대,제3종일반주거지역,25m미만,201901,2,663.30,"1,060,000",
3,서울특별시 동작구 신대방동,3**,대,제1종일반주거지역,-,201901,2,49.00,"1,350",지분
4,서울특별시 금천구 가산동,5**,대,준공업지역,-,201901,2,2.00,"1,555",지분

2019

,시군구,번지,지목,용도지역,도로조건,계약년월,계약일,계약면적(㎡),거래금액(만원),지분구분
0,서울특별시 동작구 상도동,1**,잡종지,제2종일반주거지역,8m미만,202001,2,4.67,"1,400",지분
1,서울특별시 도봉구 도봉동,산5*,임야,개발제한구역,8m미만,202001,2,429.75,"1,677",지분
2,서울특별시 마포구 염리동,8*,대,제2종일반주거지역,8m미만,202001,2,20.00,"10,000",
3,서울특별시 성동구 성수동1가,6**,대,준주거지역,-,202001,2,43.00,"104,050",
4,서울특별시 성동구 성수동1가,6**,대,준주거지역,-,202001,2,43.00,"104,050",

2020

In [4]:
for f in filenames:
    year = f.replace('.csv', '')[-8:-4]
    if (year == '2020') | (year == '2021'):
        df = pd.read_csv(basedir + f, encoding='euc-kr', header=14)
        display(df.head())
        year = str(df['계약년월'].iloc[0])[:4]
        print(year)
        df.to_csv(basedir + '토지(매매)__실거래가_{}0101_{}1231.csv'.format(year, year), index=False)

,시군구,번지,지목,용도지역,도로조건,계약년월,계약일,계약면적(㎡),거래금액(만원),지분구분,해제사유발생일
0,서울특별시 동작구 상도동,1**,잡종지,제2종일반주거지역,8m미만,202001,2,4.67,"1,400",지분,NaN
1,서울특별시 도봉구 도봉동,산5*,임야,개발제한구역,8m미만,202001,2,429.75,"1,677",지분,NaN
2,서울특별시 마포구 염리동,8*,대,제2종일반주거지역,8m미만,202001,2,20.00,"10,000",,NaN
3,서울특별시 성동구 성수동1가,6**,대,준주거지역,-,202001,2,43.00,"104,050",,NaN
4,서울특별시 성동구 성수동1가,6**,대,준주거지역,-,202001,2,43.00,"104,050",,NaN

2020

,시군구,번지,지목,용도지역,도로조건,계약년월,계약일,계약면적(㎡),거래금액(만원),지분구분,해제사유발생일
0,서울특별시 동작구 노량진동,2**,도로,제3종일반주거지역,-,202101,2,50.00,"50,000",,NaN
1,서울특별시 동작구 노량진동,3**,대,제3종일반주거지역,-,202101,2,74.00,"58,000",지분,NaN
2,서울특별시 도봉구 도봉동,4**,잡종지,제1종일반주거지역,8m미만,202101,3,34.00,"15,427",지분,NaN
3,서울특별시 관악구 신림동,산6*,임야,자연녹지지역,-,202101,3,3206.60,"4,000",지분,NaN
4,서울특별시 도봉구 도봉동,4**,잡종지,제1종일반주거지역,8m미만,202101,3,11.33,"5,100",지분,NaN

2021