In [1]:
import pandas as pd
import numpy as np
import os
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
import tqdm
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
matplotlib.rcParams['axes.unicode_minus'] = False
pd.options.mode.chained_assignment = None  # default='warn'
plt.rcParams['font.family'] = 'Malgun Gothic'
font = {'size': 16}
matplotlib.rc('font', **font)
tqdm.tqdm.pandas()
#import multiprocess as mp

In [2]:
%%time
main_data_df = pd.read_csv('./Prepped Data/main_data_coor_days_nonan_20211224.csv', dtype={1:'str', 9:'Int64', 10:'Int64'})
main_data_df['계약날짜'] = pd.to_datetime(main_data_df['계약날짜'])
print(main_data_df.shape)
main_data_df.head()

(5068169, 22)
Wall time: 13.4 s

,시군구,번지,본번,부번,건물/단지명,거래유형,전용면적(㎡),거래/보증금(만원),월세(만원),층,건축년도,도로명,부동산유형,가격범위,건물단지명_키워드,브랜드,대장구분명,지목,x좌표,y좌표,계약날짜,계약날짜일수_2006년기준
0,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,2253,12,12,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-02-22,4070
1,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,730,10,8,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-04-26,4133
2,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,1815,4,8,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-08-31,4260
3,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,3865,17,11,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2018-03-29,4470
4,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,3062,7,9,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2018-07-14,4577

In [3]:
main_data_df['지번주소'] = main_data_df['시군구'] + ' ' + main_data_df['번지']

In [4]:
main_data_df = main_data_df.sort_values(['시군구', '본번', '부번', '건축년도', '계약날짜']).reset_index(drop=True)
print(main_data_df.shape)
main_data_df.head()

(5068169, 23)

,시군구,번지,본번,부번,건물/단지명,거래유형,전용면적(㎡),거래/보증금(만원),월세(만원),층,건축년도,도로명,부동산유형,가격범위,건물단지명_키워드,브랜드,대장구분명,지목,x좌표,y좌표,계약날짜,계약날짜일수_2006년기준,지번주소
0,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,2253,12,12,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-02-22,4070,서울특별시 강남구 개포동 12
1,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,730,10,8,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-04-26,4133,서울특별시 강남구 개포동 12
2,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,1815,4,8,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-08-31,4260,서울특별시 강남구 개포동 12
3,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,3865,17,11,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2018-03-29,4470,서울특별시 강남구 개포동 12
4,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,3062,7,9,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2018-07-14,4577,서울특별시 강남구 개포동 12

In [5]:
main_data_df = main_data_df.rename(columns={'번지':'지번'})

In [6]:
official_price_df = pd.read_csv('./Prepped Data/official_price_20220124.csv')
print(official_price_df.shape)
official_price_df.head()

(30239919, 8)

  시군구명 법정동명  공시지가(원/㎡)  기준년도        기준년월  본번  부번 대장구분명
0  강남구  개포동     170000  1990  1990-01-01   1   1     산
1  강남구  개포동     480000  1991  1991-01-01   1   1     산
2  강남구  개포동    1300000  1992  1992-01-01   1   1     산
3  강남구  개포동    1500000  1993  1993-01-01   1   1     산
4  강남구  개포동    1500000  1994  1994-01-01   1   1     산

In [7]:
main_data_df['구'] = main_data_df['시군구'].apply(lambda x: x.split(' ')[1])
main_data_df['동'] = main_data_df['시군구'].apply(lambda x: x.split(' ')[2])

In [8]:
main_data_df.head()

,시군구,지번,본번,부번,건물/단지명,거래유형,전용면적(㎡),거래/보증금(만원),월세(만원),층,건축년도,도로명,부동산유형,가격범위,건물단지명_키워드,브랜드,대장구분명,지목,x좌표,y좌표,계약날짜,계약날짜일수_2006년기준,지번주소,구,동
0,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,2253,12,12,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-02-22,4070,서울특별시 강남구 개포동 12,강남구,개포동
1,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,730,10,8,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-04-26,4133,서울특별시 강남구 개포동 12,강남구,개포동
2,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,1815,4,8,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-08-31,4260,서울특별시 강남구 개포동 12,강남구,개포동
3,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,3865,17,11,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2018-03-29,4470,서울특별시 강남구 개포동 12,강남구,개포동
4,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,3062,7,9,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2018-07-14,4577,서울특별시 강남구 개포동 12,강남구,개포동

In [9]:
main_data_df['구'].value_counts()

송파구     423562
강서구     382628
강남구     346840
노원구     318121
서초구     257830
양천구     256701
강동구     256455
마포구     240839
은평구     240786
구로구     227283
영등포구    213418
관악구     191006
성북구     186953
동작구     183810
도봉구     172592
성동구     150291
동대문구    146140
광진구     142024
중랑구     139697
서대문구    139344
용산구     118866
강북구     114639
금천구      95779
중구       61645
종로구      60920
Name: 구, dtype: int64

In [10]:
main_data_df['동'].value_counts()

화곡동       142381
상계동       132349
봉천동       100126
목동         99346
신정동        95284
구로동        85050
신림동        80433
잠실동        76719
서초동        76474
창동         74469
중계동        65775
신월동        63438
역삼동        59557
방배동        58574
상도동        54765
대치동        54093
미아동        51831
등촌동        51379
천호동        49252
사당동        49123
월계동        48178
가락동        47217
방화동        47148
개포동        46954
문정동        46787
시흥동        45280
반포동        44415
공릉동        43935
자양동        43227
방이동        42993
개봉동        42112
마곡동        41188
암사동        40925
면목동        39140
정릉동        38684
장안동        38301
성내동        38018
쌍문동        37661
독산동        37501
수유동        37417
방학동        37376
구의동        36913
불광동        36072
도곡동        35694
응암동        35560
잠원동        35422
성산동        34397
가양동        33455
신길동        33235
신천동        33063
송파동        33040
신내동        32493
길동         32362
신당동        31517
삼성동        30595
신사동        30052
내발산동       30030
길음동        28671
염창동        28365
하계동        27884
오류동        26978
양재동        26461
홍제동        26228
망원동        25842
답십리동       25775
진관동        25473
갈현동        25402
역촌동        25380
명일동        25327
논현동        25323
둔촌동        25274
석촌동        25266
중곡동        25090
삼전동        24331
신도림동       24116
이촌동        24051
행당동        24050
북가좌동       23909
상암동        23654
여의도동       23622
도봉동        23086
고척동        22919
묵동         21899
돈암동        21511
오금동        21099
번동         20947
홍은동        20364
광장동        20278
풍납동        20226
신대방동       20173
장지동        19701
상봉동        19400
성수동1가      19042
대림동        18806
강일동        18553
대조동        18434
장위동        18245
압구정동       18043
녹번동        17988
수서동        17980
대방동        17703
하월곡동       17668
공덕동        17619
도화동        17542
전농동        17492
옥수동        17448
청담동        17320
이문동        17199
거여동        16670
종암동        16575
마천동        16450
일원동        16108
연희동        15857
구산동        15654
남가좌동       15344
휘경동        15004
흑석동        14845
고덕동        14832
합정동        14477
하왕십리동      14451
중화동        14252
서교동        13961
자곡동        13541
우면동        13433
성수동2가      13232
가산동        12998
노량진동       12632
망우동        12513
아현동        12416
석관동        12335
용두동        12054
상일동        11912
응봉동        10476
남현동        10447
황학동        10367
한남동        10364
숭인동        10114
신공덕동        9911
마장동         9905
창전동         9690
북아현동        9254
문래동6가       9196
후암동         9109
연남동         9057
도림동         8987
당산동5가       8878
증산동         8861
당산동4가       8776
금호동4가       8614
제기동         8613
궁동          8524
당산동         8442
공항동         8068
화양동         7941
양평동2가       7855
양평동3가       7855
영등포동        7486
본동          7464
창신동         7377
문래동3가       7310
수색동         7139
신수동         7096
금호동3가       7039
금호동1가       6780
문배동         6651
영등포동7가      6644
대흥동         6489
당산동3가       6479
염리동         6408
천왕동         6302
온수동         6265
영등포동1가      6164
청량리동        6023
세곡동         5954
효창동         5862
대현동         5783
양평동4가       5759
한강로2가       5607
창천동         5413
상수동         5381
중동          5363
금호동2가       5242
군자동         5181
이태원동        5102
양평동5가       4613
당산동2가       4513
우이동         4444
영등포동2가      4324
노고산동        4231
평창동         4078
영등포동8가      4050
원효로1가       4028
용강동         4018
상도1동        4011
용답동         4003
무악동         3968
용문동         3928
상월곡동        3892
현저동         3819
용산동2가       3772
한강로3가       3580
회기동         3534
산천동         3464
청파동1가       3419
도원동         3394
능동          3394
가리봉동        3344
성북동         3341
보광동         3337
중림동         3313
현석동         3146
문래동5가       3142
내수동         3116
동작동         3094
원효로4가       2986
충정로3가       2978
양평동6가       2949
당산동1가       2893
서빙고동        2715
마포동         2710
천연동         2555
한강로1가       2487
송정동         2449
상왕십리동       2425
동교동         2416
도선동         2407
삼선동2가       2401
당산동6가       2344
양평동1가       2299
사직동         2192
장충동2가       2180
신설동         2145
누상동         2112
냉천동         2092
행촌동         2083
신계동         2058
구기동         1991
영등포동4가      1916
서계동         1890
만리동2가       1818
흥인동         1802
동자동         1770
보문동6가       1728
사근동         1716
갈월동         1677
영천동         1674
항동          1673
신영동         1644
삼선동3가       1618
합동          1612
동소문동4가      1604
내곡동         1579
명륜2가        1573
동숭동         1504
안암동3가       1484
영등포동3가      1483
안암동1가       1447
신원동         1446
삼선동4가       1446
보문동3가       1436
동빙고동        1428
명륜1가        1407
삼선동5가       1402
동소문동7가      1377
토정동         1325
부암동         1322
회현동1가       1305
연건동         1227
원서동         1219
충정로2가       1158
문래동4가       1121
동소문동6가      1093
동선동4가       1081
청파동2가       1070
원효로3가       1056
익선동         1035
홍익동         1012
만리동1가       1011
순화동         1007
영등포동6가      1000
청파동3가        967
신창동          961
하중동          961
용산동5가        933
명륜3가         917
충무로5가        864
동선동3가        863
홍파동          842
당인동          807
혜화동          806
동선동1가        768
삼선동1가        768
보문동2가        758
신교동          704
경운동          674
장충동1가        664
성북동1가        662
동선동5가        656
청운동          646
영등포동5가       645
인의동          633
수송동          629
안암동5가        628
대신동          628
옥인동          626
문래동2가        613
종로1가         594
충무로4가        592
외발산동         585
안암동2가        573
을지로5가        569
구수동          555
효제동          510
원효로2가        506
오장동          464
율현동          449
의주로1가        436
동소문동5가       435
연지동          431
미근동          430
묵정동          426
평동           404
동선동2가        403
교북동          380
주성동          379
필운동          366
홍지동          354
낙원동          343
안암동4가        288
신문로1가        283
보문동4가        274
을지로6가        262
회현동2가        254
광희동1가        254
명륜4가         248
충무로2가        246
보문동5가        242
인현동2가        238
동소문동1가       234
충무로3가        234
저동2가         233
관철동          232
청암동          226
정동           222
이화동          212
충신동          209
당주동          205
원남동          200
견지동          199
보문동7가        194
필동3가         182
남대문로5가       182
옥천동          167
보문동1가        161
적선동          153
신문로2가        149
체부동          145
광희동2가        142
예장동          124
효자동          113
통인동          109
계동            96
을지로2가         92
운니동           92
누하동           91
필동2가          89
을지로3가         76
쌍림동           75
가회동           75
신촌동           74
을지로4가         72
무학동           63
필동1가          62
산림동           59
창성동           58
돈의동           58
용산동3가         56
을지로7가         56
남창동           48
남산동2가         42
통의동           41
관수동           40
인사동           35
삼청동           34
남영동           33
개화동           29
문래동1가         19
안국동           19
염곡동           16
원지동           10
동소문동3가         7
봉원동            5
주교동            3
화동             2
종로6가           1
Name: 동, dtype: int64

In [11]:
official_price_df = official_price_df.rename(columns={'시군구명':'구', '법정동명':'동'})

In [12]:
official_price_df['구'].value_counts()

성북구     2132083
마포구     1703773
은평구     1601407
종로구     1561658
동대문구    1443027
관악구     1396246
강북구     1387389
서대문구    1383748
강서구     1345464
영등포구    1332100
동작구     1282451
중랑구     1222784
용산구     1204977
구로구     1193904
중구      1182530
성동구     1123912
강남구     1058020
서초구     1015824
송파구      986044
광진구      985389
강동구      897628
양천구      776094
도봉구      747302
노원구      638586
금천구      637579
Name: 구, dtype: int64

In [13]:
official_price_df['동'].value_counts()

신림동       761710
미아동       662325
봉천동       588590
화곡동       548206
신길동       523049
면목동       510283
수유동       498605
구로동       439015
신당동       376692
정릉동       369884
상도동       339880
장위동       334246
시흥동       311922
방배동       296160
신월동       295696
응암동       295087
사당동       288060
중곡동       284357
신정동       281679
상계동       278047
천호동       263652
독산동       263346
불광동       250972
자양동       249981
이문동       235410
전농동       234458
홍은동       227549
신사동       220797
쌍문동       216971
답십리동      212147
대림동       211676
개봉동       211345
목동        207401
길음동       202931
방화동       202843
창동        198172
홍제동       197317
망우동       192853
역삼동       192195
구의동       184910
서초동       184738
남가좌동      182997
석관동       179537
연희동       176863
논현동       173677
갈현동       173540
아현동       171579
종암동       171364
창신동       170420
행당동       169708
방학동       169183
흑석동       167513
중화동       165254
하월곡동      164522
북아현동      164423
제기동       164409
도봉동       162976
공덕동       161689
진관동       161623
노량진동      160906
성내동       154798
북가좌동      153847
용두동       151705
번동        147925
이태원동      147274
성북동       144573
고척동       143844
오류동       141750
공릉동       140979
한남동       139241
휘경동       137635
암사동       132325
장안동       132196
성산동       132115
상봉동       131676
역촌동       129968
묵동        129623
녹번동       127151
마천동       124391
성수동1가     124200
성수동2가     122558
대조동       121065
공항동       120876
상암동       120262
망원동       119670
월계동       118118
서교동       114785
후암동       113106
돈암동       110599
양재동       110309
하왕십리동     109422
풍납동       107796
숭인동       106975
거여동       106855
개화동       104804
신대방동      100735
내곡동        99925
보광동        97264
대치동        95885
도림동        95420
방이동        95158
청량리동       95136
염리동        94774
신내동        93095
삼성동        92153
반포동        92074
합정동        90659
평창동        90625
대흥동        86716
화양동        85908
대방동        84411
등촌동        83543
수색동        83446
군자동        82269
도화동        81347
연남동        81267
가락동        80271
우이동        78534
문정동        76188
길동         75844
신수동        75073
구산동        74607
석촌동        74245
청담동        73554
중계동        72868
개포동        71769
고덕동        71685
황학동        71231
잠실동        70684
송파동        69840
창천동        69359
본동         67950
강일동        67845
가리봉동       67188
삼전동        66752
용산동2가      66713
부암동        66696
신도림동       66071
용답동        65847
금호동1가      64693
마장동        62342
둔촌동        62326
가산동        62311
신공덕동       60133
우면동        60125
옥수동        60021
금호동3가      59814
오금동        58745
금호동4가      57955
도곡동        57444
창전동        56763
내발산동       56725
증산동        56547
서계동        55472
신원동        53260
광장동        53159
세곡동        52533
장지동        52199
회기동        50622
가양동        50288
상수동        50282
원지동        50242
송정동        50111
영등포동       49751
궁동         48782
자곡동        46743
일원동        46275
상도1동       46050
노고산동       46044
남현동        45946
효창동        45070
능동         44805
한강로3가      44645
오곡동        43089
금호동2가      42771
동교동        41560
상월곡동       41151
충신동        41048
행촌동        40947
용문동        40769
염창동        40717
명륜3가       40325
안암동5가      40116
사근동        40007
대현동        39495
회현동1가      38608
잠원동        38327
영등포동5가     37792
당산동1가      37540
청파동1가      37307
구기동        37278
명일동        36435
충정로3가      36389
남창동        36377
동숭동        35958
장충동2가      35100
삼선동1가      34481
원효로1가      33681
한강로2가      33661
중림동        32844
상일동        32718
마곡동        32337
무악동        32259
영등포동7가     32143
염곡동        30664
청파동3가      30654
응봉동        30259
율현동        30051
신설동        29309
하계동        28574
이화동        28351
수서동        27982
외발산동       27790
용강동        27699
현저동        27663
삼청동        27629
양평동1가      27475
동자동        27351
갈월동        27197
동작동        26946
온수동        26810
보문동6가      26721
동빙고동       25950
만리동2가      25904
천왕동        25875
신영동        25207
중동         24923
삼선동2가      24828
청파동2가      24791
상왕십리동      24759
당산동3가      24550
원효로2가      24196
사직동        24073
명륜1가       23831
문래동4가      23784
청운동        23602
옥인동        23552
가회동        23443
항동         23224
을지로6가      22956
혜화동        22761
이촌동        21697
종로6가       21468
계동         21446
종로5가       21428
양평동4가      21283
원서동        21278
영등포동2가     21175
홍익동        20932
예지동        20716
과해동        20550
주교동        20224
원효로3가      19751
누상동        19307
당산동6가      19134
방산동        18962
냉천동        18837
을지로3가      18824
오장동        18792
필동2가       18722
홍지동        18520
도선동        18513
보문동1가      18340
한강로1가      18264
영등포동3가     18237
당산동4가      18062
을지로4가      18010
장충동1가      17944
인현동2가      17925
신문로2가      17415
문래동3가      17303
효제동        17107
산림동        16928
마포동        16825
연건동        16688
원남동        16605
삼선동5가      16579
명륜2가       16318
충무로4가      16299
신계동        16237
명륜4가       16230
남대문로5가     16217
현석동        16004
보문동3가      15955
안암동2가      15946
영천동        15741
광희동2가      15351
쌍림동        15217
동선동4가      15144
안암동3가      15142
삼선동3가      15055
인사동        14918
낙원동        14854
누하동        14777
인현동1가      14739
천연동        14735
여의도동       14720
안암동1가      14653
필동3가       14480
충정로2가      14361
광희동1가      14190
서빙고동       14128
용산동5가      13949
영등포동6가     13898
영등포동4가     13890
오쇠동        13696
통인동        13535
연지동        13421
청진동        13360
예장동        13324
도원동        13137
동선동2가      12685
신교동        12625
순화동        12305
관훈동        12298
필운동        12232
남영동        12175
입정동        12022
문래동2가      11968
신창동        11962
문래동1가      11945
체부동        11927
장사동        11878
원효로4가      11746
양평동2가      11426
돈의동        11407
동소문동6가     11335
을지로2가      11022
동선동3가      11015
홍파동        10816
당산동        10712
동선동5가      10706
양평동3가      10672
동소문동4가     10656
삼선동4가      10520
평동         10520
옥천동        10454
동선동1가      10329
보문동2가      10307
흥인동        10190
익선동        10106
영등포동8가     10065
산천동        10063
성북동1가      10030
남산동2가      10021
송월동         9868
동소문동2가      9844
권농동         9807
미근동         9695
봉익동         9542
관수동         9517
을지로5가       9501
통의동         9409
보문동5가       9284
대신동         9219
팔판동         9167
북창동         9110
효자동         9080
당산동2가       9008
동소문동7가      8986
안국동         8983
구수동         8967
예관동         8855
명동2가        8839
관철동         8718
초동          8472
묵정동         8384
만리동1가       8365
내수동         8196
회현동2가       8160
동소문동5가      8135
양평동5가       7936
와룡동         7895
당인동         7858
창성동         7802
신문로1가       7665
소격동         7646
저동2가        7646
신촌동         7368
인의동         7177
화동          6957
문배동         6956
충무로2가       6882
주성동         6834
다동          6759
서소문동        6631
영등포동1가      6580
충무로3가       6460
충무로5가       6448
내자동         6423
보문동4가       6420
묘동          6410
동소문동1가      6389
보문동7가       6369
재동          6291
견지동         6165
을지로7가       6070
종로3가        5867
수송동         5813
종로4가        5721
명동1가        5564
당주동         5564
사간동         5471
양화동         5461
정동          5403
운니동         5247
필동1가        5025
태평로2가       5003
하중동         4941
양평동6가       4539
당산동5가       4476
용산동3가       4465
소공동         4432
세종로         4420
청암동         4374
안암동4가       4372
압구정동        4363
봉래동1가       4354
교남동         4297
경운동         4294
공평동         4290
남대문로4가      4276
교북동         4177
종로2가        3980
봉원동         3841
남산동1가       3807
수표동         3713
적선동         3627
충무로1가       3626
저동1가        3621
합동          3595
중학동         3534
남산동3가       3233
토정동         3156
궁정동         3148
용산동6가       3143
서린동         3031
도렴동         3019
삼각동         2981
동소문동3가      2934
신천동         2920
무학동         2813
태평로1가       2684
문래동5가       2572
문래동6가       2500
종로1가        2301
의주로1가       2244
수하동         2133
회현동3가       1978
남대문로3가      1940
의주로2가       1910
무교동         1824
남대문로2가      1753
을지로1가       1689
송현동         1646
봉래동2가       1644
남학동         1610
주자동         1538
충정로1가       1492
양평동         1358
남대문로1가      1333
훈정동         1313
용산동1가        946
장교동          905
용산동4가        808
Name: 동, dtype: int64

In [14]:
main_data_df['계약날짜기준_건물연식'] = main_data_df['계약날짜'].dt.year - main_data_df['건축년도']

In [15]:
main_data_df['계약날짜기준_건물연식'].value_counts()

 0     301287
 4     208194
 1     207838
 2     198333
 6     186845
 5     185912
 3     179853
 12    179459
 13    177079
 8     177074
 10    176697
 9     173508
 14    173219
 11    172596
 7     171590
 15    171123
 16    167194
 17    157614
 18    150443
 19    132420
 20    122071
 21    111779
 22    103163
 23    102410
 24     97107
 25     94395
 26     90430
 27     87287
 28     83795
 29     76097
 30     67192
 31     62964
 32     59593
 33     53182
 34     40609
 35     32910
 36     23714
 37     20583
 38     17349
 39     12893
 40     11248
 41      9396
 42      8347
 43      6320
-1       6144
 44      4356
 45      3521
 46      2732
 47      2041
 48      1317
 49      1156
 50      1031
-2        744
-3        589
 51       372
 52       174
 53       131
-5         87
 54        85
-12        80
-4         79
 55        59
-7         49
-6         45
 56        44
 59        31
 57        30
-11        25
 58        25
 60        23
-10        21
-9         16
 64        16
-8         11
 65         5
 61         5
 89         2
 79         2
 88         2
 62         2
 86         1
 80         1
 81         1
 72         1
 69         1
Name: 계약날짜기준_건물연식, dtype: Int64

In [16]:
main_data_df['계약날짜기준_건물연식'].min()

-12

In [17]:
min_df = main_data_df[main_data_df['계약날짜기준_건물연식'] == -12]
print(min_df.shape)
min_df.head()

(80, 26)

,시군구,지번,본번,부번,건물/단지명,거래유형,전용면적(㎡),거래/보증금(만원),월세(만원),층,건축년도,도로명,부동산유형,가격범위,건물단지명_키워드,브랜드,대장구분명,지목,x좌표,y좌표,계약날짜,계약날짜일수_2006년기준,지번주소,구,동,계약날짜기준_건물연식
1981197,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,16000,0,15,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-01-04,3,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981198,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,15750,0,11,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-01-20,19,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981199,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,16200,0,13,2018,중계로8길 20,아파트,16000~18000,현대,현대,일반,임,207210.650109,460354.156828,2006-02-03,33,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981200,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,15200,0,8,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-02-16,46,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981201,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,15400,0,12,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-02-16,46,서울특별시 노원구 중계동 34-5,노원구,중계동,-12

In [18]:
min_df

,시군구,지번,본번,부번,건물/단지명,거래유형,전용면적(㎡),거래/보증금(만원),월세(만원),층,건축년도,도로명,부동산유형,가격범위,건물단지명_키워드,브랜드,대장구분명,지목,x좌표,y좌표,계약날짜,계약날짜일수_2006년기준,지번주소,구,동,계약날짜기준_건물연식
1981197,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,16000,0,15,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-01-04,3,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981198,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,15750,0,11,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-01-20,19,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981199,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,16200,0,13,2018,중계로8길 20,아파트,16000~18000,현대,현대,일반,임,207210.650109,460354.156828,2006-02-03,33,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981200,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,15200,0,8,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-02-16,46,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981201,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,15400,0,12,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-02-16,46,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981202,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,14000,0,2,2018,중계로8길 20,아파트,1억4천 이하,현대,현대,일반,임,207210.650109,460354.156828,2006-02-22,52,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981203,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,28200,0,11,2018,중계로8길 20,아파트,28000~30000,현대,현대,일반,임,207210.650109,460354.156828,2006-03-06,64,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981204,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,22900,0,2,2018,중계로8길 20,아파트,22000~24000,현대,현대,일반,임,207210.650109,460354.156828,2006-03-07,65,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981205,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,29350,0,15,2018,중계로8길 20,아파트,28000~30000,현대,현대,일반,임,207210.650109,460354.156828,2006-03-08,66,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981206,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,16000,0,9,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-03-08,66,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981207,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,24800,0,2,2018,중계로8길 20,아파트,24000~26000,현대,현대,일반,임,207210.650109,460354.156828,2006-03-13,71,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981208,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,25200,0,2,2018,중계로8길 20,아파트,24000~26000,현대,현대,일반,임,207210.650109,460354.156828,2006-03-18,76,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981209,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,28100,0,12,2018,중계로8길 20,아파트,28000~30000,현대,현대,일반,임,207210.650109,460354.156828,2006-03-18,76,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981210,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,14200,0,19,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-03-25,83,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981211,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,14800,0,18,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-03-31,89,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981212,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,15500,0,17,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-04-07,96,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981213,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,26000,0,5,2018,중계로8길 20,아파트,24000~26000,현대,현대,일반,임,207210.650109,460354.156828,2006-04-10,99,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981214,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,15000,0,18,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-04-13,102,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981215,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,28400,0,17,2018,중계로8길 20,아파트,28000~30000,현대,현대,일반,임,207210.650109,460354.156828,2006-04-21,110,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981216,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,15450,0,10,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-04-27,116,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981217,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,15400,0,4,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-04-29,118,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981218,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,15600,0,5,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-05-01,120,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981219,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,13800,0,5,2018,중계로8길 20,아파트,1억4천 이하,현대,현대,일반,임,207210.650109,460354.156828,2006-05-03,122,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981220,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,15800,0,6,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-05-08,127,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981221,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,16000,0,3,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-05-09,128,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981222,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,14800,0,18,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-05-11,130,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981223,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,29000,0,10,2018,중계로8길 20,아파트,28000~30000,현대,현대,일반,임,207210.650109,460354.156828,2006-05-11,130,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981224,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,25700,0,4,2018,중계로8길 20,아파트,24000~26000,현대,현대,일반,임,207210.650109,460354.156828,2006-05-13,132,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981225,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,122.69,40000,0,5,2018,중계로8길 20,아파트,38000~40000,현대,현대,일반,임,207210.650109,460354.156828,2006-06-23,173,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981226,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,122.69,42000,0,3,2018,중계로8길 20,아파트,40000~42000,현대,현대,일반,임,207210.650109,460354.156828,2006-06-28,178,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981227,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,15000,0,16,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-07-02,182,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981228,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,122.69,48000,0,16,2018,중계로8길 20,아파트,46000~48000,현대,현대,일반,임,207210.650109,460354.156828,2006-08-18,229,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981229,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,28600,0,11,2018,중계로8길 20,아파트,28000~30000,현대,현대,일반,임,207210.650109,460354.156828,2006-08-19,230,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981230,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,16000,0,7,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-08-22,233,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981231,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,16000,0,7,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-08-23,234,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981232,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,27400,0,15,2018,중계로8길 20,아파트,26000~28000,현대,현대,일반,임,207210.650109,460354.156828,2006-08-25,236,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981233,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,30000,0,16,2018,중계로8길 20,아파트,28000~30000,현대,현대,일반,임,207210.650109,460354.156828,2006-08-26,237,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981234,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,27900,0,5,2018,중계로8길 20,아파트,26000~28000,현대,현대,일반,임,207210.650109,460354.156828,2006-08-26,237,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981235,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,16000,0,8,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-08-30,241,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981236,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,30650,0,11,2018,중계로8길 20,아파트,30000~32000,현대,현대,일반,임,207210.650109,460354.156828,2006-08-30,241,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981237,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,122.69,37500,0,1,2018,중계로8길 20,아파트,36000~38000,현대,현대,일반,임,207210.650109,460354.156828,2006-09-03,245,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981238,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,122.69,45800,0,13,2018,중계로8길 20,아파트,44000~46000,현대,현대,일반,임,207210.650109,460354.156828,2006-09-09,251,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981239,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,28500,0,4,2018,중계로8길 20,아파트,28000~30000,현대,현대,일반,임,207210.650109,460354.156828,2006-09-09,251,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981240,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,15700,0,4,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-09-11,253,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981241,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,27000,0,4,2018,중계로8길 20,아파트,26000~28000,현대,현대,일반,임,207210.650109,460354.156828,2006-09-15,257,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981242,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,16000,0,11,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-09-19,261,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981243,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,29000,0,4,2018,중계로8길 20,아파트,28000~30000,현대,현대,일반,임,207210.650109,460354.156828,2006-09-23,265,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981244,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,16500,0,14,2018,중계로8길 20,아파트,16000~18000,현대,현대,일반,임,207210.650109,460354.156828,2006-09-25,267,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981245,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,28900,0,6,2018,중계로8길 20,아파트,28000~30000,현대,현대,일반,임,207210.650109,460354.156828,2006-09-26,268,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981246,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,122.69,49500,0,17,2018,중계로8길 20,아파트,48000~50000,현대,현대,일반,임,207210.650109,460354.156828,2006-10-10,282,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981247,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,16300,0,9,2018,중계로8길 20,아파트,16000~18000,현대,현대,일반,임,207210.650109,460354.156828,2006-10-12,284,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981248,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,30500,0,15,2018,중계로8길 20,아파트,30000~32000,현대,현대,일반,임,207210.650109,460354.156828,2006-10-12,284,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981249,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,122.69,47000,0,7,2018,중계로8길 20,아파트,46000~48000,현대,현대,일반,임,207210.650109,460354.156828,2006-10-18,290,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981250,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,32850,0,16,2018,중계로8길 20,아파트,32000~34000,현대,현대,일반,임,207210.650109,460354.156828,2006-10-21,293,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981251,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,14150,0,3,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-10-23,295,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981252,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,122.69,47000,0,19,2018,중계로8길 20,아파트,46000~48000,현대,현대,일반,임,207210.650109,460354.156828,2006-10-28,300,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981253,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,30900,0,5,2018,중계로8길 20,아파트,30000~32000,현대,현대,일반,임,207210.650109,460354.156828,2006-11-01,304,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981254,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,17000,0,13,2018,중계로8길 20,아파트,16000~18000,현대,현대,일반,임,207210.650109,460354.156828,2006-11-02,305,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981255,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,14900,0,1,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-11-03,306,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981256,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,17000,0,4,2018,중계로8길 20,아파트,16000~18000,현대,현대,일반,임,207210.650109,460354.156828,2006-11-03,306,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981257,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,32000,0,9,2018,중계로8길 20,아파트,30000~32000,현대,현대,일반,임,207210.650109,460354.156828,2006-11-04,307,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981258,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,32000,0,8,2018,중계로8길 20,아파트,30000~32000,현대,현대,일반,임,207210.650109,460354.156828,2006-11-07,310,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981259,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,16000,0,8,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-11-08,311,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981260,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,31900,0,5,2018,중계로8길 20,아파트,30000~32000,현대,현대,일반,임,207210.650109,460354.156828,2006-11-09,312,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981261,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,17400,0,5,2018,중계로8길 20,아파트,16000~18000,현대,현대,일반,임,207210.650109,460354.156828,2006-11-14,317,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981262,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,13000,0,1,2018,중계로8길 20,아파트,1억4천 이하,현대,현대,일반,임,207210.650109,460354.156828,2006-11-15,318,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981263,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,17000,0,7,2018,중계로8길 20,아파트,16000~18000,현대,현대,일반,임,207210.650109,460354.156828,2006-11-18,321,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981264,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,37800,0,13,2018,중계로8길 20,아파트,36000~38000,현대,현대,일반,임,207210.650109,460354.156828,2006-11-18,321,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981265,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,17000,0,6,2018,중계로8길 20,아파트,16000~18000,현대,현대,일반,임,207210.650109,460354.156828,2006-11-20,323,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981266,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,17000,0,15,2018,중계로8길 20,아파트,16000~18000,현대,현대,일반,임,207210.650109,460354.156828,2006-12-04,337,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981267,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,17000,0,11,2018,중계로8길 20,아파트,16000~18000,현대,현대,일반,임,207210.650109,460354.156828,2006-12-04,337,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981268,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,37000,0,10,2018,중계로8길 20,아파트,36000~38000,현대,현대,일반,임,207210.650109,460354.156828,2006-12-04,337,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981269,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,31000,0,5,2018,중계로8길 20,아파트,30000~32000,현대,현대,일반,임,207210.650109,460354.156828,2006-12-12,345,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981270,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,122.69,54900,0,9,2018,중계로8길 20,아파트,54000~56000,현대,현대,일반,임,207210.650109,460354.156828,2006-12-12,345,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981271,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,39000,0,8,2018,중계로8길 20,아파트,38000~40000,현대,현대,일반,임,207210.650109,460354.156828,2006-12-13,346,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981272,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,17900,0,5,2018,중계로8길 20,아파트,16000~18000,현대,현대,일반,임,207210.650109,460354.156828,2006-12-14,347,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981273,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,18000,0,4,2018,중계로8길 20,아파트,16000~18000,현대,현대,일반,임,207210.650109,460354.156828,2006-12-15,348,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981274,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,84.98,39000,0,10,2018,중계로8길 20,아파트,38000~40000,현대,현대,일반,임,207210.650109,460354.156828,2006-12-16,349,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981275,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,17800,0,17,2018,중계로8길 20,아파트,16000~18000,현대,현대,일반,임,207210.650109,460354.156828,2006-12-16,349,서울특별시 노원구 중계동 34-5,노원구,중계동,-12
1981276,서울특별시 노원구 중계동,34-5,34,5,현대(6차),매매,59.84,15000,0,1,2018,중계로8길 20,아파트,14000~16000,현대,현대,일반,임,207210.650109,460354.156828,2006-12-23,356,서울특별시 노원구 중계동 34-5,노원구,중계동,-12

In [19]:
min_df['지번'].value_counts()

34-5    80
Name: 지번, dtype: int64

In [20]:
inv_df = main_data_df[(main_data_df['거래유형'] != '월세') & (main_data_df['월세(만원)'] != 0)]
print(inv_df.shape)
inv_df.head()

(17, 26)

,시군구,지번,본번,부번,건물/단지명,거래유형,전용면적(㎡),거래/보증금(만원),월세(만원),층,건축년도,도로명,부동산유형,가격범위,건물단지명_키워드,브랜드,대장구분명,지목,x좌표,y좌표,계약날짜,계약날짜일수_2006년기준,지번주소,구,동,계약날짜기준_건물연식
189131,서울특별시 강남구 삼성동,141-10,141,10,삼성동 롯데캐슬 클라쎄,전세,21.87,24000,3,6,2019,테헤란로63길 9,오피스텔,22000~24000,삼성동 롯데캐슬 클라쎄,롯데캐슬,일반,대,204369.880744,444844.447272,2021-08-17,5707,서울특별시 강남구 삼성동 141-10,강남구,삼성동,2
804116,서울특별시 강서구 등촌동,631,631,0,등촌동두산위브센티움,전세,43.11,5000,60,3,2004,양천로 564,오피스텔,1억4천 이하,등촌동두산위브센티움,기타,일반,대,187682.690364,450578.892836,2021-06-21,5650,서울특별시 강서구 등촌동 631,강서구,등촌동,17
880707,서울특별시 강서구 마곡동,795-2,795,2,마곡아이파크,전세,36.98,2000,82,7,2016,마곡중앙8로 90,오피스텔,1억4천 이하,마곡아이파크,아이파크,일반,대,185590.593750,450933.823750,2021-07-27,5686,서울특별시 강서구 마곡동 795-2,강서구,마곡동,5
881102,서울특별시 강서구 마곡동,795-5,795,5,마곡사이언스파크뷰,전세,30.56,20000,2,11,2016,마곡중앙6로 85,오피스텔,18000~20000,마곡사이언스파크뷰,기타,일반,대,185517.525000,450897.540000,2021-06-29,5658,서울특별시 강서구 마곡동 795-5,강서구,마곡동,5
1062895,서울특별시 강서구 화곡동,982-17,982,17,크라운뷰,전세,35.54,2000,50,5,2009,화곡로 274,오피스텔,1억4천 이하,크라운뷰,기타,일반,대,186457.158547,449646.201516,2021-09-08,5729,서울특별시 강서구 화곡동 982-17,강서구,화곡동,12

In [21]:
inv_df['거래유형'].value_counts()

전세    17
Name: 거래유형, dtype: int64

In [22]:
main_data_df.loc[inv_df.index, '거래유형'] = '월세'

In [23]:
negative_df = main_data_df[
    (main_data_df['거래/보증금(만원)'] < 0)
    |(main_data_df['월세(만원)'] < 0)
]

In [24]:
print(negative_df.shape)
negative_df.head()

(0, 26)

Empty DataFrame
Columns: [시군구, 지번, 본번, 부번, 건물/단지명, 거래유형, 전용면적(㎡), 거래/보증금(만원), 월세(만원), 층, 건축년도, 도로명, 부동산유형, 가격범위, 건물단지명_키워드, 브랜드, 대장구분명, 지목, x좌표, y좌표, 계약날짜, 계약날짜일수_2006년기준, 지번주소, 구, 동, 계약날짜기준_건물연식]
Index: []

In [25]:
np.pi

3.141592653589793

In [26]:
np.cos

In [27]:
def year_circular_sine_func(x):
    return np.sin(2*np.pi*((x)/365))

def year_circular_cosine_func(x):
    return np.cos(2*np.pi*((x)/365))

In [28]:
main_data_df['계약날짜일수_sin'] = main_data_df['계약날짜일수_2006년기준'].apply(year_circular_sine_func)
main_data_df['계약날짜일수_cos'] = main_data_df['계약날짜일수_2006년기준'].apply(year_circular_cosine_func)

In [29]:
main_data_df.head()

,시군구,지번,본번,부번,건물/단지명,거래유형,전용면적(㎡),거래/보증금(만원),월세(만원),층,건축년도,도로명,부동산유형,가격범위,건물단지명_키워드,브랜드,대장구분명,지목,x좌표,y좌표,계약날짜,계약날짜일수_2006년기준,지번주소,구,동,계약날짜기준_건물연식,계약날짜일수_sin,계약날짜일수_cos
0,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,2253,12,12,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-02-22,4070,서울특별시 강남구 개포동 12,강남구,개포동,26,0.811539,0.584298
1,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,730,10,8,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-04-26,4133,서울특별시 강남구 개포동 12,강남구,개포동,26,0.895839,-0.444378
2,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,1815,4,8,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-08-31,4260,서울특별시 강남구 개포동 12,강남구,개포동,26,-0.880012,-0.474951
3,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,3865,17,11,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2018-03-29,4470,서울특별시 강남구 개포동 12,강남구,개포동,27,0.999769,0.021516
4,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,3062,7,9,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2018-07-14,4577,서울특별시 강남구 개포동 12,강남구,개포동,27,-0.247022,-0.969010

In [30]:
official_price_df.head()

     구    동  공시지가(원/㎡)  기준년도        기준년월  본번  부번 대장구분명
0  강남구  개포동     170000  1990  1990-01-01   1   1     산
1  강남구  개포동     480000  1991  1991-01-01   1   1     산
2  강남구  개포동    1300000  1992  1992-01-01   1   1     산
3  강남구  개포동    1500000  1993  1993-01-01   1   1     산
4  강남구  개포동    1500000  1994  1994-01-01   1   1     산

In [31]:
main_data_df['기준년도'] = main_data_df['계약날짜'].dt.year

In [32]:
main_data_df['본번'].dtype

dtype('int64')

In [33]:
main_data_df['부번'].dtype

dtype('int64')

In [34]:
print(official_price_df.shape)
official_price_df.head()

(30239919, 8)

     구    동  공시지가(원/㎡)  기준년도        기준년월  본번  부번 대장구분명
0  강남구  개포동     170000  1990  1990-01-01   1   1     산
1  강남구  개포동     480000  1991  1991-01-01   1   1     산
2  강남구  개포동    1300000  1992  1992-01-01   1   1     산
3  강남구  개포동    1500000  1993  1993-01-01   1   1     산
4  강남구  개포동    1500000  1994  1994-01-01   1   1     산

In [35]:
official_price_df['본번'] = official_price_df['본번'].astype('Int64')
official_price_df['부번'] = official_price_df['부번'].astype('Int64')

In [36]:
main_data_df['본번'] = main_data_df['본번'].astype('Int64')
main_data_df['부번'] = main_data_df['부번'].astype('Int64')

In [37]:
main_data_df.head()

,시군구,지번,본번,부번,건물/단지명,거래유형,전용면적(㎡),거래/보증금(만원),월세(만원),층,건축년도,도로명,부동산유형,가격범위,건물단지명_키워드,브랜드,대장구분명,지목,x좌표,y좌표,계약날짜,계약날짜일수_2006년기준,지번주소,구,동,계약날짜기준_건물연식,계약날짜일수_sin,계약날짜일수_cos,기준년도
0,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,2253,12,12,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-02-22,4070,서울특별시 강남구 개포동 12,강남구,개포동,26,0.811539,0.584298,2017
1,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,730,10,8,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-04-26,4133,서울특별시 강남구 개포동 12,강남구,개포동,26,0.895839,-0.444378,2017
2,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,1815,4,8,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-08-31,4260,서울특별시 강남구 개포동 12,강남구,개포동,26,-0.880012,-0.474951,2017
3,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,3865,17,11,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2018-03-29,4470,서울특별시 강남구 개포동 12,강남구,개포동,27,0.999769,0.021516,2018
4,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,3062,7,9,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2018-07-14,4577,서울특별시 강남구 개포동 12,강남구,개포동,27,-0.247022,-0.969010,2018

In [38]:
main_data_df['대장구분명'].value_counts()

일반    5065880
산        2289
Name: 대장구분명, dtype: int64

In [39]:
official_price_df['대장구분명'].value_counts()

일반    29726803
산       513116
Name: 대장구분명, dtype: int64

In [40]:
main_data_df['기준년도'].value_counts()

2020    505195
2019    451913
2015    438439
2016    435564
2017    433355
2018    431650
2021    394716
2014    382295
2013    335664
2011    313830
2012    302108
2006    189431
2007    128238
2009    123099
2008    120481
2010     82191
Name: 기준년도, dtype: int64

In [41]:
official_price_df['기준년도'].value_counts()

1997    1008298
1998    1005989
1999    1000297
1991     996797
1996     993370
2000     991464
1992     986973
2001     984475
1993     977790
2002     974952
1994     974286
1995     966702
2010     959951
2009     959226
2011     957428
2012     955127
2003     948949
2013     948143
2014     940824
2004     939470
2015     934453
2016     933472
2007     930271
2008     927998
2017     924646
2005     921058
2018     920432
1990     919969
2019     914596
2021     906782
2020     906224
2006     629507
Name: 기준년도, dtype: int64

In [42]:
print(main_data_df.shape)

(5068169, 29)

In [43]:
official_price_df['기준년월'] = pd.to_datetime(official_price_df['기준년월'])

In [44]:
official_price_df.head()

     구    동  공시지가(원/㎡)  기준년도       기준년월  본번  부번 대장구분명
0  강남구  개포동     170000  1990 1990-01-01   1   1     산
1  강남구  개포동     480000  1991 1991-01-01   1   1     산
2  강남구  개포동    1300000  1992 1992-01-01   1   1     산
3  강남구  개포동    1500000  1993 1993-01-01   1   1     산
4  강남구  개포동    1500000  1994 1994-01-01   1   1     산

In [45]:
official_price_df['기준월'] = official_price_df['기준년월'].dt.month

In [46]:
official_price_df = official_price_df.drop(columns=['기준년월'])
print(official_price_df.shape)
official_price_df.head()

(30239919, 8)

     구    동  공시지가(원/㎡)  기준년도  본번  부번 대장구분명  기준월
0  강남구  개포동     170000  1990   1   1     산    1
1  강남구  개포동     480000  1991   1   1     산    1
2  강남구  개포동    1300000  1992   1   1     산    1
3  강남구  개포동    1500000  1993   1   1     산    1
4  강남구  개포동    1500000  1994   1   1     산    1

In [47]:
merge_df = main_data_df.merge(official_price_df, on=['구', '동', '대장구분명', '본번', '부번', '기준년도'])
print(merge_df.shape)
merge_df.head()

(4902600, 31)

,시군구,지번,본번,부번,건물/단지명,거래유형,전용면적(㎡),거래/보증금(만원),월세(만원),층,건축년도,도로명,부동산유형,가격범위,건물단지명_키워드,브랜드,대장구분명,지목,x좌표,y좌표,계약날짜,계약날짜일수_2006년기준,지번주소,구,동,계약날짜기준_건물연식,계약날짜일수_sin,계약날짜일수_cos,기준년도,공시지가(원/㎡),기준월
0,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,2253,12,12,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-02-22,4070,서울특별시 강남구 개포동 12,강남구,개포동,26,0.811539,0.584298,2017,8930000,1
1,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,730,10,8,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-04-26,4133,서울특별시 강남구 개포동 12,강남구,개포동,26,0.895839,-0.444378,2017,8930000,1
2,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,1815,4,8,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-08-31,4260,서울특별시 강남구 개포동 12,강남구,개포동,26,-0.880012,-0.474951,2017,8930000,1
3,서울특별시 강남구 개포동,12,12,0,성원대치2단지아파트,전세,33.18,25000,0,10,1992,개포로109길 9,아파트,24000~26000,성원대치단지,기타,일반,대,206607.181143,443586.061143,2017-01-02,4019,서울특별시 강남구 개포동 12,강남구,개포동,25,0.068802,0.997630,2017,8930000,1
4,서울특별시 강남구 개포동,12,12,0,성원대치2단지아파트,전세,39.53,33000,0,15,1992,개포로109길 9,아파트,32000~34000,성원대치단지,기타,일반,대,206607.181143,443586.061143,2017-01-03,4020,서울특별시 강남구 개포동 12,강남구,개포동,25,0.085965,0.996298,2017,8930000,1

In [48]:
merge_df = merge_df.rename(columns={'기준월':'공시지가_기준월'})

In [49]:
%%time
merge_df.to_csv('./Prepped Data/main_data_official_land_price_20220124.csv', index=False)

Wall time: 57.2 s