In [1]:
import pandas as pd
import numpy as np
import os
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
import tqdm
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
matplotlib.rcParams['axes.unicode_minus'] = False
pd.options.mode.chained_assignment = None  # default='warn'
plt.rcParams['font.family'] = 'Malgun Gothic'
font = {'size': 16}
matplotlib.rc('font', **font)
tqdm.tqdm.pandas()

In [12]:
%%time
training_data_df = pd.read_csv('./Prepped Data/training_data_20220125.csv')
print(training_data_df.shape)
training_data_df.head()

(5068169, 19)
Wall time: 7.33 s

,주소_건축년도,전용면적(㎡),월세(만원),x좌표,y좌표,계약날짜일수_2006년기준,계약날짜기준_건물연식,계약날짜일수_sin,계약날짜일수_cos,거래유형,층,건축년도,부동산유형,브랜드,대장구분명,지목,구,동,거래/보증금(만원)
0,서울특별시 강남구 개포동 12 1991,25.35,12,2.066072,4.435861,4070,26,0.811539,0.584298,0,0,0,0,0,0,0,0,0,2253
1,서울특별시 강남구 개포동 12 1991,25.35,10,2.066072,4.435861,4133,26,0.895839,-0.444378,0,1,0,0,0,0,0,0,0,730
2,서울특별시 강남구 개포동 12 1991,25.35,4,2.066072,4.435861,4260,26,-0.880012,-0.474951,0,1,0,0,0,0,0,0,0,1815
3,서울특별시 강남구 개포동 12 1991,25.35,17,2.066072,4.435861,4470,27,0.999769,0.021516,0,2,0,0,0,0,0,0,0,3865
4,서울특별시 강남구 개포동 12 1991,25.35,7,2.066072,4.435861,4577,27,-0.247022,-0.969010,0,3,0,0,0,0,0,0,0,3062

In [2]:
%%time
coor_df = pd.read_csv('./Prepped Data/연속지적도출처_지번별좌표_baseline_20211222.csv')
print(coor_df.shape)
coor_df.head()

(922318, 7)
Wall time: 893 ms

  시군구명 법정동명    지번_지목     지번 지목            x좌표            y좌표
0  강남구  논현동  67-26 도  67-26  도  202648.630547  446277.538516
1  강남구  논현동  67-27 대  67-27  대  202676.093470  446297.563160
2  강남구  논현동  67-28 대  67-28  대  202584.375000  446275.930000
3  강남구  논현동     68 대     68  대  202695.885000  446317.525000
4  강남구  논현동   68-1 대   68-1  대  202707.844582  446324.121631

In [3]:
target_df = coor_df[
    (coor_df['시군구명'] == '금천구')
    &(coor_df['법정동명'] == '독산동')
    &(coor_df['지번'] == '181-31')
]
print(target_df.shape)
target_df.head()

(1, 7)

       시군구명 법정동명    지번_지목      지번 지목            x좌표            y좌표
279134  금천구  독산동  181-31대  181-31  대  191571.026664  440945.437093

In [5]:
import datetime

In [8]:
datetime.datetime.now()

datetime.datetime(2022, 1, 26, 12, 40, 32, 271252)

In [11]:
(pd.to_datetime(datetime.datetime.now()) - pd.to_datetime('2006-01-01')).days

5869

In [13]:
test_df = training_data_df.head(0)
print(test_df.shape)
test_df.head()

(0, 19)

Empty DataFrame
Columns: [주소_건축년도, 전용면적(㎡), 월세(만원), x좌표, y좌표, 계약날짜일수_2006년기준, 계약날짜기준_건물연식, 계약날짜일수_sin, 계약날짜일수_cos, 거래유형, 층, 건축년도, 부동산유형, 브랜드, 대장구분명, 지목, 구, 동, 거래/보증금(만원)]
Index: []

In [16]:
def floor_feature_engi(x):
    # x is a number
    
    if x < 0:
        return '지하'
    elif x > 40:
        return '40층초과'
    else:
        return str(x)

In [17]:
def year_circular_sine_func(x):
    return np.sin(2*np.pi*((x)/365))

def year_circular_cosine_func(x):
    return np.cos(2*np.pi*((x)/365))

In [18]:
days_delta = (pd.to_datetime(datetime.datetime.now()) - pd.to_datetime('2006-01-01')).days
days_delta

5869

In [19]:
cat_col_maps_basedir = './Training/Training3_20220125/cat_col_maps/'

In [21]:
filenames = [f for f in os.listdir(cat_col_maps_basedir)]
filenames

['거래유형.xlsx',
 '건축년도.xlsx',
 '구.xlsx',
 '대장구분명.xlsx',
 '동.xlsx',
 '부동산유형.xlsx',
 '브랜드.xlsx',
 '지목.xlsx',
 '층.xlsx']

In [22]:
cat_cols = [col.replace('.xlsx', '') for col in filenames]
cat_cols

['거래유형', '건축년도', '구', '대장구분명', '동', '부동산유형', '브랜드', '지목', '층']

In [24]:
for file in filenames:
    print(file)
    map_df = pd.read_excel(cat_col_maps_basedir + file)
    print(map_df.shape)
    display(map_df)

거래유형.xlsx
(1, 3)

   월세  매매  전세
0   0   1   2

건축년도.xlsx
(1, 68)

,1991,1992,2004,1997,1982,2003,2011,1987,2002,1993,1995,2012,1988,2017,2001,2018,1990,2019,1994,1986,1983,1984,2010,2016,2013,2000,2015,1996,1989,2020,2021,1999,2014,1998,2007,2006,2005,2008,1976,1980,1978,2009,1979,1985,1981,1977,1974,1971,1973,1970,1975,1963,1972,1968,1969,1965,1962,1967,1961,1964,1966,1959,1960,1940,1956,1955,1925,1942
0,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67

구.xlsx
(1, 25)

,강남구,강동구,강북구,강서구,관악구,광진구,구로구,금천구,노원구,도봉구,동대문구,동작구,마포구,서대문구,서초구,성동구,성북구,송파구,양천구,영등포구,용산구,은평구,종로구,중구,중랑구
0,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24

대장구분명.xlsx
(1, 2)

   일반  산
0   0  1

동.xlsx
(1, 395)

,개포동,논현동,대치동,도곡동,삼성동,세곡동,수서동,신사동,압구정동,역삼동,율현동,일원동,자곡동,청담동,강일동,고덕동,길동,둔촌동,명일동,상일동,성내동,암사동,천호동,미아동,번동,수유동,우이동,가양동,개화동,공항동,내발산동,등촌동,마곡동,방화동,염창동,외발산동,화곡동,남현동,봉천동,신림동,광장동,구의동,군자동,능동,자양동,중곡동,화양동,가리봉동,개봉동,고척동,구로동,궁동,신도림동,오류동,온수동,천왕동,항동,가산동,독산동,시흥동,공릉동,상계동,월계동,중계동,하계동,도봉동,방학동,쌍문동,창동,답십리동,신설동,용두동,이문동,장안동,전농동,제기동,청량리동,회기동,휘경동,노량진동,대방동,동작동,본동,사당동,상도1동,상도동,신대방동,흑석동,공덕동,구수동,노고산동,당인동,대흥동,도화동,동교동,마포동,망원동,상수동,상암동,서교동,성산동,신공덕동,신수동,신정동,아현동,연남동,염리동,용강동,중동,창전동,토정동,하중동,합정동,현석동,남가좌동,냉천동,대신동,대현동,미근동,봉원동,북가좌동,북아현동,신촌동,연희동,영천동,옥천동,창천동,천연동,충정로2가,충정로3가,합동,현저동,홍은동,홍제동,내곡동,반포동,방배동,서초동,신원동,양재동,염곡동,우면동,원지동,잠원동,금호동1가,금호동2가,금호동3가,금호동4가,도선동,마장동,사근동,상왕십리동,성수동1가,성수동2가,송정동,옥수동,용답동,응봉동,하왕십리동,행당동,홍익동,길음동,돈암동,동선동1가,동선동2가,동선동3가,동선동4가,동선동5가,동소문동1가,동소문동3가,동소문동4가,동소문동5가,동소문동6가,동소문동7가,보문동1가,보문동2가,보문동3가,보문동4가,보문동5가,보문동6가,보문동7가,삼선동1가,삼선동2가,삼선동3가,삼선동4가,삼선동5가,상월곡동,석관동,성북동,성북동1가,안암동1가,안암동2가,안암동3가,안암동4가,안암동5가,장위동,정릉동,종암동,하월곡동,가락동,거여동,마천동,문정동,방이동,삼전동,석촌동,송파동,신천동,오금동,잠실동,장지동,풍납동,목동,신월동,당산동,당산동1가,당산동2가,당산동3가,당산동4가,당산동5가,당산동6가,대림동,도림동,문래동1가,문래동2가,문래동3가,문래동4가,문래동5가,문래동6가,신길동,양평동1가,양평동2가,양평동3가,양평동4가,양평동5가,양평동6가,여의도동,영등포동,영등포동1가,영등포동2가,영등포동3가,영등포동4가,영등포동5가,영등포동6가,영등포동7가,영등포동8가,갈월동,남영동,도원동,동빙고동,동자동,문배동,보광동,산천동,서계동,서빙고동,신계동,신창동,용문동,용산동2가,용산동3가,용산동5가,원효로1가,원효로2가,원효로3가,원효로4가,이촌동,이태원동,주성동,청암동,청파동1가,청파동2가,청파동3가,한강로1가,한강로2가,한강로3가,한남동,효창동,후암동,갈현동,구산동,녹번동,대조동,불광동,수색동,역촌동,응암동,증산동,진관동,가회동,견지동,경운동,계동,관수동,관철동,교북동,구기동,낙원동,내수동,누상동,누하동,당주동,돈의동,동숭동,명륜1가,명륜2가,명륜3가,명륜4가,무악동,부암동,사직동,삼청동,수송동,숭인동,신교동,신문로1가,신문로2가,신영동,안국동,연건동,연지동,옥인동,운니동,원남동,원서동,이화동,익선동,인사동,인의동,적선동,종로1가,종로6가,창성동,창신동,청운동,체부동,충신동,통의동,통인동,평동,평창동,필운동,행촌동,혜화동,홍지동,홍파동,화동,효자동,효제동,광희동1가,광희동2가,남대문로5가,남산동2가,남창동,만리동1가,만리동2가,무학동,묵정동,산림동,순화동,신당동,쌍림동,예장동,오장동,을지로2가,을지로3가,을지로4가,을지로5가,을지로6가,을지로7가,의주로1가,인현동2가,장충동1가,장충동2가,저동2가,정동,주교동,중림동,충무로2가,충무로3가,충무로4가,충무로5가,필동1가,필동2가,필동3가,황학동,회현동1가,회현동2가,흥인동,망우동,면목동,묵동,상봉동,신내동,중화동
0,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394

부동산유형.xlsx
(1, 3)

   아파트  오피스텔  연립다세대
0    0     1      2

브랜드.xlsx
(1, 25)

,기타,현대,삼성,한신,푸르지오,래미안,아이파크,편한세상,아크로,아펠바움,롯데캐슬,더샵,코오롱,SK,힐스테이트,레미안,LG,데시앙,써밋,디에이치,리슈,대방,호반,포레나,중흥
0,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24

지목.xlsx
(1, 17)

   대  도  전  잡  공  답  임  차  장  철   주   학   종   수   사   창   과
0  0  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16

층.xlsx
(1, 43)

,12,8,11,9,1,5,4,6,14,7,15,10,3,13,2,16,17,21,22,19,18,20,25,26,23,24,지하,0,28,32,29,34,30,27,31,33,35,40층초과,37,36,40,38,39
0,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42

In [25]:
test_df.loc[0, '주소_건축년도'] = '서울특별시 금천구 독산동 181-31 2022'
test_df.loc[0, '전용면적(㎡)'] = 30
test_df.loc[0, '월세(만원)'] = 0
test_df.loc[0, 'x좌표'] = target_df['x좌표'].iloc[0]
test_df.loc[0, 'y좌표'] = target_df['y좌표'].iloc[0]
test_df.loc[0, '계약날짜일수_2006년기준'] = days_delta
test_df.loc[0, '계약날짜기준_건물연식'] = 0
test_df.loc[0, '계약날짜일수_sin'] = year_circular_sine_func(days_delta)
test_df.loc[0, '계약날짜일수_cos'] = year_circular_cosine_func(days_delta)
test_df.loc[0, '거래유형'] = '매매'
test_df.loc[0, '층'] = floor_feature_engi(1)
test_df.loc[0, '건축년도'] = 2022
test_df.loc[0, '부동산유형'] = '연립다세대'
test_df.loc[0, '브랜드'] = '기타'
test_df.loc[0, '대장구분명'] = '일반'
test_df.loc[0, '지목'] = '대'
test_df.loc[0, '구'] = '금천구'
test_df.loc[0, '동'] = '독산동'

# Training - Catboost Regressor

In [6]:
import catboost

In [7]:
from sklearn.model_selection import GroupKFold

In [8]:
gkfold = GroupKFold(n_splits=5)

In [10]:
count = 0
models_list = []
for train_idx, val_idx in gkfold.split(training_data_df, groups=training_data_df['주소_건축년도']):
    print('-------------- Fold {} starting ---------------'.format(count))
    
    x_train = training_data_df.drop(columns=['주소_건축년도', '거래/보증금(만원)']).loc[train_idx, :]
    y_train = training_data_df['거래/보증금(만원)'].loc[train_idx]
    
    x_val = training_data_df.drop(columns=['주소_건축년도', '거래/보증금(만원)']).loc[val_idx, :]
    y_val = training_data_df['거래/보증금(만원)'].loc[val_idx]
    
    train_pool = catboost.Pool(x_train, y_train, cat_features=cat_cols)
    val_pool = catboost.Pool(x_val, y_val, cat_features=cat_cols)
    
    model = catboost.CatBoostRegressor(iterations=10000, depth=6, task_type='GPU', loss_function='RMSE')
    
    model.fit(train_pool, eval_set=val_pool, verbose=50, early_stopping_rounds=200)
    
    model.save_model('./Training/Training3_20220125/catboost_RMSE_{}'.format(count))
    
    print('-------------- Fold {} ending ---------------'.format(count))
    count += 1

-------------- Fold 0 starting ---------------
Learning rate set to 0.079026
0:	learn: 29495.4096515	test: 29224.0890147	best: 29224.0890147 (0)	total: 343ms	remaining: 57m 8s
50:	learn: 13036.2735326	test: 13651.4947992	best: 13651.4947992 (50)	total: 8.79s	remaining: 28m 35s
100:	learn: 11379.1654507	test: 12334.9437856	best: 12334.9437856 (100)	total: 17.2s	remaining: 28m 4s
150:	learn: 10542.5587747	test: 11721.4955427	best: 11721.4955427 (150)	total: 25.7s	remaining: 27m 59s
200:	learn: 10031.5513174	test: 11435.2626320	best: 11435.2626320 (200)	total: 33.9s	remaining: 27m 33s
250:	learn: 9669.6783292	test: 11283.9674307	best: 11283.9674307 (250)	total: 42.2s	remaining: 27m 19s
300:	learn: 9382.0827457	test: 11219.8967093	best: 11213.1666885 (288)	total: 50.5s	remaining: 27m 6s
350:	learn: 9158.8962597	test: 11124.3210198	best: 11124.3210198 (350)	total: 58.8s	remaining: 26m 55s
400:	learn: 8963.6265008	test: 11074.1066151	best: 11074.1066151 (400)	total: 1m 7s	remaining: 26m 44s
450:	learn: 8796.1771404	test: 11063.4242900	best: 11063.4242900 (450)	total: 1m 15s	remaining: 26m 36s
500:	learn: 8634.3102002	test: 11099.5769912	best: 11046.7594634 (480)	total: 1m 23s	remaining: 26m 27s
550:	learn: 8510.5504717	test: 11086.9834776	best: 11046.7594634 (480)	total: 1m 32s	remaining: 26m 19s
600:	learn: 8411.8617029	test: 11106.0043858	best: 11046.7594634 (480)	total: 1m 40s	remaining: 26m 7s
650:	learn: 8311.5957954	test: 11099.0531992	best: 11046.7594634 (480)	total: 1m 48s	remaining: 25m 59s
bestTest = 11046.75946
bestIteration = 480
Shrink model to first 481 iterations.
-------------- Fold 0 ending ---------------
-------------- Fold 1 starting ---------------
Learning rate set to 0.079026
0:	learn: 29714.1289478	test: 28197.2538112	best: 28197.2538112 (0)	total: 409ms	remaining: 1h 8m 5s
50:	learn: 13146.7503129	test: 13545.4097923	best: 13545.4097923 (50)	total: 8.89s	remaining: 28m 54s
100:	learn: 11513.2413742	test: 12340.9088461	best: 12340.9088461 (100)	total: 17.3s	remaining: 28m 12s
150:	learn: 10727.3811173	test: 11820.4563376	best: 11820.4563376 (150)	total: 25.6s	remaining: 27m 50s
200:	learn: 10166.4003596	test: 11569.7334935	best: 11569.7334935 (200)	total: 33.8s	remaining: 27m 30s
250:	learn: 9769.3116987	test: 11414.4211507	best: 11407.6437511 (249)	total: 42.1s	remaining: 27m 14s
300:	learn: 9448.7260472	test: 11328.6770139	best: 11328.6770139 (300)	total: 50.4s	remaining: 27m 5s
350:	learn: 9236.2712686	test: 11194.4302574	best: 11194.4302574 (350)	total: 58.4s	remaining: 26m 45s
400:	learn: 9040.9009927	test: 11114.1069334	best: 11113.2770244 (399)	total: 1m 6s	remaining: 26m 35s
450:	learn: 8877.7757621	test: 11120.8541127	best: 11102.0092246 (410)	total: 1m 14s	remaining: 26m 25s
500:	learn: 8730.3018393	test: 11112.2675720	best: 11102.0092246 (410)	total: 1m 23s	remaining: 26m 16s
550:	learn: 8602.0302136	test: 11061.1100164	best: 11045.7840157 (548)	total: 1m 31s	remaining: 26m 7s
600:	learn: 8491.9911630	test: 10984.6214086	best: 10984.6214086 (600)	total: 1m 39s	remaining: 25m 55s
650:	learn: 8387.7924862	test: 10972.8172526	best: 10955.9813715 (636)	total: 1m 47s	remaining: 25m 46s
700:	learn: 8287.3329885	test: 11015.7704986	best: 10955.9813715 (636)	total: 1m 55s	remaining: 25m 38s
750:	learn: 8203.0837821	test: 10998.0985628	best: 10955.9813715 (636)	total: 2m 4s	remaining: 25m 29s
800:	learn: 8128.9897548	test: 10984.4910702	best: 10955.9813715 (636)	total: 2m 12s	remaining: 25m 22s
bestTest = 10955.98137
bestIteration = 636
Shrink model to first 637 iterations.
-------------- Fold 1 ending ---------------
-------------- Fold 2 starting ---------------
Learning rate set to 0.079026
0:	learn: 29397.9811486	test: 29590.3535840	best: 29590.3535840 (0)	total: 360ms	remaining: 59m 56s
50:	learn: 13172.0969367	test: 13215.2490934	best: 13215.2490934 (50)	total: 8.8s	remaining: 28m 37s
100:	learn: 11517.9435566	test: 11790.6256526	best: 11790.6256526 (100)	total: 17.2s	remaining: 28m 6s
150:	learn: 10706.4196592	test: 11135.7724746	best: 11135.7724746 (150)	total: 25.6s	remaining: 27m 49s
200:	learn: 10170.6991693	test: 10812.0592487	best: 10812.0592487 (200)	total: 33.9s	remaining: 27m 33s
250:	learn: 9764.2992751	test: 10565.6473245	best: 10564.3427044 (249)	total: 42.3s	remaining: 27m 21s
300:	learn: 9456.2865269	test: 10406.2180447	best: 10406.2180447 (300)	total: 50.8s	remaining: 27m 15s
350:	learn: 9204.8139432	test: 10319.1291896	best: 10319.1291896 (350)	total: 59s	remaining: 27m 3s
400:	learn: 9005.1689021	test: 10231.3006785	best: 10231.3006785 (400)	total: 1m 7s	remaining: 26m 50s
450:	learn: 8837.1282272	test: 10147.0013430	best: 10146.4173649 (449)	total: 1m 15s	remaining: 26m 43s
500:	learn: 8682.1608279	test: 10072.1273095	best: 10072.1273095 (500)	total: 1m 24s	remaining: 26m 34s
550:	learn: 8567.4757974	test: 10028.2463372	best: 10028.2463372 (550)	total: 1m 32s	remaining: 26m 27s
600:	learn: 8442.5021419	test: 10011.2020642	best: 10009.0715564 (588)	total: 1m 40s	remaining: 26m 16s
650:	learn: 8350.4179639	test: 9977.5201107	best: 9977.5201107 (650)	total: 1m 49s	remaining: 26m 9s
700:	learn: 8270.4568443	test: 9956.4661466	best: 9956.4046379 (690)	total: 1m 57s	remaining: 25m 59s
750:	learn: 8170.2553049	test: 9950.8161502	best: 9938.5714525 (724)	total: 2m 6s	remaining: 25m 53s
800:	learn: 8096.4685231	test: 9949.0383009	best: 9937.2303104 (795)	total: 2m 14s	remaining: 25m 45s
850:	learn: 8031.2069421	test: 9927.0907322	best: 9925.8989498 (839)	total: 2m 22s	remaining: 25m 36s
900:	learn: 7954.6540346	test: 9966.5247727	best: 9914.1251710 (868)	total: 2m 31s	remaining: 25m 29s
950:	learn: 7889.9834469	test: 9976.8540464	best: 9914.1251710 (868)	total: 2m 39s	remaining: 25m 18s
1000:	learn: 7831.5271672	test: 9993.0890353	best: 9914.1251710 (868)	total: 2m 48s	remaining: 25m 11s
1050:	learn: 7778.9574623	test: 9994.7779043	best: 9914.1251710 (868)	total: 2m 56s	remaining: 25m 5s
bestTest = 9914.125171
bestIteration = 868
Shrink model to first 869 iterations.
-------------- Fold 2 ending ---------------
-------------- Fold 3 starting ---------------
Learning rate set to 0.079026
0:	learn: 28582.8003011	test: 32754.3126122	best: 32754.3126122 (0)	total: 432ms	remaining: 1h 11m 59s
50:	learn: 12704.1287292	test: 16165.7701851	best: 16165.7701851 (50)	total: 8.92s	remaining: 29m
100:	learn: 11147.9240017	test: 14684.6417247	best: 14684.6417247 (100)	total: 17.2s	remaining: 28m 6s
150:	learn: 10339.7509242	test: 13899.5853293	best: 13899.5853293 (150)	total: 25.4s	remaining: 27m 38s
200:	learn: 9829.1245901	test: 13630.3025640	best: 13629.8629730 (199)	total: 33.6s	remaining: 27m 19s
250:	learn: 9421.6485194	test: 13424.1290895	best: 13408.8111747 (246)	total: 42s	remaining: 27m 11s
300:	learn: 9135.1886676	test: 13346.3040479	best: 13337.3594972 (296)	total: 50.1s	remaining: 26m 55s
350:	learn: 8900.1555487	test: 13291.7015837	best: 13291.7015837 (350)	total: 58.4s	remaining: 26m 44s
400:	learn: 8695.2873393	test: 13308.6337326	best: 13289.6330549 (357)	total: 1m 6s	remaining: 26m 36s
450:	learn: 8542.2407858	test: 13255.1810182	best: 13255.1810182 (450)	total: 1m 15s	remaining: 26m 34s
500:	learn: 8404.4433623	test: 13242.2795646	best: 13222.6352825 (499)	total: 1m 23s	remaining: 26m 25s
550:	learn: 8274.6814824	test: 13285.2576972	best: 13222.6352825 (499)	total: 1m 31s	remaining: 26m 17s
600:	learn: 8175.3043946	test: 13256.3428691	best: 13222.6352825 (499)	total: 1m 40s	remaining: 26m 5s
650:	learn: 8075.4048346	test: 13261.4672833	best: 13222.6352825 (499)	total: 1m 48s	remaining: 25m 56s
bestTest = 13222.63528
bestIteration = 499
Shrink model to first 500 iterations.
-------------- Fold 3 ending ---------------
-------------- Fold 4 starting ---------------
Learning rate set to 0.079026
0:	learn: 29955.8440864	test: 27227.2808696	best: 27227.2808696 (0)	total: 427ms	remaining: 1h 11m 5s
50:	learn: 13356.0425716	test: 12219.7575349	best: 12219.7575349 (50)	total: 8.79s	remaining: 28m 35s
100:	learn: 11666.7215810	test: 11053.9215585	best: 11053.9215585 (100)	total: 17s	remaining: 27m 50s
150:	learn: 10852.0619200	test: 10507.7116591	best: 10507.7116591 (150)	total: 25.4s	remaining: 27m 36s
200:	learn: 10278.8442927	test: 10203.4183656	best: 10203.1361060 (199)	total: 33.6s	remaining: 27m 16s

250:	learn: 9861.4219674	test: 10049.9054928	best: 10049.9054928 (250)	total: 41.8s	remaining: 27m 2s
300:	learn: 9564.1568541	test: 9925.2213930	best: 9923.4452112 (299)	total: 49.8s	remaining: 26m 45s
350:	learn: 9315.2493622	test: 9873.6959672	best: 9873.1829971 (349)	total: 58.1s	remaining: 26m 38s
400:	learn: 9098.7784155	test: 9855.7160490	best: 9815.3642454 (394)	total: 1m 6s	remaining: 26m 31s
450:	learn: 8915.0367521	test: 9832.4736270	best: 9815.3642454 (394)	total: 1m 14s	remaining: 26m 24s
500:	learn: 8774.3403299	test: 9812.6628557	best: 9805.0522128 (495)	total: 1m 23s	remaining: 26m 14s
550:	learn: 8642.5615020	test: 9767.1231434	best: 9767.1231434 (550)	total: 1m 31s	remaining: 26m 6s
600:	learn: 8506.3816084	test: 9829.3290331	best: 9767.1231434 (550)	total: 1m 39s	remaining: 25m 59s
650:	learn: 8398.8237722	test: 9850.2720697	best: 9767.1231434 (550)	total: 1m 48s	remaining: 25m 53s
700:	learn: 8304.5587323	test: 9837.3226052	best: 9767.1231434 (550)	total: 1m 56s	remaining: 25m 47s
750:	learn: 8212.5066832	test: 9876.6006191	best: 9767.1231434 (550)	total: 2m 5s	remaining: 25m 41s
bestTest = 9767.123143
bestIteration = 550
Shrink model to first 551 iterations.
-------------- Fold 4 ending ---------------

In [ ]:
count = 0
models_list = []
for train_idx, val_idx in gkfold.split(training_data_df, groups=training_data_df['주소_건축년도']):
    print('-------------- Fold {} starting ---------------'.format(count))
    
    x_train = training_data_df.drop(columns=['주소_건축년도', '거래/보증금(만원)']).loc[train_idx, :]
    y_train = training_data_df['거래/보증금(만원)'].loc[train_idx]
    
    x_val = training_data_df.drop(columns=['주소_건축년도', '거래/보증금(만원)']).loc[val_idx, :]
    y_val = training_data_df['거래/보증금(만원)'].loc[val_idx]
    
    train_pool = catboost.Pool(x_train, y_train, cat_features=cat_cols)
    val_pool = catboost.Pool(x_val, y_val, cat_features=cat_cols)
    
    model = catboost.CatBoostRegressor(iterations=10000, depth=6, task_type='GPU', loss_function='Quantile:alpha=0.5')
    
    model.fit(train_pool, eval_set=val_pool, verbose=50, early_stopping_rounds=200)
    
    model.save_model('./Training/Training3_20220125/catboost_quantile05_{}'.format(count))
    
    print('-------------- Fold {} ending ---------------'.format(count))
    count += 1

-------------- Fold 0 starting ---------------
0:	learn: 9218.8632354	test: 9195.8661844	best: 9195.8661844 (0)	total: 380ms	remaining: 1h 3m 15s
50:	learn: 5179.7632508	test: 5196.1928033	best: 5196.1928033 (50)	total: 9.66s	remaining: 31m 24s
100:	learn: 4237.8242279	test: 4272.6669074	best: 4272.6669074 (100)	total: 19.5s	remaining: 31m 47s
150:	learn: 3796.8081943	test: 3829.9146556	best: 3829.9146556 (150)	total: 29.4s	remaining: 31m 57s
200:	learn: 3548.4239786	test: 3599.2751309	best: 3599.2751309 (200)	total: 39.5s	remaining: 32m 3s
250:	learn: 3407.7577231	test: 3473.5675875	best: 3473.5675875 (250)	total: 49.5s	remaining: 32m 1s
300:	learn: 3283.0732560	test: 3368.8800810	best: 3368.8800810 (300)	total: 59.7s	remaining: 32m 4s
350:	learn: 3167.7960210	test: 3271.9725818	best: 3271.9725818 (350)	total: 1m 9s	remaining: 31m 49s
400:	learn: 3075.8375991	test: 3201.8166399	best: 3201.8166399 (400)	total: 1m 19s	remaining: 31m 42s
450:	learn: 2987.5207924	test: 3135.5768413	best: 3135.5768413 (450)	total: 1m 29s	remaining: 31m 31s
500:	learn: 2915.7391257	test: 3084.6091429	best: 3084.6091429 (500)	total: 1m 39s	remaining: 31m 22s
550:	learn: 2862.1253781	test: 3047.7997699	best: 3047.6628842 (549)	total: 1m 49s	remaining: 31m 16s
600:	learn: 2819.7837414	test: 3023.6131779	best: 3023.6131779 (600)	total: 1m 59s	remaining: 31m 3s
650:	learn: 2773.8164006	test: 3000.0892946	best: 3000.0892946 (650)	total: 2m 9s	remaining: 30m 52s
700:	learn: 2737.0992018	test: 2981.9645671	best: 2981.9645671 (700)	total: 2m 18s	remaining: 30m 36s
750:	learn: 2703.4606691	test: 2969.1165056	best: 2969.1165056 (750)	total: 2m 28s	remaining: 30m 25s
800:	learn: 2669.7420760	test: 2949.5756930	best: 2949.5756930 (800)	total: 2m 38s	remaining: 30m 15s
850:	learn: 2642.0408989	test: 2928.1748008	best: 2928.1748008 (850)	total: 2m 47s	remaining: 30m 3s
900:	learn: 2617.3817673	test: 2915.8689783	best: 2915.6242510 (899)	total: 2m 57s	remaining: 29m 53s
950:	learn: 2590.9711550	test: 2908.2713169	best: 2907.6644233 (947)	total: 3m 7s	remaining: 29m 43s
1000:	learn: 2565.3293253	test: 2903.8293506	best: 2903.8293506 (1000)	total: 3m 17s	remaining: 29m 31s
1050:	learn: 2548.2223969	test: 2899.4235000	best: 2897.7217733 (1041)	total: 3m 26s	remaining: 29m 21s
1100:	learn: 2527.9963932	test: 2891.8298794	best: 2891.7889652 (1096)	total: 3m 36s	remaining: 29m 12s
1150:	learn: 2511.6829979	test: 2888.6211473	best: 2888.6211473 (1150)	total: 3m 46s	remaining: 29m 2s
1200:	learn: 2494.1265186	test: 2886.8800218	best: 2886.8800218 (1200)	total: 3m 56s	remaining: 28m 52s
1250:	learn: 2476.0707346	test: 2884.0986155	best: 2884.0986155 (1250)	total: 4m 6s	remaining: 28m 43s
1300:	learn: 2461.7419300	test: 2892.2763996	best: 2883.0962182 (1254)	total: 4m 15s	remaining: 28m 31s
1350:	learn: 2447.4702031	test: 2888.8744616	best: 2883.0962182 (1254)	total: 4m 25s	remaining: 28m 19s
1400:	learn: 2434.5741526	test: 2880.9095827	best: 2880.9047842 (1396)	total: 4m 35s	remaining: 28m 8s
1450:	learn: 2421.8021075	test: 2879.8988511	best: 2877.5566408 (1430)	total: 4m 45s	remaining: 27m 59s
1500:	learn: 2410.3670976	test: 2876.8138717	best: 2876.8115987 (1494)	total: 4m 54s	remaining: 27m 49s
1550:	learn: 2398.0494020	test: 2870.6555305	best: 2870.6401245 (1548)	total: 5m 4s	remaining: 27m 39s
1600:	learn: 2385.7031674	test: 2870.1249090	best: 2866.5295126 (1587)	total: 5m 14s	remaining: 27m 27s
1650:	learn: 2375.6178205	test: 2874.2526948	best: 2866.5295126 (1587)	total: 5m 23s	remaining: 27m 16s
1700:	learn: 2366.1764932	test: 2871.1351356	best: 2866.5295126 (1587)	total: 5m 33s	remaining: 27m 5s
1750:	learn: 2356.2244963	test: 2866.5343112	best: 2866.4065175 (1744)	total: 5m 42s	remaining: 26m 54s
1800:	learn: 2348.1694527	test: 2863.1202505	best: 2863.1202505 (1800)	total: 5m 52s	remaining: 26m 45s
1850:	learn: 2338.3972761	test: 2861.3725585	best: 2860.9088645 (1846)	total: 6m 2s	remaining: 26m 35s
1900:	learn: 2329.0294428	test: 2858.6772740	best: 2858.6772740 (1900)	total: 6m 12s	remaining: 26m 26s
1950:	learn: 2320.2106678	test: 2861.9941004	best: 2858.6772740 (1900)	total: 6m 21s	remaining: 26m 15s
2000:	learn: 2311.8927127	test: 2858.7149050	best: 2858.6772740 (1900)	total: 6m 31s	remaining: 26m 6s
2050:	learn: 2303.0532281	test: 2855.4629857	best: 2855.4619754 (2049)	total: 6m 41s	remaining: 25m 55s
2100:	learn: 2295.0532419	test: 2852.2939049	best: 2852.2449089 (2098)	total: 6m 51s	remaining: 25m 46s
2150:	learn: 2287.1568039	test: 2850.7255281	best: 2849.5008810 (2136)	total: 7m 1s	remaining: 25m 37s
2200:	learn: 2279.9892446	test: 2847.1369508	best: 2847.1369508 (2200)	total: 7m 10s	remaining: 25m 27s
2250:	learn: 2272.1847373	test: 2847.7880418	best: 2847.1369508 (2200)	total: 7m 20s	remaining: 25m 16s
2300:	learn: 2263.8660246	test: 2844.9470322	best: 2844.3825681 (2295)	total: 7m 30s	remaining: 25m 6s
2350:	learn: 2255.9872656	test: 2850.9859140	best: 2844.3825681 (2295)	total: 7m 40s	remaining: 24m 56s
2400:	learn: 2249.3296183	test: 2848.5691995	best: 2844.3825681 (2295)	total: 7m 49s	remaining: 24m 47s
2450:	learn: 2242.8371431	test: 2848.1976887	best: 2844.3825681 (2295)	total: 7m 59s	remaining: 24m 37s
bestTest = 2844.382568
bestIteration = 2295
Shrink model to first 2296 iterations.
-------------- Fold 0 ending ---------------
-------------- Fold 1 starting ---------------

In [ ]:
count = 0
models_list = []
for train_idx, val_idx in gkfold.split(training_data_df, groups=training_data_df['주소_건축년도']):
    print('-------------- Fold {} starting ---------------'.format(count))
    
    x_train = training_data_df.drop(columns=['주소_건축년도', '거래/보증금(만원)']).loc[train_idx, :]
    y_train = training_data_df['거래/보증금(만원)'].loc[train_idx]
    
    x_val = training_data_df.drop(columns=['주소_건축년도', '거래/보증금(만원)']).loc[val_idx, :]
    y_val = training_data_df['거래/보증금(만원)'].loc[val_idx]
    
    train_pool = catboost.Pool(x_train, y_train, cat_features=cat_cols)
    val_pool = catboost.Pool(x_val, y_val, cat_features=cat_cols)
    
    model = catboost.CatBoostRegressor(iterations=10000, depth=6, task_type='GPU', loss_function='Quantile:alpha=0.25')
    
    model.fit(train_pool, eval_set=val_pool, verbose=50, early_stopping_rounds=200)
    
    model.save_model('./Training/Training3_20220125/catboost_quantile025_{}'.format(count))
    
    print('-------------- Fold {} ending ---------------'.format(count))
    count += 1

In [ ]:
count = 0
models_list = []
for train_idx, val_idx in gkfold.split(training_data_df, groups=training_data_df['주소_건축년도']):
    print('-------------- Fold {} starting ---------------'.format(count))
    
    x_train = training_data_df.drop(columns=['주소_건축년도', '거래/보증금(만원)']).loc[train_idx, :]
    y_train = training_data_df['거래/보증금(만원)'].loc[train_idx]
    
    x_val = training_data_df.drop(columns=['주소_건축년도', '거래/보증금(만원)']).loc[val_idx, :]
    y_val = training_data_df['거래/보증금(만원)'].loc[val_idx]
    
    train_pool = catboost.Pool(x_train, y_train, cat_features=cat_cols)
    val_pool = catboost.Pool(x_val, y_val, cat_features=cat_cols)
    
    model = catboost.CatBoostRegressor(iterations=10000, depth=6, task_type='GPU', loss_function='Quantile:alpha=0.75')
    
    model.fit(train_pool, eval_set=val_pool, verbose=50, early_stopping_rounds=200)
    
    model.save_model('./Training/Training3_20220125/catboost_quantile075_{}'.format(count))
    
    print('-------------- Fold {} ending ---------------'.format(count))
    count += 1

In [ ]:
count = 0
models_list = []
for train_idx, val_idx in gkfold.split(training_data_df, groups=training_data_df['주소_건축년도']):
    print('-------------- Fold {} starting ---------------'.format(count))
    
    x_train = training_data_df.drop(columns=['주소_건축년도', '거래/보증금(만원)']).loc[train_idx, :]
    y_train = training_data_df['거래/보증금(만원)'].loc[train_idx]
    
    x_val = training_data_df.drop(columns=['주소_건축년도', '거래/보증금(만원)']).loc[val_idx, :]
    y_val = training_data_df['거래/보증금(만원)'].loc[val_idx]
    
    train_pool = catboost.Pool(x_train, y_train, cat_features=cat_cols)
    val_pool = catboost.Pool(x_val, y_val, cat_features=cat_cols)
    
    model = catboost.CatBoostRegressor(iterations=10000, depth=6, task_type='GPU', loss_function='Quantile:alpha=0.125')
    
    model.fit(train_pool, eval_set=val_pool, verbose=50, early_stopping_rounds=200)
    
    model.save_model('./Training/Training3_20220125/catboost_quantile0125_{}'.format(count))
    
    print('-------------- Fold {} ending ---------------'.format(count))
    count += 1

In [ ]:
count = 0
models_list = []
for train_idx, val_idx in gkfold.split(training_data_df, groups=training_data_df['주소_건축년도']):
    print('-------------- Fold {} starting ---------------'.format(count))
    
    x_train = training_data_df.drop(columns=['주소_건축년도', '거래/보증금(만원)']).loc[train_idx, :]
    y_train = training_data_df['거래/보증금(만원)'].loc[train_idx]
    
    x_val = training_data_df.drop(columns=['주소_건축년도', '거래/보증금(만원)']).loc[val_idx, :]
    y_val = training_data_df['거래/보증금(만원)'].loc[val_idx]
    
    train_pool = catboost.Pool(x_train, y_train, cat_features=cat_cols)
    val_pool = catboost.Pool(x_val, y_val, cat_features=cat_cols)
    
    model = catboost.CatBoostRegressor(iterations=10000, depth=6, task_type='GPU', loss_function='Quantile:alpha=0.875')
    
    model.fit(train_pool, eval_set=val_pool, verbose=50, early_stopping_rounds=200)
    
    model.save_model('./Training/Training3_20220125/catboost_quantile0875_{}'.format(count))
    
    print('-------------- Fold {} ending ---------------'.format(count))
    count += 1