In [1]:
import pandas as pd
import numpy as np
import os
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
import tqdm
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
matplotlib.rcParams['axes.unicode_minus'] = False
pd.options.mode.chained_assignment = None  # default='warn'
plt.rcParams['font.family'] = 'Malgun Gothic'
font = {'size': 16}
matplotlib.rc('font', **font)
tqdm.tqdm.pandas()

In [2]:
%%time
main_data_df = pd.read_csv('./Prepped Data/main_data_coor_days_20211223.csv')
print(main_data_df.shape)
main_data_df.head()

<string>:2: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.

(5097504, 22)
Wall time: 11.8 s

,시군구,번지,본번,부번,건물/단지명,거래유형,전용면적(㎡),거래/보증금(만원),월세(만원),층,건축년도,도로명,부동산유형,가격범위,건물단지명_키워드,브랜드,대장구분명,지목,x좌표,y좌표,계약날짜,계약날짜일수_2006년기준
0,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,2253,12,12.0,1991.0,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-02-22,4070
1,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,730,10,8.0,1991.0,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-04-26,4133
2,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,1815,4,8.0,1991.0,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-08-31,4260
3,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,3865,17,11.0,1991.0,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2018-03-29,4470
4,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,3062,7,9.0,1991.0,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2018-07-14,4577

In [3]:
sh_df = main_data_df[main_data_df['건물/단지명'].str.contains('SH')]
print(sh_df.shape)
sh_df.head()

(1090, 22)

,시군구,번지,본번,부번,건물/단지명,거래유형,전용면적(㎡),거래/보증금(만원),월세(만원),층,건축년도,도로명,부동산유형,가격범위,건물단지명_키워드,브랜드,대장구분명,지목,x좌표,y좌표,계약날짜,계약날짜일수_2006년기준
0,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,2253,12,12.0,1991.0,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-02-22,4070
1,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,730,10,8.0,1991.0,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-04-26,4133
2,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,1815,4,8.0,1991.0,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-08-31,4260
3,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,3865,17,11.0,1991.0,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2018-03-29,4470
4,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,3062,7,9.0,1991.0,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2018-07-14,4577

In [4]:
sh_df['건물/단지명'].value_counts()

장월에스에이치빌1단지(국민임대,SH소유    255
당산SHVILLE                164
SHVille(임대)              144
신림SH빌(임대)                103
불광SH빌                     63
BLESSHOME                 61
응암SH-VILLE                57
SH스카이                     38
SHHOUSE                   37
SH팰리스                     28
방배SH-VILLE임대아파트           17
J/SHome                   17
SH빌딩                      16
SHEEL TOWER               15
WISH희망                    13
PLUSHOUSE                 11
희망(WISH)                  10
SH그랜드빌                     9
SH하우스                      8
JSHAUS                     7
SHville                    6
SH온수                       6
SH대치1단지아파트                 5
Name: 건물/단지명, dtype: int64

In [5]:
lh_df = main_data_df[main_data_df['건물/단지명'].str.contains('lh')]
print(lh_df.shape)
lh_df.head()

(42, 22)

,시군구,번지,본번,부번,건물/단지명,거래유형,전용면적(㎡),거래/보증금(만원),월세(만원),층,건축년도,도로명,부동산유형,가격범위,건물단지명_키워드,브랜드,대장구분명,지목,x좌표,y좌표,계약날짜,계약날짜일수_2006년기준
3171313,서울특별시 서초구 양재동,306-13,306,13,Fullhouse,전세,63.32,27000,0,2.0,2010.0,언남길 62,연립다세대,26000~28000,Fullhouse,기타,일반,대,203830.723844,441321.631048,2011-05-31,1976
3171314,서울특별시 서초구 양재동,306-13,306,13,Fullhouse,전세,63.32,31000,0,5.0,2010.0,언남길 62,연립다세대,30000~32000,Fullhouse,기타,일반,대,203830.723844,441321.631048,2011-08-04,2041
3171315,서울특별시 서초구 양재동,306-13,306,13,Fullhouse,전세,63.32,33000,0,5.0,2010.0,언남길 62,연립다세대,32000~34000,Fullhouse,기타,일반,대,203830.723844,441321.631048,2013-07-03,2740
3171316,서울특별시 서초구 양재동,306-13,306,13,Fullhouse,전세,63.32,33000,0,3.0,2010.0,언남길 62,연립다세대,32000~34000,Fullhouse,기타,일반,대,203830.723844,441321.631048,2014-12-02,3257
3171317,서울특별시 서초구 양재동,306-13,306,13,Fullhouse,전세,63.32,33000,0,2.0,2010.0,언남길 62,연립다세대,32000~34000,Fullhouse,기타,일반,대,203830.723844,441321.631048,2015-03-15,3360

In [6]:
lh_df['건물/단지명'].value_counts()

solhouse(172-24)    22
Fullhouse           20
Name: 건물/단지명, dtype: int64

In [7]:
main_data_df['구'] = main_data_df['시군구'].apply(lambda x: x.split(' ')[1])
main_data_df['동'] = main_data_df['시군구'].apply(lambda x: x.split(' ')[2])

In [8]:
main_data_df['층'] = main_data_df['층'].astype('Int64')

In [9]:
main_data_df['건축년도'] = main_data_df['건축년도'].astype('Int64')

In [10]:
main_data_df['계약날짜일수_2006년기준'] = main_data_df['계약날짜일수_2006년기준'].astype('Int64')

In [11]:
main_data_df.head()

,시군구,번지,본번,부번,건물/단지명,거래유형,전용면적(㎡),거래/보증금(만원),월세(만원),층,건축년도,도로명,부동산유형,가격범위,건물단지명_키워드,브랜드,대장구분명,지목,x좌표,y좌표,계약날짜,계약날짜일수_2006년기준,구,동
0,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,2253,12,12,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-02-22,4070,강남구,개포동
1,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,730,10,8,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-04-26,4133,강남구,개포동
2,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,1815,4,8,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-08-31,4260,강남구,개포동
3,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,3865,17,11,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2018-03-29,4470,강남구,개포동
4,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,3062,7,9,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2018-07-14,4577,강남구,개포동

In [12]:
main_data_df['건축년도'].value_counts()

2003    301645
2002    286103
2004    278599
1988    180598
2005    177446
2008    176691
2001    170217
2000    165435
1999    158687
2012    143018
1997    136454
2011    135093
1993    134153
2014    131857
2013    131669
1992    130002
2016    124572
2006    124397
1998    120709
1986    117569
2007    116785
1994    112663
1996    109943
2015    108408
1991    104347
1995     99468
2009     98915
1987     98479
2010     98132
2017     97060
2018     85950
1989     80876
2019     76940
1990     68241
2020     54260
1983     46791
1985     36054
1982     34995
1984     34848
1978     33117
1979     29515
2021     27272
1980     26086
1981     23191
1976     11378
1977     10947
1974      9615
1971      8157
1975      8033
1973      3599
1970      2098
1972      1560
1969      1151
1968       877
1965       391
1966       289
1967       124
1961       124
1956        94
1964        39
1963        39
1958        15
1962         9
1959         8
1960         7
1940         5
1925         5
1942         1
1955         1
1932         1
Name: 건축년도, dtype: Int64

In [13]:
main_data_df['건축년도'] = main_data_df['건축년도'].apply(lambda x: '1990이하' if x <= 1990 else str(x))

TypeError: boolean value of NA is ambiguous

In [14]:
main_data_df.isna().sum()

시군구                    0
번지                     2
본번                     0
부번                     0
건물/단지명                 0
거래유형                   0
전용면적(㎡)               36
거래/보증금(만원)             0
월세(만원)                 0
층                  17650
건축년도               11687
도로명                    0
부동산유형                  0
가격범위                   0
건물단지명_키워드         270666
브랜드                    0
대장구분명                  0
지목                     0
x좌표                    0
y좌표                    0
계약날짜                   0
계약날짜일수_2006년기준         0
구                      0
동                      0
dtype: int64

In [15]:
nan_df = main_data_df[main_data_df['건물단지명_키워드'].isna()]
print(nan_df.shape)
nan_df.head()

(270666, 24)

,시군구,번지,본번,부번,건물/단지명,거래유형,전용면적(㎡),거래/보증금(만원),월세(만원),층,건축년도,도로명,부동산유형,가격범위,건물단지명_키워드,브랜드,대장구분명,지목,x좌표,y좌표,계약날짜,계약날짜일수_2006년기준,구,동
18259,서울특별시 강남구 개포동,159-2,159,2,(159-2),전세,57.55,15000,0,2,1987,선릉로8길 12,연립다세대,14000~16000,NaN,기타,일반,대,205383.965169,442307.753937,2011-10-11,2109,강남구,개포동
18260,서울특별시 강남구 개포동,159-2,159,2,(159-2),전세,41.46,10000,0,2,1987,선릉로8길 12,연립다세대,1억4천 이하,NaN,기타,일반,대,205383.965169,442307.753937,2013-03-05,2620,강남구,개포동
18261,서울특별시 강남구 개포동,159-2,159,2,(159-2),월세,41.45,5000,30,2,1987,선릉로8길 12,연립다세대,1억4천 이하,NaN,기타,일반,대,205383.965169,442307.753937,2013-05-20,2696,강남구,개포동
18262,서울특별시 강남구 개포동,159-2,159,2,(159-2),전세,57.55,15500,0,2,1987,선릉로8길 12,연립다세대,14000~16000,NaN,기타,일반,대,205383.965169,442307.753937,2013-11-18,2878,강남구,개포동
18263,서울특별시 강남구 개포동,159-2,159,2,(159-2),월세,57.55,10000,50,1,1987,선릉로8길 12,연립다세대,1억4천 이하,NaN,기타,일반,대,205383.965169,442307.753937,2014-02-24,2976,강남구,개포동

In [16]:
main_data_df['건물단지명_키워드'].fillna('없음', inplace=True)

In [17]:
main_data_df.isna().sum()

시군구                   0
번지                    2
본번                    0
부번                    0
건물/단지명                0
거래유형                  0
전용면적(㎡)              36
거래/보증금(만원)            0
월세(만원)                0
층                 17650
건축년도              11687
도로명                   0
부동산유형                 0
가격범위                  0
건물단지명_키워드             0
브랜드                   0
대장구분명                 0
지목                    0
x좌표                   0
y좌표                   0
계약날짜                  0
계약날짜일수_2006년기준        0
구                     0
동                     0
dtype: int64

In [18]:
main_data_df = main_data_df.dropna().reset_index(drop=True)
print(main_data_df.shape)
main_data_df.head()

(5068169, 24)

,시군구,번지,본번,부번,건물/단지명,거래유형,전용면적(㎡),거래/보증금(만원),월세(만원),층,건축년도,도로명,부동산유형,가격범위,건물단지명_키워드,브랜드,대장구분명,지목,x좌표,y좌표,계약날짜,계약날짜일수_2006년기준,구,동
0,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,2253,12,12,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-02-22,4070,강남구,개포동
1,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,730,10,8,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-04-26,4133,강남구,개포동
2,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,1815,4,8,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-08-31,4260,강남구,개포동
3,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,3865,17,11,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2018-03-29,4470,강남구,개포동
4,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,3062,7,9,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2018-07-14,4577,강남구,개포동

In [20]:
main_data_df.dtypes

시군구                object
번지                 object
본번                  int64
부번                  int64
건물/단지명             object
거래유형               object
전용면적(㎡)           float64
거래/보증금(만원)          int64
월세(만원)              int64
층                   Int64
건축년도                Int64
도로명                object
부동산유형              object
가격범위               object
건물단지명_키워드          object
브랜드                object
대장구분명              object
지목                 object
x좌표               float64
y좌표               float64
계약날짜               object
계약날짜일수_2006년기준      Int64
구                  object
동                  object
dtype: object

In [21]:
main_data_df['주소_건축년도'] = main_data_df['시군구'] + ' ' + main_data_df['번지'].apply(str) + ' ' + main_data_df['건축년도'].apply(str)

In [25]:
main_data_df.head()

,시군구,번지,본번,부번,건물/단지명,거래유형,전용면적(㎡),거래/보증금(만원),월세(만원),층,건축년도,도로명,부동산유형,가격범위,건물단지명_키워드,브랜드,대장구분명,지목,x좌표,y좌표,계약날짜,계약날짜일수_2006년기준,구,동,주소_건축년도
0,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,2253,12,12,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-02-22,4070,강남구,개포동,서울특별시 강남구 개포동 12 1991
1,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,730,10,8,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-04-26,4133,강남구,개포동,서울특별시 강남구 개포동 12 1991
2,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,1815,4,8,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2017-08-31,4260,강남구,개포동,서울특별시 강남구 개포동 12 1991
3,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,3865,17,11,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2018-03-29,4470,강남구,개포동,서울특별시 강남구 개포동 12 1991
4,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,월세,25.35,3062,7,9,1991,개포로109길 5,아파트,1억4천 이하,SH대치단지,기타,일반,대,206607.181143,443586.061143,2018-07-14,4577,강남구,개포동,서울특별시 강남구 개포동 12 1991

In [22]:
main_data_df.isna().sum()

시군구               0
번지                0
본번                0
부번                0
건물/단지명            0
거래유형              0
전용면적(㎡)           0
거래/보증금(만원)        0
월세(만원)            0
층                 0
건축년도              0
도로명               0
부동산유형             0
가격범위              0
건물단지명_키워드         0
브랜드               0
대장구분명             0
지목                0
x좌표               0
y좌표               0
계약날짜              0
계약날짜일수_2006년기준    0
구                 0
동                 0
주소_건축년도           0
dtype: int64

In [23]:
main_data_df['건물단지명_키워드'].nunique()

42695

In [24]:
main_data_df['지목'].value_counts()

대    5043737
임       5555
전       5065
도       4965
답       2764
장       2039
잡       1690
철        898
차        512
종        347
주        300
공        119
학         67
수         46
창         32
과         20
사         13
Name: 지목, dtype: int64

In [26]:
cat_cols = ['거래유형', '층', '건축년도', '부동산유형', '브랜드', '대장구분명', '구', '동']

In [27]:
for col in tqdm.tqdm_notebook(cat_cols):
    unique_cats = main_data_df[col].unique()
    
    # mapping
    cat_map = {}
    for i, v in enumerate(unique_cats):
        cat_map[v] = i
        
    main_data_df[col] = main_data_df[col].map(cat_map)
    
    map_df = pd.DataFrame(cat_map, index=[0])
    map_df.to_excel('./Training/Training1_20211223/cat_col_maps/{}'.format(col+'.xlsx'), index=False)

c:\users\max6296\ml\lib\site-packages\ipykernel_launcher.py:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """Entry point for launching an IPython kernel.

  0%|          | 0/8 [00:00<?, ?it/s]

In [28]:
main_data_df.head()

,시군구,번지,본번,부번,건물/단지명,거래유형,전용면적(㎡),거래/보증금(만원),월세(만원),층,건축년도,도로명,부동산유형,가격범위,건물단지명_키워드,브랜드,대장구분명,지목,x좌표,y좌표,계약날짜,계약날짜일수_2006년기준,구,동,주소_건축년도
0,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,0,25.35,2253,12,0,0,개포로109길 5,0,1억4천 이하,SH대치단지,0,0,대,206607.181143,443586.061143,2017-02-22,4070,0,0,서울특별시 강남구 개포동 12 1991
1,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,0,25.35,730,10,1,0,개포로109길 5,0,1억4천 이하,SH대치단지,0,0,대,206607.181143,443586.061143,2017-04-26,4133,0,0,서울특별시 강남구 개포동 12 1991
2,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,0,25.35,1815,4,1,0,개포로109길 5,0,1억4천 이하,SH대치단지,0,0,대,206607.181143,443586.061143,2017-08-31,4260,0,0,서울특별시 강남구 개포동 12 1991
3,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,0,25.35,3865,17,2,0,개포로109길 5,0,1억4천 이하,SH대치단지,0,0,대,206607.181143,443586.061143,2018-03-29,4470,0,0,서울특별시 강남구 개포동 12 1991
4,서울특별시 강남구 개포동,12,12,0,SH대치1단지아파트,0,25.35,3062,7,3,0,개포로109길 5,0,1억4천 이하,SH대치단지,0,0,대,206607.181143,443586.061143,2018-07-14,4577,0,0,서울특별시 강남구 개포동 12 1991

In [30]:
training_data_df = main_data_df[['주소_건축년도', '전용면적(㎡)', '월세(만원)', 'x좌표', 'y좌표', '계약날짜일수_2006년기준'] + cat_cols + ['거래/보증금(만원)']]
print(training_data_df.shape)
training_data_df.head()

(5068169, 15)

,주소_건축년도,전용면적(㎡),월세(만원),x좌표,y좌표,계약날짜일수_2006년기준,거래유형,층,건축년도,부동산유형,브랜드,대장구분명,구,동,거래/보증금(만원)
0,서울특별시 강남구 개포동 12 1991,25.35,12,206607.181143,443586.061143,4070,0,0,0,0,0,0,0,0,2253
1,서울특별시 강남구 개포동 12 1991,25.35,10,206607.181143,443586.061143,4133,0,1,0,0,0,0,0,0,730
2,서울특별시 강남구 개포동 12 1991,25.35,4,206607.181143,443586.061143,4260,0,1,0,0,0,0,0,0,1815
3,서울특별시 강남구 개포동 12 1991,25.35,17,206607.181143,443586.061143,4470,0,2,0,0,0,0,0,0,3865
4,서울특별시 강남구 개포동 12 1991,25.35,7,206607.181143,443586.061143,4577,0,3,0,0,0,0,0,0,3062

In [31]:
%%time
training_data_df.to_csv('./Prepped Data/training_data_20211223.csv', index=False)

Wall time: 19.7 s