In [1]:
import pandas as pd
import numpy as np
import os
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
from tqdm import tqdm
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
matplotlib.rcParams['axes.unicode_minus'] = False
pd.options.mode.chained_assignment = None  # default='warn'
plt.rcParams['font.family'] = 'Malgun Gothic'
font = {'size': 16}
matplotlib.rc('font', **font)
tqdm.pandas()

In [2]:
main_data_df = pd.read_csv('./Prepped Data/main_data_baseline_20211202.csv')
print(main_data_df.shape)
main_data_df.head()

(5188101, 18)

,시군구,번지,본번,부번,건물/단지명,거래유형,전용면적(㎡),계약년월,계약일,거래/보증금(만원),월세(만원),층,건축년도,도로명,부동산유형,가격범위,건물단지명_키워드,브랜드
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201101,5,35000,0,7.0,1988.0,언주로 103,아파트,34000~36000,개포현대,현대
1,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201101,18,20000,0,8.0,1988.0,언주로 103,아파트,18000~20000,개포현대,현대
2,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201102,1,24000,0,5.0,1988.0,언주로 103,아파트,22000~24000,개포현대,현대
3,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201102,11,31000,0,9.0,1988.0,언주로 103,아파트,30000~32000,개포현대,현대
4,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201102,24,30500,0,9.0,1988.0,언주로 103,아파트,30000~32000,개포현대,현대

In [3]:
main_data_df['번지'].isna().sum()

2755

In [4]:
main_data_df['부번'].isna().sum()

274

In [5]:
main_data_df['도로명'].isna().sum()

0

In [6]:
main_data_df['도로명'].value_counts()

             65601
올림픽로 435     15925
올림픽로 99      13442
올림픽로 135     13032
삼성로 212      12477
             ...
광장로1가길           1
도림로14길 9         1
우마1길 7-4         1
토정로33길 36        1
자하문로28길 9        1
Name: 도로명, Length: 114779, dtype: int64

In [8]:
(main_data_df['도로명'] == ' ').sum()

65601

In [9]:
space_df = main_data_df[main_data_df['도로명'] == ' ']
print(space_df.shape)
space_df.head()

(65601, 18)

,시군구,번지,본번,부번,건물/단지명,거래유형,전용면적(㎡),계약년월,계약일,거래/보증금(만원),월세(만원),층,건축년도,도로명,부동산유형,가격범위,건물단지명_키워드,브랜드
145719,서울특별시 종로구 평창동,596,596.0,0.0,삼성,전세,84.930,201112,13,25000,0,14.0,1998.0,,아파트,24000~26000,삼성,삼성
209617,서울특별시 노원구 월계동,382-15,382.0,15.0,새봄드림빌,월세,59.916,201201,17,2000,85,9.0,2012.0,,아파트,1억4천 이하,새봄드림빌,기타
209618,서울특별시 노원구 월계동,382-15,382.0,15.0,새봄드림빌,월세,84.831,201207,11,3000,100,1.0,2012.0,,아파트,1억4천 이하,새봄드림빌,기타
298928,서울특별시 종로구 평창동,596,596.0,0.0,삼성,월세,84.930,201201,14,5000,130,12.0,1998.0,,아파트,1억4천 이하,삼성,삼성
298932,서울특별시 종로구 평창동,596,596.0,0.0,삼성,전세,84.930,201206,2,20000,0,7.0,1998.0,,아파트,18000~20000,삼성,삼성

In [10]:
main_data_df.loc[space_df.index, '도로명'] = np.nan

In [11]:
main_data_df['도로명'].isna().sum()

65601

In [12]:
main_data_df['도로명'].value_counts()

올림픽로 435         15925
올림픽로 99          13442
올림픽로 135         13032
삼성로 212          12477
송파대로 345         10931
                 ...
우마1길 7-4             1
광장로1가길               1
도림로14길 9             1
토정로33길 36            1
봉은사로109길 49-7        1
Name: 도로명, Length: 114778, dtype: int64

In [13]:
inv_df = main_data_df[main_data_df['도로명'] == '올림픽로 435']
print(inv_df.shape)
inv_df.head()

(15925, 18)

,시군구,번지,본번,부번,건물/단지명,거래유형,전용면적(㎡),계약년월,계약일,거래/보증금(만원),월세(만원),층,건축년도,도로명,부동산유형,가격범위,건물단지명_키워드,브랜드
117005,서울특별시 송파구 신천동,17,17.0,0.0,파크리오,전세,84.97,201101,3,42000,0,18.0,2008.0,올림픽로 435,아파트,40000~42000,파크리오,기타
117006,서울특별시 송파구 신천동,17,17.0,0.0,파크리오,전세,59.95,201101,3,36000,0,20.0,2008.0,올림픽로 435,아파트,34000~36000,파크리오,기타
117007,서울특별시 송파구 신천동,17,17.0,0.0,파크리오,월세,84.97,201101,3,10000,170,11.0,2008.0,올림픽로 435,아파트,1억4천 이하,파크리오,기타
117008,서울특별시 송파구 신천동,17,17.0,0.0,파크리오,전세,84.79,201101,4,43000,0,16.0,2008.0,올림픽로 435,아파트,42000~44000,파크리오,기타
117009,서울특별시 송파구 신천동,17,17.0,0.0,파크리오,전세,59.95,201101,4,35000,0,8.0,2008.0,올림픽로 435,아파트,34000~36000,파크리오,기타

In [14]:
inv_df['번지'].nunique()

1

In [15]:
inv_df['시군구'].nunique()

1

In [16]:
main_data_df['계약년월'].dtype

dtype('int64')

In [17]:
main_data_df['계약일'].dtype

dtype('int64')

In [18]:
main_data_df['계약년월'] = main_data_df['계약년월'].astype(str)

In [19]:
main_data_df['계약일'] = main_data_df['계약일'].astype(str)

In [20]:
main_data_df['계약일'].value_counts()

20    191293
10    184788
15    180596
28    177073
23    175001
27    174017
16    173316
18    172858
25    171581
14    171197
9     171170
26    170707
11    170610
19    170452
22    170164
13    169968
21    169963
12    169957
30    168269
17    167199
7     167087
8     166453
24    166364
5     164477
4     161313
6     161169
1     160901
2     157790
29    157222
3     156137
31     99009
Name: 계약일, dtype: int64

In [21]:
main_data_df['계약날짜'] = main_data_df['계약년월'] + main_data_df['계약일'].apply(lambda x: '0'+x if len(x) < 2 else x)

In [22]:
main_data_df['계약날짜'].iloc[:5]

0    20110105
1    20110118
2    20110201
3    20110211
4    20110224
Name: 계약날짜, dtype: object

In [23]:
main_data_df['계약날짜'] = pd.to_datetime(main_data_df['계약날짜'], format='%Y%m%d')

In [24]:
main_data_df.head()

,시군구,번지,본번,부번,건물/단지명,거래유형,전용면적(㎡),계약년월,계약일,거래/보증금(만원),월세(만원),층,건축년도,도로명,부동산유형,가격범위,건물단지명_키워드,브랜드,계약날짜
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201101,5,35000,0,7.0,1988.0,언주로 103,아파트,34000~36000,개포현대,현대,2011-01-05
1,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201101,18,20000,0,8.0,1988.0,언주로 103,아파트,18000~20000,개포현대,현대,2011-01-18
2,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201102,1,24000,0,5.0,1988.0,언주로 103,아파트,22000~24000,개포현대,현대,2011-02-01
3,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201102,11,31000,0,9.0,1988.0,언주로 103,아파트,30000~32000,개포현대,현대,2011-02-11
4,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201102,24,30500,0,9.0,1988.0,언주로 103,아파트,30000~32000,개포현대,현대,2011-02-24

In [25]:
inv_df = main_data_df[main_data_df['도로명'] == '올림픽로 435'].sort_values(['계약날짜'])
print(inv_df.shape)
inv_df.head()

(15925, 19)

,시군구,번지,본번,부번,건물/단지명,거래유형,전용면적(㎡),계약년월,계약일,거래/보증금(만원),월세(만원),층,건축년도,도로명,부동산유형,가격범위,건물단지명_키워드,브랜드,계약날짜
2016841,서울특별시 송파구 신천동,17,17.0,0.0,파크리오,매매,59.95,200809,6,57000,0,10.0,2008.0,올림픽로 435,아파트,56000~58000,파크리오,기타,2008-09-06
2016842,서울특별시 송파구 신천동,17,17.0,0.0,파크리오,매매,84.79,200809,10,83000,0,26.0,2008.0,올림픽로 435,아파트,82000~84000,파크리오,기타,2008-09-10
2016843,서울특별시 송파구 신천동,17,17.0,0.0,파크리오,매매,84.79,200809,22,90000,0,26.0,2008.0,올림픽로 435,아파트,88000~90000,파크리오,기타,2008-09-22
2016844,서울특별시 송파구 신천동,17,17.0,0.0,파크리오,매매,59.95,200810,10,51000,0,3.0,2008.0,올림픽로 435,아파트,50000~52000,파크리오,기타,2008-10-10
2016845,서울특별시 송파구 신천동,17,17.0,0.0,파크리오,매매,84.79,200810,17,71500,0,3.0,2008.0,올림픽로 435,아파트,70000~72000,파크리오,기타,2008-10-17